<div class="filter-by">
  <div class="col-sm-12 col-md-1"><label>Search by:</label></div>
  <div class="col-sm-3 col-md-3">
    <div class="form-group">
      <div data-ui-select="" data-ng-model="searchObj.filterBy" data-theme="bootstrap"
           data-ng-attr-title="{{status.fetching ? 'Please wait for all records.' : ''}}"
           data-ng-disabled="status.fetching" data-search-enabled="true"  data-on-select="onFilterBySelect()" required="">
        <div data-ui-select-match="" data-placeholder="Type or Scroll to select an option">{{$select.selected.title}}</div>
        <div data-ui-select-choices="" data-group-by="groupFilterBy" data-repeat="type.value as type in searchObj.filterByOptions | filter: {title: $select.search}">
          <div ng-bind-html="type.title | highlight: $select.search"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="form-group" data-ng-hide="searchObj.filterBy === 'form'">
      <input type="text" class="form-control" placeholder="Search here..." data-ng-disabled="status.fetching"
             data-ng-attr-title="{{status.fetching ? 'Please wait for all records.' : ''}}"
             data-ng-model="searchObj.searchText" data-ng-model-options="{ debounce: 300 }"/>
    </div>
  </div>
  <div class="col-sm-6 col-md-5 text-right">
    <button class="btn btn-success" data-ng-if="::config.addRecord" data-ng-click="::config.addRecord.handler()" data-ng-bind="::config.addRecord.title"></button>
    <label>Total Count :  <span data-ng-bind="searchObj.searchItemsLength"></span></label>
  </div>
  <div class="col-md-12 advance-search" data-ng-if="::config.advanceSearch">
    <div class="col-md-4">
      <div class="checkbox">
        <input type="checkbox" id="check" data-ng-model="config.advanceSearch.useAdvanceSearch"
          data-ng-disabled="status.fetching"/>
        <label for="check"> Use advance search </label>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-danger" data-ng-click="clearAdvanceSearch()" title="Clear search and refresh pipeline."
        data-ng-disabled="status.fetching || !config.advanceSearch.useAdvanceSearch">Clear</button>
      <button class="btn btn-success" data-ng-click="config.advanceSearch.searchHandler()" title="Define an advance search."
        data-ng-disabled="status.fetching || !config.advanceSearch.useAdvanceSearch">Search form</button>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="table-responsive">
  <table class="table table-striped table-bordered bottom-mar-none" data-ng-class="::{'table-hover': config.selectRecord}">
    <thead>
    <tr>
      <th data-ng-if="::config.selectRecord"></th>
      <th data-ng-repeat="column in ::config.columns" data-ng-bind="column.title"></th>
      <th data-ng-if="::config.actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-show="status.fetching  && !searchObj.searchItemsLength">
      <td data-ng-attr-colspan="{{colspan}}">Fetching...</td>
    </tr>
    <tr data-ng-show="status.fetchingError">
      <td data-ng-attr-colspan="{{colspan}}" data-ng-bind="status.fetchingError"></td>
    </tr>
    <tr data-ng-show="!status.fetching && !status.fetchingError && !searchObj.searchItemsLength">
      <td data-ng-attr-colspan="{{colspan}}" data-ng-bind="'No records matched.'"></td>
    </tr>

    <!--for pipeline without actions-->
    <tr data-ng-if="::!config.actions" data-ng-repeat="record in data.records | filterBy: searchObj.filterBy : searchObj.searchText : searchObj | pagination: currentPage track by $index"
        data-ng-class="{'active': record.serial_number === data.selectedRecord.serial_number}" data-ng-click="onRecordSelect( record )">
      <td>
        <span class="checkbox" data-ng-show="::config.selectRecord === 'multiple'">
          <input type="checkbox" id="{{'check-' + $index}}" value="true" data-ng-model="data.selectedRecord" ng-checked="true" ng-disabled="data.selectedRecord" />
          <label for="{{'check-' + $index}}"></label>
        </span>
        <div class="radio" data-ng-show="::config.selectRecord === 'one'">
          <input type="radio" id="{{config.type+'-radio-' + $index}}" data-ng-model="data.selectedRecord" data-ng-value="record">
          <label for="{{config.type+'-radio-' + $index}}"></label>
        </div>
      </td>
      <td data-ng-repeat="column in ::config.columns" data-ng-bind-html="record[ column.value ] || '-'"></td>
    </tr>

    <!--for pipeline with actions-->
    <tr data-ng-if="::config.actions" data-ng-repeat="record in data.records | filterBy: searchObj.filterBy : searchObj.searchText: searchObj | pagination: currentPage track by $index">
      <td data-ng-repeat="column in ::config.columns" data-ng-bind-html="record[ column.value ] || '-'"></td>
      <td data-dropdown="">
        <a href="javascript:" class="setting dropdown" data-ng-class="{ disabled: status.fetching }"
           data-ng-disabled="config.actionsAllowedCheck && !record.customAllowAction"
           data-dropdown-toggle=""
           data-ng-attr-title="{{status.fetching ? 'Please wait for all records.' : config.actionsAllowedCheck && !record.customAllowAction ? 'Not allowed' : 'Click for options'}}"></a>
        <ul class="dropdown-menu" data-ng-class="{bottom: $last }">
          <li data-ng-repeat="action in ::config.actions" data-ng-click="action.handler(record)">
            <a href="javascript:" data-ng-bind="action.title"></a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="filter-by">
  <div class="col-md-2"><label>Selected group:</label></div>
  <div class="col-sm-2">
    <div class="form-group">
      <div data-ui-select="" data-ng-model="groupObj.groupNum" data-theme="bootstrap"
           data-ng-attr-title="{{status.fetching ? 'Please wait for all records.' : groupObj.groups.length > 1 ? 'Select records group.' : 'No more groups are available.'}}"
           data-ng-disabled="status.fetching || groupObj.groups.length <= 1" data-search-enabled="false" data-on-select="onGroupChange()">
        <div data-ui-select-match="" data-placeholder="Select">{{$select.selected.title}}</div>
        <div data-ui-select-choices="" data-repeat="group.value as group in groupObj.groups | filter: {title: $select.search}">
          <div ng-bind-html="group.title | highlight: $select.search"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 pull-right" data-ng-show="searchObj.searchItemsLength > 10">
    <nav style="margin: 0;" data-pagination="" data-max-size="5" data-rotate="false"
         data-boundary-links="true" data-total-items="searchObj.searchItemsLength" data-ng-model="currentPage">
    </nav>
  </div>
</div>
