
<div class="form-group" data-ng-class="{'fetching-list': fetching}">
  <i class="ajax fa fa-spinner fa-pulse"></i>
  <label data-ng-bind="::field.label"></label>
  <div data-ui-select="" name="{{::field.field_name}}" data-ng-model="formObj.data[field.field_name]"
       data-theme="bootstrap" data-search-enabled="false"
       multiple=""
       data-ng-disabled="fetching || formObj.status.sending || ( field.choices_source.api_input && !formObj.data[field.choices_source.api_input] )">
    <div data-ui-select-match="" data-placeholder="{{choices[0] ? 'E.g '+ choices[0].value : 'Select'}}">
      {{$item.value}}
    </div>
    <div data-ui-select-choices=""
         data-repeat="choice.key as choice in choices">
      <div data-ng-bind="choice.value"></div>
    </div>
  </div>

  <div class="text-danger"
       data-ng-if="form[field.field_name].$error.required &&
     (form[field.field_name].$touched || form[field.field_name].$dirty || form.$submitted)">
    <span data-ng-show="form[field.field_name].$error.required">Field is required.</span>
  </div>
</div>
