<div class="row">
  <label class="col-xs-12" data-ng-bind="::field.label"></label>
  <div class="col-xs-4">
    <div class="form-group">
      <div data-ui-select="" name="{{::field.field_name + '_match'}}" data-ng-model="formObj.data[field.field_name].match"
           data-theme="bootstrap" data-search-enabled="false"
           data-ng-disabled="formObj.status.sending">
        <div data-ui-select-match="" data-placeholder="Match">{{$select.selected}}</div>
        <div data-ui-select-choices=""
             data-repeat="match in matchOptions">
          <div data-ng-bind="match"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8">
    <div class="row" data-ng-hide="formObj.data[field.field_name].match === 'From-To'">
      <div class="col-md-12">
        <div class="form-group">
          <input type="{{::field.value_type}}" name="{{::field.field_name + '_value'}}" placeholder="Value"
                 class="form-control"
                 data-ng-model="formObj.data[field.field_name].value"
                 data-ng-disabled="formObj.status.sending"
                 data-ng-required="field.required"/>
          <div class="text-danger"
               data-ng-if="form[field.field_name + '_value'].$error &&
               (form[field.field_name + '_value'].$touched || form[field.field_name + '_value'].$dirty || form.$submitted)">
            <span data-ng-show="form[field.field_name + '_value'].$error.required">Field is required.</span>
            <span data-ng-show="form[field.field_name + '_value'].$error.number">Please provide a valid number.</span>
            <span data-ng-show="form[field.field_name + '_value'].$error.max">Maximum value {{field.validation.max}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_value'].$error.min">Minimum value {{field.validation.min}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_value'].$error.maxlength">Maximum length {{field.validation.maxlength}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_value'].$error.minlength">Minimum length {{field.validation.minlength}} is allowed.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-ng-show="formObj.data[field.field_name].match === 'From-To'">
      <div class="col-md-6">
        <div class="form-group">
          <input type="{{::field.value_type}}" name="{{::field.field_name + '_from'}}" placeholder="Min"
                 class="form-control"
                 data-ng-model="formObj.data[field.field_name].from"
                 data-ng-disabled="formObj.status.sending"
                 data-ng-required="field.required"/>
          <div class="text-danger"
               data-ng-if="form[field.field_name + '_from'].$error &&
               (form[field.field_name + '_from'].$touched || form[field.field_name + '_from'].$dirty || form.$submitted)">
            <span data-ng-show="form[field.field_name + '_from'].$error.required">Field is required.</span>
            <span data-ng-show="form[field.field_name + '_from'].$error.number">Please provide a valid number.</span>
            <span data-ng-show="form[field.field_name + '_from'].$error.max">Maximum value {{field.validation.max}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_from'].$error.min">Minimum value {{field.validation.min}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_from'].$error.maxlength">Maximum length {{field.validation.maxlength}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_from'].$error.minlength">Minimum length {{field.validation.minlength}} is allowed.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="{{::field.value_type}}" name="{{::field.field_name + '_to'}}" placeholder="Max"
                 class="form-control"
                 data-ng-model="formObj.data[field.field_name].to"
                 data-ng-disabled="formObj.status.sending"
                 data-ng-required="field.required"/>
          <div class="text-danger"
               data-ng-if="form[field.field_name + '_to'].$error &&
              (form[field.field_name + '_to'].$touched || form[field.field_name + '_to'].$dirty || form.$submitted)">
            <span data-ng-show="form[field.field_name + '_to'].$error.required">Field is required.</span>
            <span data-ng-show="form[field.field_name + '_to'].$error.number">Please provide a valid number.</span>
            <span data-ng-show="form[field.field_name + '_to'].$error.max">Maximum value {{field.validation.max}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_to'].$error.min">Minimum value {{field.validation.min}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_to'].$error.maxlength">Maximum length {{field.validation.maxlength}} is allowed.</span>
            <span data-ng-show="form[field.field_name + '_to'].$error.minlength">Minimum length {{field.validation.minlength}} is allowed.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
