<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ queryFormObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Query Tool</h3>
  <p>Search for properties using advanced search.</p>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form name="queryForm" class="dynamic-form-fields" data-ng-submit="submitForm()">
        <div class="row">

          <div class="">
            <ul class="nav nav-tabs">
              <li data-ng-class="{active: activeTabIndex === 0}" data-ng-click="changeTab(0)">
                <a href="javascript:">Geography</a>
              </li>
              <li data-ng-class="{active: activeTabIndex === 1}" data-ng-click="changeTab(1)">
                <a href="javascript:">Characteristics</a>
              </li>
              <!--<li data-ng-class="{active: activeTabIndex === 10}" data-ng-click="changeTab(10)">-->
                <!--<a href="javascript:">Lead Type</a>-->
              <!--</li>-->
              <li data-ng-click="">
                <a href="javascript:" title="More...">...</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane" data-ng-class="{active: activeTabIndex === 0}">
              <div class="row">
                <div class="col-md-4 col-sm-6 field-group" data-ng-repeat="field in queryFormObj.fieldGroups[0].fields">
                  <div data-ng-if="::field.search_type === 'C'" data-dynamic-choice=""
                       data-field="field" data-form="queryForm" data-form-obj="queryFormObj"></div>
                  <div data-ng-if="::field.search_type === 'CM'" data-dynamic-choice-multiple=""
                       data-field="field" data-form="queryForm" data-form-obj="queryFormObj"></div>
                  <div data-ng-if="::field.search_type === 'R'" data-dynamic-range=""
                       data-field="field" data-form="queryForm" data-form-obj="queryFormObj"></div>
                  <div data-ng-if="::field.search_type === 'W'" data-dynamic-wildcard=""
                       data-field="field" data-form="queryForm" data-form-obj="queryFormObj"></div>
                </div>
              </div>
            </div>
            <div class="tab-pane" data-ng-class="{active: activeTabIndex === 1}">
              <div class="row">
                <div class="col-md-6 col-sm-12 field-group" data-ng-repeat="field in queryFormObj.fieldGroups[1].fields">
                  <div data-ng-if="::field.search_type === 'C'" data-dynamic-choice=""
                       data-field="field" data-form="queryForm" data-form-obj="queryFormObj"></div>
                  <div data-ng-if="::field.search_type === 'CM'" data-dynamic-choice-multiple=""
                       data-field="field" data-form="queryForm" data-form-obj="queryFormObj"></div>
                  <div data-ng-if="::field.search_type === 'R'" data-dynamic-range=""
                       data-field="field" data-form="queryForm" data-form-obj="queryFormObj"></div>
                  <div data-ng-if="::field.search_type === 'W'" data-dynamic-wildcard=""
                       data-field="field" data-form="queryForm" data-form-obj="queryFormObj"></div>
                </div>
              </div>
            </div>
            <!--
            <div class="tab-pane" data-ng-class="{active: activeTabIndex === 10}">
              <h4>Basic info</h4>
              <div class="row">
                <div class="col-sm-6">
                  &lt;!&ndash;<form>&ndash;&gt;
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="City">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Zip Code">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="School District">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <textarea class="form-control" rows="4" placeholder="Tax Area"></textarea>
                        </div>
                      </div>
                    </div>
                  &lt;!&ndash;</form>&ndash;&gt;
                </div>
                <div class="col-sm-6">
                  &lt;!&ndash;<form>&ndash;&gt;
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Street Name">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <div data-ui-select="" id="exact" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
                            <div data-ui-select-match="" data-placeholder="Community">{{$select.selected.title}}</div>
                            <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
                              <div ng-bind-html="type.title"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Condo Complex">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Tract Number">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="TGNO">
                        </div>
                      </div>
                    </div>
                  &lt;!&ndash;</form>&ndash;&gt;
                </div>
              </div>
              <h4>And</h4>
              <table class="table white-table bottom-mar-none">
                <tr>
                  <td>This is an appended result frol the advanced search</td>
                  <td class="text-right">
                    <a href="javascript:" class="save">Save as template <span class="icon-floppy-disk"></span></a>
                    <a href="javascript:" class="delete">delete <span class="icon-cancel-circle"></span></a>
                  </td>
                </tr>
                <tr>
                  <td>This is an appended result frol the advanced search</td>
                  <td class="text-right">
                    <a href="javascript:" class="save">Save as template <span class="icon-floppy-disk"></span></a>
                    <a href="javascript:" class="delete">delete <span class="icon-cancel-circle"></span></a>
                  </td>
                </tr>
              </table>
              <br/>
              <br/>
              <button type="button" class="btn btn-success" data-ng-click="openAdvanceSearchModal()">
                Add more terms in the advance search
              </button>
            </div>-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div data-ng-class="{'alert alert-success' : queryFormObj.status.type === 'success', 'alert alert-danger' : queryFormObj.status.type === 'error'}">
              <span data-ng-bind="queryFormObj.status.message"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-danger" data-ng-disabled="queryFormObj.status.sending" data-ng-click="resetForm()">Reset</button>
            <button type="submit" class="btn btn-info" data-ng-class="{'loading': queryFormObj.status.sending}"
                    data-ng-disabled="queryFormObj.status.sending">
              Search
              <i class="fa fa-spinner fa-pulse"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
