<div class="modal-body">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ searchOrderAdvanceObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3>Advance search</h3>
  <p>Add an explanation here, you can add as many terms
    as you need, you can add templates and edit them on this <a href="javascript:">page...</a></p>
  <div class="form-group">
    <div data-ui-select="" id="exact" data-ng-model="type.title" data-theme="bootstrap" data-search-enabled="false" data-required>
      <div data-ui-select-match="" data-placeholder="Select from templates">{{$select.selected.title}}</div>
      <div data-ui-select-choices="" data-repeat="type.value as type in types">
        <div ng-bind-html="type.title"></div>
      </div>
    </div>
  </div>
  <hr/>
  <h4>Or add term below</h4>
  <table class="table white-table bottom-mar-none">
    <tr>
      <td>Driveway </td>
    </tr>
    <tr>
      <td>Driveway Shared</td>
    </tr>
    <tr>
      <td>Something else Driveway</td>
    </tr>
  </table>
  <br/>
  <button type="button" class="btn btn-success" data-ng-click="searchOrderAdvanceForm()">
    Append term to main search
  </button>
</div>
