<form name="officeForm" data-ng-submit="submitForm()" class="validate-form"
      data-ng-class="{'form-loading': status.sending}" novalidate="">
  <fieldset>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="corporate_name" placeholder="Corporate Name" data-ng-model="officeObj.TbOffice.corporate_name"
                 data-ng-disabled="status.sending" data-ng-required="::!config.noRequired">
          <div class="text-danger" data-ng-show="officeForm.corporate_name.$error && (officeForm.corporate_name.$touched || officeForm.corporate_name.$dirty || officeForm.$submitted)">
            <span data-ng-show="officeForm.corporate_name.$error.required">Corporate name field is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <div data-ui-select="" data-ng-model="officeObj.TbOffice.type" data-theme="bootstrap" data-search-enabled="false"
               data-ng-disabled="status.sending" data-ng-required="::!config.noRequired">
            <div data-ui-select-match="" data-placeholder="Select Office Type">{{$select.selected.title}}</div>
            <div data-ui-select-choices="" data-repeat="type.value as type in ::types.office">
              <div data-ng-bind-html="type.title"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="dba" placeholder="DBA" data-ng-model="officeObj.TbOffice.dba"
                 data-ng-disabled="status.sending" data-ng-required="::!config.noRequired">
          <div class="text-danger" data-ng-show="officeForm.dba.$error && (officeForm.dba.$touched || officeForm.dba.$dirty || officeForm.$submitted)">
            <span data-ng-show="officeForm.dba.$error.required">DBA field is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="lic_number" placeholder="LIC Number" data-ng-model="officeObj.TbOffice.lic_number"
                 data-ng-disabled="status.sending" data-ng-required="::!config.noRequired">
          <div class="text-danger" data-ng-show="officeForm.lic_number.$error && (officeForm.lic_number.$touched || officeForm.lic_number.$dirty || officeForm.$submitted)">
            <span data-ng-show="officeForm.lic_number.$error.required">Lic. number field is required.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email" data-ng-model="officeObj.TbEmail[0].email"
                 data-ng-disabled="status.sending" data-ng-required="::!config.noRequired">
          <div class="text-danger" data-ng-show="officeForm.email.$error && (officeForm.email.$touched || officeForm.email.$dirty || officeForm.$submitted)">
            <span data-ng-show="officeForm.email.$error.required">Email field is required.</span>
            <span data-ng-show="officeForm.email.$error.email">Email field is no valid.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="phone" placeholder="Phone" data-ng-model="officeObj.TbPhone[0].phone"
                 data-ng-disabled="status.sending" data-minlength="10" data-maxlength="10">
          <div class="text-danger" data-ng-show="officeForm.phone.$error && (officeForm.phone.$touched || officeForm.phone.$dirty || officeForm.$submitted)">
            <span data-ng-show="officeForm.phone.$error.required">phone field is required.</span>
            <span data-ng-show="officeForm.phone.$error.number">Only numbers are allowed.</span>
            <span data-ng-show="officeForm.phone.$error.minlength">phone should be 10 digits.</span>
            <span data-ng-show="officeForm.phone.$error.maxlength">phone should be 10 digits.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <input type="text" class="form-control" name="address" placeholder="Address" data-ng-model="officeObj.TbAddress[0].address"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-show="officeForm.address.$error && (officeForm.address.$touched || officeForm.address.$dirty || officeForm.$submitted)">
            <span data-ng-show="officeForm.address.$error.required">Address field is required.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="address_2" placeholder="Address 2" data-ng-model="officeObj.TbAddress[0].address_2"
                 data-ng-disabled="status.sending">
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="city" placeholder="City" data-ng-model="officeObj.TbAddress[0].city"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-show="officeForm.city.$error && (officeForm.city.$touched || officeForm.city.$dirty || officeForm.$submitted)">
            <span data-ng-show="officeForm.city.$error.required">City field is required.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="state" placeholder="State" data-ng-model="officeObj.TbAddress[0].state"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-show="officeForm.state.$error && (officeForm.state.$touched || officeForm.state.$dirty  || officeForm.$submitted)">
            <span data-ng-show="officeForm.state.$error.required">State field is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="zip_code" placeholder="Zip Code" data-ng-model="officeObj.TbAddress[0].zip"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-show="officeForm.zip_code.$error && (officeForm.zip_code.$touched || officeForm.zip_code.$dirty || officeForm.$submitted)">
            <span data-ng-show="officeForm.zip_code.$error.required">Zip code field is required.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div data-ng-class="{'alert alert-success' : status.type === 'success', 'alert alert-danger' : status.type === 'error'}">
          <span data-ng-bind="status.message"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-danger" data-ng-disabled="status.sending" data-ng-click="resetForm()">Reset</button>
        <button type="submit" class="btn btn-info" data-ng-class="{'loading' : status.sending }"
                data-ng-disabled="status.sending">
          <!--Submit-->
          <span data-ng-bind="config.submitText"></span>
          <i class="fa fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>
  </fieldset>
</form>
