<div class="col-sm-6 col-md-3">
  <img src="assets/images/works-on-any-device.png" alt="Works on any device"/>
  <h5>Works on any device</h5>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
</div>
<div class="col-sm-6 col-md-3">
  <img src="assets/images/clear-on-map-results.png" alt="Clear, on map results"/>
  <h5>Clear, on map results</h5>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
</div>
<div class="col-sm-6 col-md-3">
  <img src="assets/images/really-easy-to-use.png" alt="Really easy to use"/>
  <h5>Really easy to use</h5>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
</div>
<div class="col-sm-6 col-md-3">
  <img src="assets/images/increase-your-business.png" alt="Increase your business"/>
  <h5>Increase your business</h5>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
</div>
