<div class="container sub-header">
  <h1>Contact Us</h1>
  <p>We welcome your questions or comments about Work Example and its products and services. <br/>
    Please fill out the form below to contact us.</p>
</div>

<div class="about-us gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <h3>Please complete
          all required fields
          to get started</h3>
        <p>
          After you have filled out this form,
          a representative will get in touch
          with you to to help you.
        </p>
      </div>
      <div class="col-sm-12 col-md-7">
        <form name="form" data-ng-submit="sendContactRequest()" class="validate-form" novalidate=""
              data-ng-class="{'form-loading': formSending }">
          <fieldset>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" name="full_name" class="form-control" placeholder="Your Name" data-ng-model="contactObj.Name"
                         data-ng-disabled="formSending" required="">
                  <div class="text-danger" data-ng-show="form.full_name.$error && (form.full_name.$touched || form.full_name.$dirty || form.$submitted)">
                    <span data-ng-show="form.full_name.$error.required">Name field is required.</span>
                    <span data-ng-show="form.full_name.$error.innerHTML">Name field is invalid.</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Your Email" data-ng-model="contactObj.Email"
                         data-ng-disabled="formSending" required="">
                  <div class="text-danger" data-ng-show="form.email.$error && (form.email.$touched || form.email.$dirty || form.$submitted)">
                    <span data-ng-show="form.email.$error.required">Email field is required.</span>
                    <span data-ng-show="form.email.$error.email">Email field is not valid.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Your Message ( maximum 500 characters )" data-ng-model="contactObj.Message"
                          required="" maxlength="500" minlength="2"></textarea>
                  <div class="text-danger" data-ng-show="form.message.$error && (form.message.$touched || form.$submitted)">
                    <span data-ng-show="form.message.$error.required">Message field is required.</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" data-ng-show="status.message">
              <div class="col-xs-12">
                <div data-ng-class="{'alert alert-success' : status.type === 'success', 'alert alert-danger' : status.type === 'error'}">
                  <span data-ng-bind="status.message"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-right">
                <hr/>
                <button type="button" class="btn btn-danger" data-ng-disabled="formSending" data-ng-click="resetForm()">Reset</button>
                <button type="submit" class="btn btn-info" data-ng-disabled="formSending"
                        data-ng-class="{'loading': formSending}" >
                  Contact us
                  <i class="fa fa-spinner fa-pulse"></i>
                </button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
