<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ loginFormObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="login-icon"></div>
      <h3>Login to your account</h3>
      <p>Please enter your credentials below.</p>
      <form name="loginForm" data-ng-submit="login( loginForm )" data-ng-class="{'form-loading' : loginFormObj.sending }" class="validate-form" novalidate="">
        <fieldset>
          <div class="form-group email">
            <input name="username" type="email" class="form-control" placeholder="Email address ( some@domain )" autofocus=""
                   required="" data-ng-model="loginFormObj.data.TbUser.username" data-ng-disabled="loginFormObj.status.sending">
            <div class="text-danger text-left" data-ng-show="loginForm.username.$error && (loginForm.username.$touched || loginForm.username.$dirty || loginForm.$submitted)">
              <span data-ng-show="loginForm.username.$error.required"> Email field is required. </span>
              <span data-ng-show="loginForm.username.$error.email"> Email field is not valid. </span>
            </div>
          </div>
          <div class="form-group password">
            <input name="password" type="password" class="form-control" placeholder="Password"
                   required minlength="7" data-ng-model="loginFormObj.data.TbUser.password" data-ng-disabled="loginFormObj.status.sending">
            <div class="text-danger text-left" data-ng-show="loginForm.password.$error && (loginForm.password.$touched  || loginForm.password.$dirty || loginForm.$submitted)">
              <span data-ng-show="loginForm.password.$error.required">Password field is required.</span>
              <span data-ng-show="loginForm.password.$error.minlength">Password should be at least 7 characters.</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div data-ng-class="{'alert alert-success' : loginFormObj.status.type === 'success', 'alert alert-danger' : loginFormObj.status.type === 'error'}"
                   data-ng-bind="loginFormObj.status.message"></div>
            </div>
          </div>
          <button type="submit" class="btn btn-info col-xs-12" data-ng-class="{'loading' : loginFormObj.status.sending }"
                  data-ng-disabled="loginFormObj.status.sending || loginFormObj.status.type === 'success'">
            Login
            <i class="fa fa-spinner fa-pulse"></i>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-sm-6">
      <p>Password forgotten ?</p>
      <a href="javascript:" data-ng-click="openForgotModal()">Recover it now <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="col-sm-6">
      <p>Don't have an account ?</p>
      <a data-ui-sref="public.signUp" data-ng-click="$close()">Get started right now <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</div>
