<div class="container sub-header">
  <h1>Help and Support</h1>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean <br/> sollicitudin, lorem quis bibendum auctor, nisi</p>
</div>

<div class="help-center gray">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Watch a few
          presentation
          videos</h3>
        <p>
          This is Photoshop's
          version  of Lorem Ipsum.
          Proin gravida nibh vel
        </p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-4">
            <div class="async" data-iframe-loader="">
              <iframe src="//view.vzaar.com/1629182/player" width="252.484" height="203"
                      frameborder="0" allowTransparency="true" allowFullScreen="" webkitAllowFullScreen="" mozallowfullscreen="">
              </iframe>
            </div>
            <!--<div class="video-thumb">-->
              <!--<img src="../../assets/images/video-thumb-gray.jpg" alt="How To Use The Search"/>-->
            <!--</div>-->
            <h4>How to use the search <i>(6:49)</i></h4>
          </div>
          <div class="col-sm-4">
            <div class="async" data-iframe-loader="">
              <iframe src="//view.vzaar.com/1629182/player" width="252.484" height="203"
                      frameborder="0" allowTransparency="true" allowFullScreen="" webkitAllowFullScreen="" mozallowfullscreen="">
              </iframe>
            </div>
            <h4>How to create farms <i>(6:49)</i></h4>
          </div>
          <div class="col-sm-4">
            <div class="async" data-iframe-loader="">
              <iframe src="//view.vzaar.com/1629182/player" width="252.484" height="203"
                      frameborder="0" allowTransparency="true" allowFullScreen="" webkitAllowFullScreen="" mozallowfullscreen="">
              </iframe>
            </div>
            <h4>How to delete a farm <i>(6:49)</i></h4>
          </div>
          <div class="clearfix"><br/><br/></div>
          <div class="col-sm-4">
            <div class="async" data-iframe-loader="">
              <iframe src="//view.vzaar.com/1629182/player" width="252.484" height="203"
                      frameborder="0" allowTransparency="true" allowFullScreen="" webkitAllowFullScreen="" mozallowfullscreen="">
              </iframe>
            </div>
            <h4>How to save a property <i>(6:49)</i></h4>
          </div>
          <div class="col-sm-4">
            <div class="async" data-iframe-loader="">
              <iframe src="//view.vzaar.com/1629182/player" width="252.484" height="203"
                      frameborder="0" allowTransparency="true" allowFullScreen="" webkitAllowFullScreen="" mozallowfullscreen="">
              </iframe>
            </div>
            <h4>How to filter results <i>(6:49)</i></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="help-center white border-top">
  <div class="container animate" data-animation="fadeInLeft" data-duration="100">
    <div class="row">
      <div class="col-md-3">
        <h3>Frequently
          Asked
          Questions</h3>
        <p>
          This is Photoshop's
          version  of Lorem Ipsum.
          Proin gravida nibh vel
        </p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="clearfix" data-ng-repeat-start="category in ::supportCategories track by $index"
               data-ng-if="$index !=0 && $index%3 === 0">
            <br/><br/>
          </div>
          <div class="col-sm-4 pad-bottom" data-ng-repeat-end="">
            <a data-ui-sref="public.supportCategory({ categoryId: category.url })" class="link-box">
              <i data-ng-bind="category.shortTitle"></i>
              <span data-ng-bind="category.summary"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--need to know more component-->
<div data-need-to-know-more=""></div>
