<div class="container">
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="site-title"><a data-ui-sref="user.home" title="Work Example">Work Example</a></h1>
        <a data-ui-sref="user.manage.account.accountInfo" title="My Account" class="mobile-account"><i class="fa fa-user"></i></a>
      </div>
      <div class="welcome-menu">

        <ul class="top-links">
          <li><a data-ui-sref="user.manage.reports.orderReport" title="Order Report"><i class="fa fa-book"></i></a></li>
          <li><a data-ui-sref="user.manage.admin.users" title="Manage Users"><i class="fa fa-cog"></i></a></li>
          <li><a data-ui-sref="user.manage.account.accountInfo" title="My Account"><i class="fa fa-user"></i></a></li>
          <li data-ng-click="logout()"><a href="javascript:" title="Log out"><i class="fa fa-sign-out"></i></a></li>
          <!--<li class="alerts"><a href="javascript:" title="2 Unread Notifications">2</a></li>-->
        </ul>
        <p>Welcome back, <b data-ng-bind="models.user.TbUser.first_name"></b></p>
      </div>
      <div class="clearfix"></div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li data-dropdown="">
            <a href="javascript:" title="Click for options" data-dropdown-toggle=""><i class="order-profile"></i> Order A Profile</a>
            <ul class="dropdown-menu" role="menu">
              <li data-ng-click="searchForm()"><a href="javascript:">Open search form <span class="fa fa-angle-right"></span></a></li>
              <li data-ng-click="selectFromMap()"><a href="javascript:">Select from map <span class="fa fa-angle-right"></span></a></li>
              <li data-ng-click="addLeadToFarm()"><a href="javascript:">Add lead to farm <span class="fa fa-angle-right"></span></a></li>
              <li data-ng-click="showFarmDetails()"><a href="javascript:">show farm details<span class="fa fa-angle-right"></span></a></li>
            </ul>
          </li>
          <li data-ui-sref-active="active"><a href="javascript:" title="Select a Farm"><i class="select-far"></i> Select a Farm</a></li>
          <li data-ng-click="openQueryToolModal()"><a href="javascript:" title="Query Tool"><i class="query-tool"></i> Query Tool</a></li>
          <li data-ui-sref-active="active"><a href="javascript:" title="Send Data"><i class="fa fa-send"></i> Send Data</a></li>

          <!--<li data-ng-class="{'active': $state.includes('user.manage')}">-->
            <!--<a data-ui-sref="user.manage.reports.orderProfile" title="Settings"><i class="fa fa-cogs"></i> Settings</a>-->
          <!--</li>-->
        </ul>
        <p><b>Need Help?</b> <br/>
          Give us a call at <a class="tel" href="tel:08003456904" title="Call 866.887.0206">0800.345.6904</a></p>
      </div>
    </div>
  </nav>
</div>
