<div class="container" data-toggle-mobile-nav="">
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-header">
      <h1 class="site-title"><a data-ui-sref="public.home" title="Work Example">Work Example</a></h1>
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li data-ui-sref-active="active"><a data-ui-sref="public.home" title="Home"><b>Home</b></a></li>
        <li data-ui-sref-active="active"><a data-ui-sref="public.aboutUs" title="About Us"><b>About Us</b></a></li>
        <li data-ng-class="{'active': $state.current.name === 'public.products' || $state.current.name === 'public.productDetails'}">
          <a data-ui-sref="public.products" title="Products"><b>Products</b></a>
        </li>
        <li data-ng-class="{'active': $state.current.name === 'public.support' || $state.current.name === 'public.supportCategory'}">
          <a data-ui-sref="public.support" title="Support"><b>Support</b></a></li>
        <li data-ui-sref-active="active"><a data-ui-sref="public.contact" title="Contact"><b>Contact</b></a></li>
      </ul>
      <ul class="nav login-nav" data-ng-if="!$storage.user">
        <li class="login" data-ng-click="openLoginModal()"><a href="javascript:" title="Login"><b>Login</b></a></li>
        <li class="sign-up">
          <a data-ui-sref="public.signUp" class="btn btn-info">Sign up <span class="fa fa-angle-right"></span></a>
        </li>
      </ul>
      <ul class="nav login-nav" data-ng-if="$storage.user">
        <li class="login">
          <a data-ui-sref="user.manage.account.accountInfo" title="Account">
            <b data-ng-bind="$storage.user.TbUser.first_name + ' ' + $storage.user.TbUser.last_name"></b>
            &nbsp;
            <span class="fa fa-angle-right"></span>
          </a>
        </li>
      </ul>
      <div class="header-call-us">
        <span>Call us toll free</span>
        <a href="tel:8668870206" title="Call 866.887.0206">866.887.0206</a>
      </div>
    </div>
  </nav>
</div>

