<div class="container sub-header">
  <h1>Create your account</h1>
  <p>New here ? Apply for an account and get access to our awesome product.</p>
</div>

<div class="about-us gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Please complete <br/> all the fields <br/> to get started</h3>
        <p>
          After you have filled out this form, <br/>
          a representative will get in touch <br/>
          with you to finish setting up <br/>
          your account.
        </p>
      </div>
      <div class="col-sm-9 col-md-7" data-user-form="" data-user="userFormObj.user" data-config="userFormObj.config" data-handlers="userFormObj.handlers">
        <!--user-form directive content will come here-->
      </div>
    </div>
  </div>
</div>
