<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ forgotFormObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="login-icon"></div>
      <h3>Recover your password</h3>
      <p>Please enter your the email used for signing up <br/> and we'll get you back on track.</p>
      <form name="forgotForm" data-ng-submit="recoverPassword( forgotForm )" data-ng-class="{'form-loading' : forgotFormObj.sending }" class="validate-form" novalidate="">
        <fieldset>
          <div class="form-group">
            <input name="username" type="email" class="form-control" placeholder="Your email address" autofocus="" required=""
                   data-ng-model="forgotFormObj.data.TbUser.email" data-ng-disabled="forgotFormObj.status.sending">
            <div class="text-danger text-left" data-ng-show="forgotForm.username.$error && (forgotForm.username.$touched || forgotForm.username.$dirty || forgotForm.$submitted)">
              <span data-ng-show="forgotForm.username.$error.required"> Email field is required. </span>
              <span data-ng-show="forgotForm.username.$error.email"> Email field is not valid. </span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div data-ng-class="{'alert alert-success' : forgotFormObj.status.type === 'success', 'alert alert-danger' : forgotFormObj.status.type === 'error'}"
                   data-ng-bind="forgotFormObj.status.message"></div>
            </div>
          </div>
          <button type="submit" class="btn btn-info col-xs-12" data-ng-class="{'loading' : forgotFormObj.status.sending }"
                  data-ng-disabled="forgotFormObj.status.sending">
            Submit
            <i class="fa fa-spinner fa-pulse"></i>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-md-6">
      <p>Remember password ?</p>
      <a href="javascript:" data-ng-click="openLoginModal()"><i class="fa fa-angle-left"></i> Back to login</i></a>
    </div>
    <div class="col-md-6">
      <p>Don't have an account ?</p>
      <a data-ui-sref="public.signUp" data-ng-click="$close()">Get started right now <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</div>
