<!--abstract view for user pages-->
<!--main header-->
<div class="header" data-user-header=""></div>

<!--main content view-->
<section data-ui-view=""></section>

<!--main footer-->
<footer data-user-footer=""></footer>
