<!--abstract view for public pages-->
<!--main header-->
<div class="header" data-public-header=""></div>

<!--main content view-->
<section data-ui-view=""></section>

<!--main footer-->
<footer data-public-footer=""></footer>
