<div class="modal-header">
  <button type="button" class="close" aria-label="Close"
          data-ng-attr-title="{{ officeFormStatusObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Search Office</h3>
  <p>Please complete the form, so we can get matching offices for you.</p>
</div>
<div class="modal-body">
  <div class="col-sm-12" data-office-form="" data-office="officeFormObj.office" data-config="officeFormObj.config" data-handlers="officeFormObj.handlers">
    <!--office-form directive content will come here-->
  </div>
</div>

