<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ userStatusFormObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Search Order</h3>
  <p>Please complete the form, so we can get matching order for you.</p>
</div>
<div class="modal-body associate-content">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs pull-left">
        <li data-ng-class="{active: activeTabIndex === 0}" data-ng-click="changeTab(0)">
          <a href="javascript:">Form</a>
        </li>
        <li data-ng-class="{active: activeTabIndex === 1}" data-ng-click="changeTab(1)">
          <a href="javascript:">Users</a>
        </li>
        <li data-ng-class="{active: activeTabIndex === 2}" data-ng-click="changeTab(2)">
          <a href="javascript:">Offices</a>
        </li>
      </ul>

    </div>
  </div>
  <form name="searchOrderForm" data-ng-submit="submitForm()" novalidate="">
    <fieldset class="tab-content">
      <div class="tab-pane" data-ng-class="{active: activeTabIndex === 0}">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group date-picker" data-ng-click="datePickerObj.fromDateOpened = !searchOrderFormObj.status.sending && true">
                <input type="text" class="form-control" datepicker-popup="{{'dd-MM-yyyy'}}"
                       data-ng-focus="datePickerObj.fromDateOpened = !searchOrderFormObj.status.sending && true"
                       data-ng-disabled="searchOrderFormObj.status.sending"
                       max-date="searchOrderFormObj.data.TbOrder.created_date_max"
                       ng-model="searchOrderFormObj.data.TbOrder.created_date_min" is-open="datePickerObj.fromDateOpened"
                       placeholder="From Date" datepicker-options="datePickerObj.options" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-calendar"></span>
                    </button>
                  </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group date-picker" data-ng-click="datePickerObj.toDateOpened = !searchOrderFormObj.status.sending && true">
                <input type="text" class="form-control" datepicker-popup="{{'dd-MM-yyyy'}}"
                       data-ng-disabled="searchOrderFormObj.status.sending"
                       data-ng-focus="datePickerObj.toDateOpened = !searchOrderFormObj.status.sending && true"
                       min-date="searchOrderFormObj.data.TbOrder.created_date_min"
                       ng-model="searchOrderFormObj.data.TbOrder.created_date_max" is-open="datePickerObj.toDateOpened"
                       placeholder="To Date" datepicker-options="datePickerObj.options" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-info">
                      <span class="fa fa-calendar"></span>
                    </button>
                  </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="parcel_number" class="form-control" placeholder="Parcel Number" data-ng-model="searchOrderFormObj.data.TbOrder.parcel_number"
                       data-ng-disabled="searchOrderFormObj.status.sending">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="site_address" class="form-control" placeholder="Address" data-ng-model="searchOrderFormObj.data.TbOrder.site_address"
                       data-ng-disabled="searchOrderFormObj.status.sending">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="site_unit" class="form-control" placeholder="Unit" data-ng-model="searchOrderFormObj.data.TbOrder.site_unit"
                       data-ng-disabled="searchOrderFormObj.status.sending">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="site_city" class="form-control" placeholder="City" data-ng-model="searchOrderFormObj.data.TbOrder.site_city"
                       data-ng-disabled="searchOrderFormObj.status.sending">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="site_state" class="form-control" placeholder="State" data-ng-model="searchOrderFormObj.data.TbOrder.site_state"
                       data-ng-disabled="searchOrderFormObj.status.sending">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="site_zip" class="form-control" placeholder="Zip" data-ng-model="searchOrderFormObj.data.TbOrder.site_zip"
                       data-ng-disabled="searchOrderFormObj.status.sending">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div data-ui-select="" data-ng-model="searchOrderFormObj.data.TbOrder.report_type" data-theme="bootstrap" data-search-enabled="false"
                     data-ng-disabled="searchOrderFormObj.status.sending">
                  <div data-ui-select-match="" data-placeholder="Report type">{{$select.selected.title}}</div>
                  <div data-ui-select-choices="" data-repeat="type.value as type in ::types.reports">
                    <div data-ng-bind-html="type.title"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div data-ui-select="" data-ng-model="searchOrderFormObj.data.TbOrder.status" data-theme="bootstrap" data-search-enabled="false"
                     data-ng-disabled="searchOrderFormObj.status.sending">
                  <div data-ui-select-match="" data-placeholder="Status type">{{$select.selected.title}}</div>
                  <div data-ui-select-choices="" data-repeat="type.value as type in ::types.status">
                    <div data-ng-bind-html="type.title"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane" data-ng-class="{active: activeTabIndex === 1}">
        <div class="" data-pipeline="" data-config="usersPipelineObj.config" data-data="usersPipelineObj.data" data-status="usersPipelineObj.status">
          <!--data-pipeline="" directive content will come here with addition to this body-->
        </div>
      </div>
      <div class="tab-pane" data-ng-class="{active: activeTabIndex === 2}">
        <div class="" data-pipeline="" data-config="officesPipelineObj.config" data-data="officesPipelineObj.data" data-status="officesPipelineObj.status">
          <!--data-pipeline="" directive content will come here with addition to this body-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div data-ng-class="{'alert alert-success' : searchOrderFormObj.status.type === 'success', 'alert alert-danger' : searchOrderFormObj.status.type === 'error'}"
               data-ng-bind="searchOrderFormObj.status.message">
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-12 col-sm-12">
          <br/>
          <button type="button" class="btn btn-danger" data-ng-disabled="searchOrderFormObj.status.sending" data-ng-click="resetForm()">Reset</button>
          <button type="submit" class="btn btn-info" data-ng-class="{'loading' : searchOrderFormObj.status.sending }"
                  data-ng-disabled="searchOrderFormObj.status.sending">
            Search Order
            <i class="fa fa-spinner fa-pulse"></i>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
