<div class="content-panel panel-group">
  <div class="row">
    <div class="col-sm-12">
      <h3>Property Report Wizard</h3>
      <p>To order a property report, you can find the property using its address, owner’s name, or parcel number.</p>
    </div>
  </div>
  <h3 class="panel-hea mar-none">
    Address Look-up
  </h3>
  <div>
    <p class="text-center">
      <b>You can search in three different ways</b>
      <br/>
      HINT: Enter the full address if you know it, use the search box if you’re not sure, or find the property on the map and click on it.
    </p>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <div>
          <form data-ng-submit="" >
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="autocomplete" placeholder="Search for an address..."
                         data-ng-disabled="lookupAddressObj.sending"
                         data-ng-model="lookupAddressObj.autocomplete" data-google-autocomplete="" data-details="lookupAddressObj.data" data-map-object="lookupAddressObj.mapObject">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="">
          <form name="lookupAddressForm" class="validate-form" novalidate=""
                data-ng-class="{'form-loading': lookupAddressObj.sending }" data-ng-submit="lookupAddress( lookupAddressForm )">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="site_street_number" placeholder="Street Number"
                         data-ng-model="lookupAddressObj.data.site_street_number" data-ng-disabled="lookupAddressObj.sending"/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="site_name" placeholder="Street Name"
                         data-ng-model="lookupAddressObj.data.site_route" data-ng-disabled="lookupAddressObj.sending"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="site_city" placeholder="City"
                         data-ng-model="lookupAddressObj.data.site_city" data-ng-disabled="lookupAddressObj.sending"/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="site_state" placeholder="State"
                         data-ng-model="lookupAddressObj.data.site_state" data-ng-disabled="lookupAddressObj.sending"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="site_zip" placeholder="Zip"
                         data-ng-model="lookupAddressObj.data.site_zip" data-ng-disabled="lookupAddressObj.sending"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12" data-ng-show="lookupAddressObj.status.message">
                <div data-ng-class="{'alert alert-success' : lookupAddressObj.status.type === 'success', 'alert alert-danger' : lookupAddressObj.status.type === 'error'}">
                  <span data-ng-bind-html="lookupAddressObj.status.message"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn btn-danger" data-ng-disabled="lookupAddressObj.sending"
                        data-ng-click="resetForm(lookupAddressForm)">Reset</button>
                <button type="submit" class="btn btn-info" data-ng-disabled="lookupAddressObj.sending"
                        data-ng-class="{'loading': lookupAddressObj.sending}">
                  Search for records
                  <i class="fa fa-spinner fa-pulse"></i>
                </button>
                <button type="button" data-ng-show="lookupAddressObj.results.length" class="btn btn-primary" data-ng-disabled="lookupAPNObj.sending"
                        data-ng-click="openShowResultModal()">Show Results</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <div style="height: 260px; width: 100%;" class="async" data-ol-map="" data-options="lookupAddressObj.mapOptions" data-map-object="lookupAddressObj.mapObject">
        </div>
      </div>
    </div>
  </div>
  <h3 class="panel-hea">
    Owner Look-up
  </h3>
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <p class="text-center">
        <b>Please enter as much information as you know.</b>
        <br/>
        We will try to find up to 100 properties owned by someone with that name.
        This may take some time, particularly if it is a common name. You can use partial names
      </p>
      <form name="lookupOwnerForm" class="validate-form" novalidate=""
            data-ng-class="{'form-loading': lookupOwnerObj.sending }" data-ng-submit="lookupOwner( lookupOwnerForm )">
        <div class="">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="first_name" placeholder="First Name" data-ng-disabled="lookupOwnerObj.sending"
                       data-ng-model="lookupOwnerObj.data.first_name" ng-maxlength="15" required=""/>
                <div class="text-danger" data-ng-show="lookupOwnerForm.first_name.$error && (lookupOwnerForm.first_name.$touched || lookupOwnerForm.$submitted)">
                  <span data-ng-show="lookupOwnerForm.first_name.$error.required">first name field is required.</span>
                  <span data-ng-show="lookupOwnerForm.first_name.$error.maxlength">first name is too long!</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" data-ng-disabled="lookupOwnerObj.sending"
                       data-ng-model="lookupOwnerObj.data.last_name" ng-maxlength="15" required=""/>
                <div class="text-danger" data-ng-show="lookupOwnerForm.last_name.$error && (lookupOwnerForm.last_name.$touched || lookupOwnerForm.$submitted)">
                  <span data-ng-show="lookupOwnerForm.last_name.$error.required">last name field is required.</span>
                  <span data-ng-show="lookupOwnerForm.last_name.$error.maxlength">last name is too long!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" data-ng-class="{'fetching-list': lookupOwnerObj.sendingCounty}">
                <i class="ajax fa fa-spinner fa-pulse"></i>
                <!--<input type="text" class="form-control" placeholder="County" data-ng-model="lookupOwnerObj.data.county" required=""/>-->
                <div data-ui-select="" name="county" data-ng-model="lookupOwnerObj.data.state_county_fips" data-theme="bootstrap"
                     data-ng-disabled="lookupOwnerObj.sending" required="">
                  <div data-ui-select-match="" data-placeholder="County">{{$select.selected.name}}</div>
                  <div data-ui-select-choices="" data-repeat="county.fips as county in lookupOwnerObj.counties"
                       data-refresh="searchCounties('lookupOwnerObj', $select.search)" data-refresh-delay="400">
                    <div data-ng-bind-html="county.name | highlight: $select.search"></div>
                  </div>
                </div>
                <div class="text-danger" data-ng-show="lookupOwnerForm.county.$error && (lookupOwnerForm.county.$touched || lookupOwnerForm.$submitted)">
                  <span data-ng-show="lookupOwnerForm.county.$error.required">county field is required.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12" data-ng-show="lookupOwnerObj.status.message">
              <div data-ng-class="{'alert alert-success' : lookupOwnerObj.status.type === 'success', 'alert alert-danger' : lookupOwnerObj.status.type === 'error'}">
                <span data-ng-bind-html="lookupOwnerObj.status.message"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-danger" data-ng-disabled="lookupOwnerObj.sending" data-ng-click="resetForm(lookupOwnerForm)">Reset</button>
              <button type="submit" class="btn btn-info" data-ng-disabled="lookupOwnerObj.sending"
                      data-ng-class="{'loading': lookupOwnerObj.sending}">
                Search
                <i class="fa fa-spinner fa-pulse"></i>
              </button>
              <button type="button" data-ng-show="lookupOwnerObj.results.length" class="btn btn-primary" data-ng-disabled="lookupAPNObj.sending"
                      data-ng-click="openShowResultModal()">Show Results</button>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h3 class="panel-hea">
    APN Look-up
  </h3>
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <p class="text-center">
        <b>Lookup a property by parcel number.</b>
        <br/>
        After you have completed all required fields, and if it matches any profile you will get a link to download.
      </p>
      <form name="lookupAPNForm" class="validate-form" novalidate=""
            data-ng-class="{'form-loading': lookupAPNObj.sending }" data-ng-submit="lookupAPN( lookupAPNForm )">
        <div class="">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="parcel_number" placeholder="Parcel Number"
                       data-ng-model="lookupAPNObj.data.parcel_number" data-ng-disabled="lookupAPNObj.sending" required=""/>
                <div class="text-danger" data-ng-show="lookupAPNForm.parcel_number.$error && (lookupAPNForm.parcel_number.$touched || lookupAPNForm.$submitted)">
                  <span data-ng-show="lookupAPNForm.parcel_number.$error.required">parcel number field is required.</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" data-ng-class="{'fetching-list': lookupAPNObj.sendingCounty}">
                <!--<input type="text" class="form-control" placeholder="County" data-ng-model="lookupAPNObj.data.county" required=""/>-->
                <div data-ui-select="" name="county" data-ng-model="lookupAPNObj.data.state_county_fips" data-theme="bootstrap"
                     data-ng-disabled="lookupAPNObj.sending" required="">
                  <div data-ui-select-match="" data-placeholder="County">{{$select.selected.name}}</div>
                  <div data-ui-select-choices="" data-repeat="county.fips as county in lookupAPNObj.counties"
                       data-refresh="searchCounties('lookupAPNObj', $select.search)" data-refresh-delay="400">
                    <div data-ng-bind-html="county.name | highlight: $select.search"></div>
                  </div>
                </div>
                <div class="text-danger" data-ng-show="lookupAPNForm.county.$error && (lookupAPNForm.county.$touched || lookupAPNForm.$submitted)">
                  <span data-ng-show="lookupAPNForm.county.$error.required">county field is required.</span>
                </div>
                <i class="ajax fa fa-spinner fa-pulse"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12" data-ng-show="lookupAPNObj.status.message">
              <div data-ng-class="{'alert alert-success' : lookupAPNObj.status.type === 'success', 'alert alert-danger' : lookupAPNObj.status.type === 'error'}">
                <span data-ng-bind-html="lookupAPNObj.status.message"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-danger" data-ng-disabled="lookupAPNObj.sending"
                      data-ng-click="resetForm(lookupAPNForm)">Reset</button>
              <button type="submit" class="btn btn-info" data-ng-disabled="lookupAPNObj.sending"
                      data-ng-class="{'loading': lookupAPNObj.sending }">
                Search
                <i class="fa fa-spinner fa-pulse"></i>
              </button>
              <button type="button" data-ng-show="lookupAPNObj.results.length" class="btn btn-primary" data-ng-disabled="lookupAPNObj.sending"
                      data-ng-click="openShowResultModal()">Show Results</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br/>
</div>



