<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Order Results</h3>
  <p>Please select an order, report type, and report format to get report of an order.</p>
</div>
<div class="modal-body associate-content">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Report Type</label>
            <div data-ui-select="" data-ng-model="data.report_type" data-theme="bootstrap" data-search-enabled="false"
                 data-ng-disabled="status.sending" required=""  data-on-select="resetGeneratedReport()">
              <div data-ui-select-match="" data-placeholder="Select Report type">{{$select.selected.title}}</div>
              <div data-ui-select-choices="" data-repeat="type.value as type in ::types.reports">
                <div data-ng-bind-html="type.title"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Report Format</label>
            <div data-ui-select="" data-ng-model="data.output" data-theme="bootstrap" data-search-enabled="false"
                 data-ng-disabled="status.sending" required="" data-on-select="resetGeneratedReport()">
              <div data-ui-select-match="" data-placeholder="Select Delivery format">{{$select.selected.title}}</div>
              <div data-ui-select-choices="" data-repeat="type.value as type in ::types.deliveryFormat">
                <div data-ng-bind-html="type.title"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mrg-top-15">
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered bottom-mar-none">
          <thead>
          <tr>
            <td></td>
            <td>Owner</td>
            <td>Unit Number</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Parcel Number</td>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="result in results | pagination: currentPage track by $index"
              data-ng-class="{'active': result === selectedResult}" data-ng-click="selectResult( result )">
            <td>
              <div class="radio">
                <input type="radio" data-ng-model="selectedResult" data-ng-value="result">
                <label></label>
              </div>
            </td>
            <td data-ng-bind="result.SA_OWNER_1 || SA_OWNER_2 || '-'"></td>
            <td data-ng-bind="result.SA_SITE_UNIT_VAL || '-'"></td>
            <td data-ng-bind="result.SITE_ADDRESS || '-'"></td>
            <td data-ng-bind="result.SA_SITE_CITY || '-'"></td>
            <td data-ng-bind="result.SA_SITE_STATE || '-'"></td>
            <td data-ng-bind="result.SA_SITE_ZIP || '-'"></td>
            <td data-ng-bind="result.SA_PARCEL_NBR_PRIMARY || '-'"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <nav data-ng-show="results.length > 10" data-pagination="" data-max-size="5" data-rotate="false"
           data-boundary-links="true" data-total-items="results.length" data-ng-model="currentPage">
      </nav>
    </div>
    <div class="col-sm-12 mrg-top-15" data-ng-show="status.error">
      <div class="alert alert-danger">
        <span data-ng-bind="status.error"></span>
      </div>
    </div>
    <div class="col-sm-12" data-ng-show="status.link || status.markup">
      <span>Click <span data-ng-click="showReport()">
        <a data-ng-href="{{status.link}}" target="_blank">here</a></span>
        to view your report.
      </span>
    </div>
    <div class="col-sm-6 mrg-top-15 pull-right text-right">
      <button class="btn btn-danger" data-ng-click="$close()">Cancel</button>
      <button type="button" class="btn btn-info" data-ng-click="generateReport()"
              data-ng-disabled="status.sending || !selectedResult" data-ng-class="{'loading': status.sending}">
        Generate Report
        <i class="fa fa-spinner fa-pulse"></i>
      </button>
    </div>
  </div>
</div>

