<div class="content-panel">
  <h3 class="top-mar-none">Download History</h3>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered bottom-mar-none">
      <thead>
      <tr>
        <td>Date</td>
        <td>Coupon</td>
        <td>Principle</td>
        <td>Payment</td>
        <td>Status</td>
        <td>CUSIP</td>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-show="!downloadHistoryError && !downloadHistory.length">
        <td colspan="6">Fetching...</td>
      </tr>
      <tr data-ng-show="downloadHistoryError && !downloadHistory.length">
        <td colspan="6">Error occurred while fetching data from Server.</td>
      </tr>
      <tr data-ng-repeat="item in downloadHistory  | pagination: currentPage track by $index">
        <td data-ng-bind="item.date_viewed"></td>
        <td data-ng-bind="item.coupon"></td>
        <td data-ng-bind="item.principle | currency"></td>
        <td data-ng-bind="item.payment"></td>
        <td data-ng-bind="item.status"></td>
        <td data-ng-bind="item.cusip"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <nav data-ng-show="downloadHistory.length > 10" data-pagination="" data-max-size="5" data-rotate="false"
       data-total-items="downloadHistory.length" data-ng-model="currentPage">
  </nav>
</div>
