<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ userStatusFormObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Search User</h3>
  <p>Please complete the form, so we can get matching users for you.</p>
</div>
<div class="modal-body">
  <div class="col-sm-12" data-user-form="" data-user="userFormObj.user" data-config="userFormObj.config" data-handlers="userFormObj.handlers">
    <!--user-form directive content will come here-->
    <form >
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group date-picker" data-ng-click="datePickerObj.formDateOpened = !status.sending">
              <input type="text" class="form-control" datepicker-popup="{{'dd-MM-yyyy'}}"
                     data-ng-disabled="status.sending"
                     data-ng-focus="datePickerObj.fromDateOpened = !status.sending"
                     min-date="TbOrder.time_requested_max"
                     ng-model="TbOrder.time_requested_min" is-open="datePickerObj.fromDateOpened"
                     placeholder="From Date" datepicker-options="datePickerObj.options" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-info">
                  <span class="fa fa-calendar"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group date-picker" data-ng-click="datePickerObj.toDateOpened = !status.sending">
              <input type="text" class="form-control" datepicker-popup="{{'dd-MM-yyyy'}}"
                     data-ng-disabled="status.sending"
                     data-ng-focus="datePickerObj.toDateOpened = !status.sending"
                     min-date="TbOrder.time_requested_min"
                     ng-model="TbOrder.time_requested_max" is-open="datePickerObj.toDateOpened"
                     placeholder="To Date" datepicker-options="datePickerObj.options" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-info">
                  <span class="fa fa-calendar"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Count min" data-ng-model="TbOrder.count_min"
                     data-ng-disabled="status.sending" min="3">
            </div>
          </div><div class="col-md-6">
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Count max" data-ng-model="TbOrder.count_max"
                   data-ng-disabled="status.sending" min="1" max="5">
          </div>
        </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

