<div class="content-panel flip">
  <h3>Offices Pipeline</h3>
  <div class="" data-pipeline="" data-config="pipelineObj.config" data-data="pipelineObj.data" data-status="pipelineObj.status">
    <!--data-pipeline="" directive content will come here with addition to this body-->
  </div>
</div>
<div class="content-panel flip">
  <div class="row">
    <div class="col-md-6">
      <h3 data-ng-bind="officeFormObj.config.editOffice ? 'Update Office' : 'Add New Office'"></h3>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" data-ng-click="showOfficesPipeline()">
        <span class="fa fa-angle-left"></span>
        Back to Offices
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row" data-ng-show="disableOfficeFormObj.serial_number >= 0">
        <div class="col-sm-12">
          <h4>Office's status</h4>
            <span class="checkbox">
              <input type="checkbox" id="disable" value="true" data-ng-model="disableOfficeFormObj.disableCheck" data-ng-disabled="disableOfficeFormObj.status.sending"/>
              <label for="disable">I want to disable this office.</label>
            </span>
        </div>
        <div class="col-sm-12" data-ng-show="disableOfficeFormObj.status.message">
          <div data-ng-class="{'alert alert-success' : disableOfficeFormObj.status.type === 'success', 'alert alert-danger' : disableOfficeFormObj.status.type === 'error'}">
            <span data-ng-bind-html="disableOfficeFormObj.status.message"></span>
          </div>
        </div>
        <div class="col-sm-12" >
          <button type="button" class="btn btn-danger" data-ng-disabled="disableOfficeFormObj.status.sending" data-ng-click="resetDisableOfficeForm()">Reset</button>
          <button type="button" class="btn btn-info" data-ng-class="{'loading' : disableOfficeFormObj.status.sending}"
                  data-ng-disabled="!disableOfficeFormObj.disableCheck || disableOfficeFormObj.status.sending" data-ng-click="submitDisableOfficeForm()">
            Confirm
            <i class="fa fa-spinner fa-pulse"></i>
          </button>
          <button type="button" class="btn btn-primary" data-ng-show="disableOfficeFormObj.usersAssociated"
            data-ng-click="openSwitchUsersModal()">
            Switch Users
          </button>
          <br/><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Office Information</h4>
        </div>
        <div class="col-sm-12" data-office-form="" data-office="officeFormObj.office" data-config="officeFormObj.config" data-handlers="officeFormObj.handlers">
        </div>
      </div>
    </div>
    <div class="col-sm-4 pull-right">
      <h4 class="h4 text-uppercase">Office profile section</h4>
      <p>
        This section is dedicated to office's profile. You can add a new office, update or disable any existing office.
      </p>
    </div>
  </div>
</div>
