<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Switch users</h3>
  <p>You can select here a new office for all associated users of current office.</p>
</div>
<div class="modal-body associate-content">
  <div class="row">
    <div class="col-xs-12">
      <span class="text-uppercase">Current Office:</span>
      &nbsp;
      <a href="javascript:" data-ng-bind="::currentOffice.TbOffice.corporate_name"></a>
      <hr class="divider"/>
    </div>
  </div>
  <ul class="nav nav-tabs pull-left">
    <li data-ng-class="{active: activeTabIndex === 0}" data-ng-click="changeTab(0)">
      <a href="javascript:">Associated Users</a>
    </li>
    <li data-ng-class="{active: activeTabIndex === 1}" data-ng-click="changeTab(1)">
      <a href="javascript:">Select a new Office</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 0}">
      <div class="col-xs-12">
        <p>This is the list of users that are associated to current office. Please select "Next" to choose a new office for them.</p>
      </div>
      <div class="col-xs-12" data-pipeline="" data-config="usersPipelineObj.config" data-data="usersPipelineObj.data" data-status="usersPipelineObj.status">
        <!--directive content will come here with addition to this body-->
        <!--<div>This is content from parent scope</div>-->
      </div>
      <br/>
      <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-primary" data-ng-disabled="status.sending"
                title="Click to show offices" data-ng-click="changeTab(1)">
          Next
        </button>
      </div>
    </div>
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 1}">
      <div class="col-xs-12">
        <p>Please select an office and Click "Switch Now" to switch all users from current office to the selected one.</p>
      </div>
      <div class="col-xs-12" data-pipeline="" data-config="officesPipelineObj.config" data-data="officesPipelineObj.data" data-status="officesPipelineObj.status">
        <!--directive content will come here with addition to this body-->
        <!--<div>This is content from parent scope</div>-->
      </div>
      <div class="col-xs-12">
        <div data-ng-class="{'alert alert-success' : switchOfficeObj.status.type === 'success', 'alert alert-danger' : switchOfficeObj.status.type === 'error'}">
          <span data-ng-bind="switchOfficeObj.status.message"></span>
        </div>
      </div>
      <br/>
      <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-danger" data-ng-disabled="switchOfficeObj.status.sending" data-ng-click="$close()">Cancel</button>
        <button type="button" class="btn btn-info" data-ng-class="{'loading' : switchOfficeObj.status.sending }"
                data-ng-disabled="switchOfficeObj.status.sending || !officesPipelineObj.data.selectedRecord" data-ng-click="switchOffice()">
          Switch Now
          <i class="fa fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>
  </div>
</div>
