<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ reportSearchObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Generate Report</h3>
  <p>
    <!--Please complete the form, so we can generate a report for you.-->
    The section is under development, Please stay tuned.
  </p>
</div>
<div class="modal-body">
  <form class="">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="text-uppercase">Select type of report</label>
        <div data-ui-select="" id="exact" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
          <div data-ui-select-match="" data-placeholder="Select">{{$select.selected.title}}</div>
          <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
            <div ng-bind-html="type.title"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="text-uppercase">Select type of object</label>
        <div data-ui-select="" id="exact1" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
          <div data-ui-select-match="" data-placeholder="Select">{{$select.selected.title}}</div>
          <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
            <div ng-bind-html="type.title"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="text-uppercase">Select type of group by</label>
        <div data-ui-select="" id="exact4" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
          <div data-ui-select-match="" data-placeholder="Select">{{$select.selected.title}}</div>
          <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
            <div ng-bind-html="type.title"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <label class="text-uppercase">From</label>
     <div class="row">
       <div class="col-sm-4">
         <div class="form-group">
           <div data-ui-select="" id="exact5" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
             <div data-ui-select-match="" data-placeholder="YYYY">{{$select.selected.title}}</div>
             <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
               <div ng-bind-html="type.title"></div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="form-group">
           <div data-ui-select="" id="exact6" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
             <div data-ui-select-match="" data-placeholder="MM">{{$select.selected.title}}</div>
             <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
               <div ng-bind-html="type.title"></div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="form-group">
           <div data-ui-select="" id="exact2" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
             <div data-ui-select-match="" data-placeholder="DD">{{$select.selected.title}}</div>
             <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
               <div ng-bind-html="type.title"></div>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
    <div class="col-sm-6">
      <label class="text-uppercase">Until</label>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div data-ui-select="" id="exact7" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
              <div data-ui-select-match="" data-placeholder="YYYY">{{$select.selected.title}}</div>
              <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
                <div ng-bind-html="type.title"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">

            <div data-ui-select="" id="exact8" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
              <div data-ui-select-match="" data-placeholder="MM">{{$select.selected.title}}</div>
              <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
                <div ng-bind-html="type.title"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div data-ui-select="" id="exact9" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
              <div data-ui-select-match="" data-placeholder="DD">{{$select.selected.title}}</div>
              <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
                <div ng-bind-html="type.title"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div data-ng-class="{'alert alert-success' : status.type === 'success', 'alert alert-danger' : status.type === 'error'}">
        <span data-ng-bind="status.message"></span>
      </div>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-danger" data-ng-disabled="status.sending" data-ng-click="resetForm()">Reset</button>
      <button type="submit" class="btn btn-info" data-ng-class="{'loading' : status.sending }"
              data-ng-disabled="status.sending">
        Generate
        <span data-ng-bind="config.submitText"></span>

        <i class="fa fa-spinner fa-pulse"></i>
      </button>
    </div>
  </form>
</div>
