<div class="content-panel flip">
  <h3>Employees Pipeline</h3>
  <div class="" data-pipeline="" data-config="pipelineObj.config" data-data="pipelineObj.data" data-status="pipelineObj.status">
    <!--data-pipeline="" directive content will come here with addition to this body-->
  </div>
</div>
<div class="content-panel flip">
  <div class="row">
    <div class="col-md-6">
      <h3 data-ng-bind="employeeFormObj.editState ? 'Update Employee' : 'Add New Employee'"></h3>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" data-ng-click="showEmployeesPipeline()">
        <span class="fa fa-angle-left"></span>
        Back to Employees
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row" data-ng-show="employeeStatusFormObj.serial_number >= 0">
        <div class="col-sm-12">
          <h4>Employee's status</h4>
            <span class="checkbox">
              <input type="checkbox" id="disable" value="true" data-ng-model="employeeStatusFormObj.disableEmployee" data-ng-disabled="employeeStatusFormObj.status.sending"/>
              <label for="disable">I want to disable this Employee.</label>
            </span>
        </div>
        <div class="col-sm-12" data-ng-show="employeeStatusFormObj.status.message">
          <div data-ng-class="{'alert alert-success' : employeeStatusFormObj.status.type === 'success', 'alert alert-danger' : employeeStatusFormObj.status.type === 'error'}">
            <span data-ng-bind="employeeStatusFormObj.status.message"></span>
          </div>
        </div>
        <div class="col-sm-12" >
          <button type="button" class="btn btn-danger" data-ng-disabled="employeeStatusFormObj.status.sending" data-ng-click="resetEmployeeStatusForm()">Reset</button>
          <button type="button" class="btn btn-info" data-ng-class="{'loading' : employeeStatusFormObj.status.sending}"
                  data-ng-disabled="!employeeStatusFormObj.disableEmployee || employeeStatusFormObj.status.sending" data-ng-click="disableEmployee()">
            Confirm
            <i class="fa fa-spinner fa-pulse"></i>
          </button>
          <button type="button" class="btn btn-primary" data-ng-show="employeeStatusFormObj.usersAssociated"
                  data-ng-click="openSwitchUsersModal()">
            Switch Users
          </button>
          <br/><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Employee Information</h4>
        </div>
        <div class="col-sm-12">
          <form name="employeeForm" data-ng-submit="submitEmployeeForm()" class="validate-form"
                data-ng-class="{'form-loading': employeeFormObj.status.sending}" novalidate="">
            <fieldset>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div data-ui-select="" data-ng-model="employeeFormObj.data.TbEmployee.type" data-theme="bootstrap" data-search-enabled="false"
                         data-ng-disabled="employeeFormObj.status.sending" required="">
                      <div data-ui-select-match="" data-placeholder="Select employee type">{{$select.selected.title}}</div>
                      <div data-ui-select-choices="" data-repeat="type.value as type in ::types.employee">
                        <div data-ng-bind-html="type.title"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                   <span class="checkbox">
                      <input type="checkbox" id="disable1" ng-true-value="1" ng-false-value="0" data-ng-model="employeeFormObj.data.TbEmployee.is_manager" />
                      <label for="disable1">Is Manager</label>
                   </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">{{config.hideControls.indexOf('username')}}
                    <input type="text" class="form-control" placeholder="Username (email)" data-ng-model="employeeFormObj.data.TbUser.username"
                           data-ng-disabled="employeeFormObj.status.sending" data-ng-readonly="employeeFormObj.editState && employeeFormObj.data.TbUser.username"
                           data-ng-required="" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div data-ui-select="" data-ng-model="employeeFormObj.data.TbUser.type" data-theme="bootstrap" data-search-enabled="false"
                         data-ng-disabled="employeeFormObj.status.sending" required="">
                      <div data-ui-select-match="" data-placeholder="Select user type">{{$select.selected.title}}</div>
                      <div data-ui-select-choices="" data-repeat="type.value as type in ::types.user">
                        <div data-ng-bind-html="type.title"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" data-ng-model="employeeFormObj.data.TbUser.first_name"
                           data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" data-ng-model="employeeFormObj.data.TbUser.last_name"
                           data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Name" data-ng-model="employeeFormObj.data.TbUser.company_name"
                           data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" data-ng-model="employeeFormObj.data.TbEmail[0].email"
                           data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone (10 digits)" data-ng-model="employeeFormObj.data.TbPhone[0].phone"
                           data-ng-disabled="employeeFormObj.status.sending" data-minlength="10" data-maxlength="10" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" data-ng-model="employeeFormObj.data.TbAddress[0].address"
                           data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Suite (optional)" data-ng-model="employeeFormObj.data.TbAddress[0].address_2"
                           data-ng-disabled="employeeFormObj.status.sending">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="City" data-ng-model="employeeFormObj.data.TbAddress[0].city"
                           data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="State" data-ng-model="employeeFormObj.data.TbAddress[0].state"
                           data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Zip Code" data-ng-model="employeeFormObj.data.TbAddress[0].zip"
                           data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
              </div>
              <div class="row" data-ng-hide="config.hideControls.indexOf('password') >= 0" data-ng-if="!employeeFormObj.editState">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password (Minimum 7 characters)"
                           data-ng-model="employeeFormObj.data.TbUser.password" minlength="7" data-ng-disabled="employeeFormObj.status.sending" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div data-ng-class="{'alert alert-success' : employeeFormObj.status.type === 'success', 'alert alert-danger' : employeeFormObj.status.type === 'error'}">
                    <span data-ng-bind="employeeFormObj.status.message"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button type="button" class="btn btn-danger" data-ng-disabled="employeeFormObj.status.sending" data-ng-click="resetEmployeeForm()">Reset</button>
                  <button type="submit" class="btn btn-info" data-ng-class="{'loading' : employeeFormObj.status.sending }"
                          data-ng-disabled="employeeFormObj.status.sending">
                    <!--Submit-->
                    <span data-ng-bind="employeeStatusFormObj.serial_number >= 0 ? 'Update Employee': 'Add Employee'"></span>
                    <i class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4 pull-right">
      <h4 class="h4 text-uppercase">Employee profile section</h4>
      <p>
        This section is dedicated to employee's profile. You can add a new employee, update or disable any existing employee.
      </p>
    </div>
  </div>
</div>
