<div class="reportsUploadRecord">
  <div class="content-panel">
    <div class="panel-area">
      <div class="row">
        <div class="col-md-12">
          <div class="half_section">
            <i class="fa fa-file-text-o fa-2x"></i>
            <h4 class="request_address">Upload your .CSV File</h4>
            <p>Drag and drop your formatted CSV file below</p>
            <div ngf-drop ng-model="csvFile" class="drop-box drag_drop"
                 ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                 ngf-accept=".csv"
                 ngf-pattern="'.csv'" ngf-max-size="2MB"
                 ngf-select>Drag-And-Drop your file here
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            <ul class="list-unstyled">
              <li style="font:smaller" ng-hide="csvFile.name.indexOf('.csv') === -1">{{csvFile.name}} {{csvFile.$error}} {{csvFile.$errorParam}}</li>
            </ul>
            <button class="btn btn-primary" data-ng-disabled="!csvFile" ng-click="uploadCsv(csvFile)">Upload</button>
            <button class="btn btn-danger " ng-click="csvFile = null" ng-show="csvFile">Remove</button>
            <div class="alert alert-danger alert-set" ng-show="csvFile.name.indexOf('.csv') === -1 || csvFile === null">! FILE TYPE SHOULD BE .CSV</div>
            <i ng-show="file.$error.maxSize">File too large
              {{csvFile.size / 1000000|number:1}}MB: max 2M</i>
              <img ng-show="file.$valid" ngf-thumbnail="csvFile" class="thumb">
              <span class="progress" ng-show="picFile.progress >= 0">
                <div style="width:{{csvFile.progress}}%" ng-bind="csvFile.name + csvFile.progress + '%'"></div>
              </span>
            <div class="alert alert-success alert-set" ng-show="picFile.result">Upload Successful</div>
            <div class="alert alert-danger alert-set" ng-show="errorMsg">{{errorMsg}}</div>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
