<div class="content-panel">
  <!--<h3>Your Account</h3>-->
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-md-12">
          <h3>Account Information</h3>
        </div>
        <div class="col-md-12" data-user-form="" data-user="userFormObj.user" data-config="userFormObj.config" data-handlers="userFormObj.handlers">
          <!--user-form directive content will come here-->
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-md-push-1">
      <div class="row">
        <div class="col-md-12">
          <h3>Change Password</h3>
        </div>
        <div class="col-md-12">
          <form name="passwordForm" data-ng-submit="changePassword(passwordForm)" class="validate-form" novalidate="">
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" data-ng-model="passwordFormObj.data.TbUser.password"
                           data-autofocus="passwordFormObj.focusFirstField" required="" data-minlength="7">
                    <div class="text-danger" data-ng-show="passwordForm.password.$error && (passwordForm.password.$touched || passwordForm.password.$dirty || passwordForm.$submitted)">
                      <span data-ng-show="passwordForm.password.$error.required">Password field is required.</span>
                      <span data-ng-show="passwordForm.password.$error.minlength">Password should be at least 7 characters.</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" data-ng-model="passwordFormObj.data.TbUser.confirm_password"
                           required="" data-minlength="7" confirm-password="passwordFormObj.data.TbUser.password" >
                    <div class="text-danger" data-ng-show="passwordForm.confirm_password.$error && (passwordForm.confirm_password.$touched || passwordForm.confirm_password.$dirty || passwordForm.$submitted)">
                      <span data-ng-show="passwordForm.confirm_password.$error.required">Confirm password field is required</span>
                      <span data-ng-show="passwordForm.confirm_password.$error.minlength">Password should be at least 7 characters.</span>
                      <span data-ng-if="passwordForm.confirm_password.$error.confirmPassword">
                        Confirm password is not equal to password.</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div data-ng-class="{'alert alert-success' : passwordFormObj.status.type === 'success', 'alert alert-danger' : passwordFormObj.status.type === 'error'}"
                       data-ng-bind="passwordFormObj.status.message">
                  </div>
                </div>
                <div class=" col-md-12">
                  <br/>
                  <button type="button" class="btn btn-danger" data-ng-disabled="passwordFormObj.status.sending" data-ng-click="resetPasswordForm(passwordForm)">Reset</button>
                  <button type="submit" class="btn btn-info" data-ng-class="{'loading' : passwordFormObj.status.sending }"
                          data-ng-disabled="passwordFormObj.status.sending">
                    Update password
                    <i class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
