<div class="sub-tabs-section">
  <h3>Manage your account</h3>
  <p>Update your account information, billing information, or view your download history.</p>

  <ul class="nav nav-pills">
    <li data-ui-sref-active="active"><a data-ui-sref="user.manage.account.accountInfo">Account Information</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="user.manage.account.billingInfo">Billing Information</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="user.manage.account.downloadHistory">Download History</a></li>
  </ul>
</div>
<!--this is a ui-view aria for child routes of Manage Accountstate-->
<div class="container" data-ui-view=""></div>

