<div class="content-panel">
  <h3 class="top-mar-none">Order History</h3>
  <div class="" data-pipeline="" data-config="pipelineObj.config" data-data="pipelineObj.data" data-status="pipelineObj.status">
    <!--data-pipeline="" directive content will come here with addition to this body-->
  </div>
</div>
