<div class="main-tabs-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Welcome back</h3>
        <p>This is your profile page. Choose what you want to do</p>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-pills">
          <li data-ng-class="{'active': $state.includes('user.manage.admin') }">
            <a data-ui-sref="user.manage.admin.users"><i class="manage-users"></i> Admin </a>
          </li>
          <li data-ng-class="{'active': $state.includes('user.manage.reports') }">
            <a data-ui-sref="user.manage.reports.orderReport"><i class="manage-reports"></i> Manage Reports</a>
          </li>
          <li data-ng-class="{'active': $state.includes('user.manage.account')}">
            <a data-ui-sref="user.manage.account.accountInfo"><i class="edit-your-profile"></i> Edit Your Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div data-ui-view="" class="manage"></div>

