<div class="sub-tabs-section">
  <h3>What do you want to do next?</h3>
  <p>
    You can order any Report by looking an address, owner or APN, Upload a new batch of Reports<br/>
    properties in a spreadsheet or view your pipeline of orders.
  </p>

  <ul class="nav nav-pills">
    <li data-ui-sref-active="active"><a data-ui-sref="user.manage.reports.orderReport">Order Report</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="user.manage.reports.uploadRecords">Upload Records</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="user.manage.reports.orderHistory">Order History</a></li>
  </ul>
</div>
<!--this is a ui-view aria for child routes of Manage Reports state-->
<div class="container" data-ui-view=""></div>
