<div class="content-panel flip">
  <h3>Users Pipeline</h3>
  <div class="" data-pipeline="" data-config="pipelineObj.config" data-data="pipelineObj.data" data-status="pipelineObj.status">
    <!--data-pipeline="" directive content will come here with addition to this body-->
  </div>
</div>
<div class="content-panel flip">
  <div class="row">
    <div class="col-md-6">
      <h3 data-ng-bind="userFormObj.config.editUser ? 'Update User' : 'Add New User'"></h3>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" data-ng-click="showUsersPipeline()">
        <span class="fa fa-angle-left"></span>
        Back to users
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row" data-ng-show="userFormObj.config.editUser">
        <div class="col-sm-12">
          <h4>User's status</h4>
            <span class="checkbox">
              <input type="checkbox" id="disable" value="true" data-ng-model="userStatusFormObj.disableUserCheck" data-ng-disabled="userStatusFormObj.status.sending"/>
              <label for="disable">I want to disable this user.</label>
            </span>
        </div>
        <div class="col-sm-12" data-ng-show="userStatusFormObj.status.message">
          <div data-ng-class="{'alert alert-success' : userStatusFormObj.status.type === 'success', 'alert alert-danger' : userStatusFormObj.status.type === 'error'}">
            <span data-ng-bind="userStatusFormObj.status.message"></span>
          </div>
        </div>
        <div class="col-sm-12">
          <button type="button" class="btn btn-danger" data-ng-disabled="userStatusFormObj.status.sending" data-ng-click="resetUserStatusForm()">Reset</button>
          <button type="button" class="btn btn-info" data-ng-class="{'loading' : userStatusFormObj.status.sending}"
                  data-ng-disabled="!userStatusFormObj.disableUserCheck || userStatusFormObj.status.sending" data-ng-click="disableUser()">
            Confirm
            <i class="fa fa-spinner fa-pulse"></i>
          </button>
          <br/><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Profile Information
            <span class="text-wait" data-ng-show="userFormObj.fetching">(fetching...)</span>
          </h4>
        </div>
        <div class="col-sm-12"
             data-user-form="" data-user="userFormObj.user" data-config="userFormObj.config" data-handlers="userFormObj.handlers">
          <!--user-form directive content will come here-->
        </div>
      </div>
    </div>
    <div class="col-sm-4 pull-right">
      <h4 class="h4 text-uppercase">User profile section</h4>
      <p data-ng-hide="userFormObj.config.editUser">This section is dedicated to user's profile.
        you can create a new user by providing basic details, Email, Phone, Address and assign it suitable role.</p>
      <p data-ng-show="userFormObj.config.editUser">This section is dedicated to user's profile. you can edit user's
        profile, change user's role, or even disable a user.</p>
    </div>
  </div>
</div>
