<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Associate to <span data-ng-bind="::association"></span></h3>
  <p>
    Please select a new <span data-ng-bind="::association"></span>
    for
    <span data-ng-hide="::pipelineUserObj">the new user.</span>
    <a data-ng-show="::pipelineUserObj" data-ng-bind="::pipelineUserObj.name_col.full_name"></a>.
  </p>
</div>
<div class="modal-body associate-content">
  <div class="row">
    <div class="col-xs-12">
      <span class="text-uppercase">Current <span data-ng-bind="::association"></span>:</span>
      &nbsp;
      <a data-ng-bind="currentAssociation"></a>
      <hr class="divider"/>
    </div>
  </div>
  <form class="" >
    <div class="col-xs-12" data-pipeline="" data-config="pipelineObj.config" data-data="pipelineObj.data" data-status="pipelineObj.status">
      <!--directive content will come here with addition to this body-->
      <!--<div>This is content from parent scope</div>-->
    </div>
    <div class="col-xs-12" data-ng-if="confirmObj.needConfirm">
      <div class="checkbox">
        <input type="checkbox" id="confirmCheck" data-ng-model="confirmObj.confirmCheck"
               data-ng-disabled="status.sending"/>
        <label for="confirmCheck">Yes, I want to re assign this user to a new one.</label>
      </div>
    </div>
    <div class="col-xs-12" data-ng-if="!status.sending">
      <div data-ng-class="{'alert alert-success' : status.type === 'success', 'alert alert-danger' : status.type === 'error'}">
        <span data-ng-bind="status.message"></span>
      </div>
    </div>
    <br/>
    <div class="col-xs-12">
      <button type="button" class="btn btn-danger" data-ng-disabled="status.sending" data-ng-click="resetForm()">Reset</button>
      <button type="button" class="btn btn-info" data-ng-class="{'loading' : status.sending }"
              data-ng-disabled="status.sending || !pipelineObj.data.selectedRecord || ( confirmObj.needConfirm && !confirmObj.confirmCheck )"
              data-ng-click="associateUser()">
        <span data-ng-bind="selectOnly ? 'Select' : confirmObj.needConfirm ? 'Confirm' : 'Associate'"></span>
        <i class="fa fa-spinner fa-pulse"></i>
      </button>
    </div>
  </form>
</div>
