<div class="sub-tabs-section">
  <h3>Manage your users</h3>
  <p>Add a new user, search, update profile or disable any existing user.</p>
  <ul class="nav nav-pills">
    <li data-ui-sref-active="active"><a data-ui-sref="user.manage.admin.users">Users</a></li>
    <li data-ui-sref-active="active" data-ng-show="::isOfficeAllowed()"><a data-ui-sref="user.manage.admin.offices">Offices</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="user.manage.admin.employees">Employees</a></li>
  </ul>
</div>

<!--this is a ui-view aria for child states of Manage Admin state-->
<div class="container users-pipeline" data-ui-view="" data-flip-box=""></div>
