<div class="content-panel">

  <!--<div class="alert alert-info" role="alert">-->
      <!--Your credit card is XXXX-XXXX-XXXX-1209. If you want to change the details, please-->
      <!--<a href="javascript:" title="click here" data-ng-click="choosePayment()">click here »</a>-->
  <!--</div>-->

  <h3 class="top-mar-none">Billing Information</h3>
  <p>The section is under development. Please stay tunned.</p>
    <!--<div class="table-responsive">
        <table class="table white-table bottom-mar-none">
            <thead>
            <tr>
                <td>Date</td>
                <td>Id</td>
                <td>price</td>
                <td>Discount</td>
                <td>Total</td>
                <td>Type</td>
                <td>Actions</td>
            </tr>
            </thead>
          <tbody>
          <tr data-ng-show="!billingHistoryError && !billingHistory.length">
            <td colspan="9">Fetching...</td>
          </tr>
          <tr data-ng-show="billingHistoryError && !billingHistory.length">
            <td colspan="9">Error occurred while fetching data from Server.</td>
          </tr>
          <tr data-ng-repeat="item in billingHistory | pagination : currentPage track by $index">
            <td data-ng-bind="item.date"></td>
            <td data-ng-bind="item.trans_id"></td>
            <td data-ng-bind="item.price | currency"></td>
            <td data-ng-bind="item.discount || '-'"></td>
            <td data-ng-bind="item.total | currency"></td>
            <td data-ng-bind="item.type"></td>
            <td><a href="{{item.url}}" title="Download Invoice" data-ng-click="setupBillingInfo()">Download Invoice</a></td>
          </tr>
          </tbody>
        </table>
    </div>
    <nav data-ng-show="billingHistory.length > 10" data-pagination="" data-max-size="5" data-rotate="false"
         data-boundary-links="true" data-total-items="billingHistory.length" data-ng-model="currentPage">
    </nav>-->
</div>
