<div class="container sub-header">
  <h1>Our products</h1>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean <br/> sollicitudin, lorem quis bibendum auctor, nisi</p>
</div>

<div class="why-hire-us gray">
  <div class="container">
    <h3>Products overview</h3>
    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
    <br/>
    <!--product-overview component-->
    <div class="row" data-product-overview=""></div>
  </div>
</div>

<div class="products-list white border-top">
  <div class="container">
    <div class="row animate" data-animation="fadeInLeft" data-duration="100" data-ng-repeat-start="product in ::products">
      <div class="col-sm-5">
        <h3 data-ng-bind="product.shortTitle"></h3>
        <span data-ng-bind="product.description"></span>
        <p data-ng-bind="product.summary"></p>
        <a data-ui-sref="public.signUp" title="Sign Up Now" class="sign-up btn btn-info">Sign Up Now</a>
        <a data-ui-sref="public.productDetails({ productId: product.url })" title="Read more about {{product.shortTitle}}" class="read-more">
          Read more <i class="fa fa-angle-right"></i>
        </a>
      </div>
      <div class="col-sm-7 text-right">
        <img data-ng-src="{{ product.imagePath }}" alt="{{product.shortTitle}}" title="{{product.shortTitle}}"/>
      </div>
    </div>
    <hr data-ng-if="!$last" data-ng-repeat-end=""/>
  </div>
</div>

<!--need to know more component-->
<div data-need-to-know-more=""></div>
