<div class="container sub-header">
  <h1>Help and Support</h1>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean <br/> sollicitudin,
    lorem quis bibendum auctor, nisi</p>
</div>

<div class="support-category white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<h2>Getting started with workExample</h2>-->
        <h2 data-ng-bind="currentCategory.completeTitle"></h2>
      </div>
      <div class="col-md-6 text-right">
        <a data-ui-sref="public.support" class="btn btn-primary"><span class="fa fa-angle-left"></span> Back to help page</a>
      </div>
    </div>

    <!--category details-->
    <div ng-include="currentCategory.templateUrl || 'partials/supportCategory/supportCategory.comingSoon.view.html'"></div>

    <div class="row">
      <br/>
      <div class="col-md-12 text-right">
        <a data-ui-sref="public.support" class="btn btn-primary"><span class="fa fa-angle-left"></span> Back to help page</a>
      </div>
    </div>

  </div>
</div>

<!--need to know more component-->
<div data-need-to-know-more=""></div>
