<div data-accordion="" data-close-others="true">
  <div data-accordion-group="" data-is-open="accordionStates[0]">
    <div data-accordion-heading="">
      How do I use advance search? Is it easy? <i class="pull-right fa" ng-class="accordionStates[0] ? 'fa-minus' : 'fa-plus'"></i>
    </div>
    <p><img src="assets/images/support-thumb.jpg" class="thumb-right" alt=""/> This is Photoshop's version  of
      Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
      elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
      mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae
      erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed
      non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum
      feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat
      justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
      Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam,
      ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
  </div>
  <div data-accordion-group="" data-is-open="accordionStates[1]">
    <div data-accordion-heading="">
      How do I lorem ipsum ?<i class="pull-right fa" ng-class="accordionStates[1] ? 'fa-minus' : 'fa-plus'"></i>
    </div>
    <p><img src="assets/images/support-thumb.jpg" class="thumb-right" alt=""/> This is Photoshop's version  of
      Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
      elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
      mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae
      erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed
      non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum
      feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat
      justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
      Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam,
      ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
  </div>
  <div data-accordion-group="" data-is-open="accordionStates[2]">
    <div data-accordion-heading="">
      How do I dolar sit amet? <i class="pull-right fa" ng-class="accordionStates[2] ? 'fa-minus' : 'fa-plus'"></i>
    </div>
    <p><img src="assets/images/support-thumb.jpg" class="thumb-right" alt=""/> This is Photoshop's version  of
      Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
      elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
      mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae
      erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed
      non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum
      feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat
      justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
      Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam,
      ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
  </div>
</div>
