<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ selectFromMapObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3>23 Donington St., Los Angeles, CA, 23021</h3>
  <a href="javascript:">Subject Info</a>
</div>
<div class="modal-body">
  <div class="async" style=" width: 100%; height: 300px;" data-ol-map="" data-options="mapOptions"></div>

  <ul class="nav nav-tabs">
    <li data-ng-class="{active: activeTabIndex === 0}" data-ng-click="changeTab(0)">
      <a href="javascript:"><i class="icon-info-circled"></i> Lead Info</a>
    </li>
    <li data-ng-class="{active: activeTabIndex === 1}" data-ng-click="changeTab(1)">
      <a href="javascript:"><i class="icon-tag"></i> Comps</a>
    </li>
    <li data-ng-class="{active: activeTabIndex === 2}" data-ng-click="changeTab(2)">
      <a href="javascript:"><i class="icon-chart-bar"></i> Statistics</a>
    </li>
    <li data-ng-class="{active: activeTabIndex === 3}" data-ng-click="changeTab(3)">
      <a href="javascript:"><i class="icon-torso-business"></i> Owner info</a>
    </li>
    <li data-ng-class="{active: activeTabIndex === 4}" data-ng-click="changeTab(4)">
      <a href="javascript:"><i class="icon-notebook-streamline"></i> Area Nod</a>
    </li>
    <li data-ng-class="{active: activeTabIndex === 5}" data-ng-click="changeTab(5)">
      <a href="javascript:"><i class="icon-ccw"></i> History</a>
    </li>
    <li data-ng-class="{active: activeTabIndex === 6}" data-ng-click="changeTab(6)">
      <a href="javascript:"><i class="icon-group"></i> Neighbours</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 0}">
      <ul class="nav nav-tabs">
        <li data-ng-class="{active: activeSubTabIndex === 0}" data-ng-click="changeSubTab(0)">
          <a href="javascript:">Specific</a>
        </li>
        <li data-ng-class="{active: activeSubTabIndex === 1}" data-ng-click="changeSubTab(1)">
          <a href="javascript:">Contact Info</a>
        </li>
        <li data-ng-class="{active: activeSubTabIndex === 2}" data-ng-click="changeSubTab(2)">
          <a href="javascript:">Notes/Save lead</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" data-ng-class="{active: activeSubTabIndex === 1}">
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City/State/ZIP</th>
                <th>Phone/Email</th>
                <th>DNC</th>
              </tr>
              <tr>
                <td>Mark Powder</td>
                <td>23 Donnington St</td>
                <td>Los Angeles  CA  23021</td>
                <td>1209128912 <br/> <a href="javascript:">m.powder@realestatedudes.com</a> </td>
                <td><i class="icon-check"></i></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 1}">This is a Comps tab</div>
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 2}">This is a Statistics tab</div>
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 3}">This is a Owner info tab</div>
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 4}">This is a Area Nod tab</div>
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 5}">This is a History tab</div>
    <div class="tab-pane" data-ng-class="{active: activeTabIndex === 6}">This is a Neighbours tab</div>
  </div>

</div>

