<div class="container sub-header">
  <h1>
    The best tool for realtors, <br/>
    simple, powerful and cheap
  </h1>
  <a data-ui-sref="public.signUp" class="btn btn-info">Sign Up Now</a>
  <a data-ui-sref="public.support" title="Watch the video" class="watch-video"><i class="fa fa-play"></i> Watch the video</a>
  <div class="cleafix"></div>
  <img src="assets/images/public-home-banner.png" class="main-img" alt="" title="User Dashboard"/>
</div>

<div class="why-hire-us gray">
  <div class="container">
    <!--product-overview component-->
    <div class="row animate" data-product-overview="" data-animation="fadeInLeft" data-duration="100"></div>
  </div>
</div>

<div class="our-product white border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Our awesome
          products</h3>
        <p>
          This is Photoshop's
          version  of Lorem Ipsum.
          Proin gravida nibh vel
        </p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-6" data-ng-repeat="product in ::products">
            <h4 data-ng-bind="product.shortTitle"></h4>
            <!--<span data-ng-bind="product.description"></span>-->
            <img data-ng-src="{{ product.imagePath }}" alt="{{product.shortTitle}}" title="{{product.shortTitle}}"/>
            <p data-ng-bind="product.summary"></p>
            <a data-ui-sref="public.productDetails({ productId: product.url })" title="Read more about {{product.shortTitle}}">
              Read more <i class="fa fa-angle-right"></i>
            </a>
            <hr data-ng-if="$index <=1"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="latest-news gray border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3 center">
        <h3>Our latest news</h3>
        <p>
          This is Photoshop's
          version  of Lorem Ipsum.
          Proin gravida nibh vel
        </p>
      </div>
      <div class="col-md-9 show-mobile">
        <div data-owl-carousel="" >
          <div owl-carousel-item="" ng-repeat="newsFeed in ::newsFeeds" class="item">
            <div class="">
            <img data-ng-src="{{ newsFeed.image }}" alt="Sphere Tool" title="{{newsFeed.title}}"/>
            <h4 data-ng-bind="newsFeed.title"></h4>
            <i data-ng-bind="newsFeed.date"></i>
            <p data-ng-bind="newsFeed.summary"></p>
            <a href="javascript:" title="Read more" data-ng-bind="newsFeed.link"> <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 show-desktop">
        <div class="col-sm-4 col-md-4" data-ng-repeat="newsFeed in ::newsFeeds">
        <img data-ng-src="{{ newsFeed.image }}" alt="Sphere Tool" title="{{newsFeed.title}}"/>
        <h4 data-ng-bind="newsFeed.title"></h4>
        <i data-ng-bind="newsFeed.date"></i>
        <p data-ng-bind="newsFeed.summary"></p>
        <a href="javascript:" title="Read more" data-ng-bind="newsFeed.link"> <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
