<!--main header-->
<div class="header" data-ng-include="isAuth ? 'components/header/header.user.view.html' : 'components/header/header.public.view.html'"></div>

<!--main content view-->
<div class="container">
  <div class="wrapper" data-ng-include="isAuth ? 'partials/home/home.user.view.html' : 'partials/home/home.public.view.html'"></div>
</div>

<!--main footer-->
<footer>
  <div class="container" data-ng-include="'components/footer/footer.view.html'"></div>
</footer>
