<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ addLeadToFarmObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Add Lead to a farm</h3>
</div>
<div class="modal-body">
  <form class="form-inline">
    <label>Create new farm</label> <br/>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="New Farm’s Name">
    </div>
    <button type="submit" class="btn btn-info">Create Farm <span class="fa fa-angle-right"></span></button>
  </form>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th colspan="3">Add to existing farm</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="lead in farmLeads">
        <td data-ng-bind="lead.name"></td>
        <td>
          <div class="checkbox">
            <input type="checkbox" id="{{lead.id}}">
            <label for="{{lead.id}}" class="icon-checkbox">Leads: <b data-ng-bind="lead.leads"></b>  |  Created: <b data-ng-bind="lead.createDate | date : 'MM/dd/yyyy'"></b></label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
