<div class="modal-body">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ searchFormObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="col-md-12">
      <!--<div class="login-icon"></div>-->
      <h3>Please select a search criteria</h3>
      <p>This is Photoshop's version  of Lorem Ipsumravida nibh vel velit</p>
      <ul class="nav nav-tabs">
        <li data-ng-class="{active: activeTabIndex === 0}" data-ng-click="changeTab(0)">
        <a href="javascript:"><i class="icon-location"></i> Address</a>
        </li>
        <li data-ng-class="{active: activeTabIndex === 1}" data-ng-click="changeTab(1)">
          <a href="javascript:"><i class="icon-torso-business"></i> Owner</a>
        </li>
        <li data-ng-class="{active: activeTabIndex === 2}" data-ng-click="changeTab(2)">
          <a href="javascript:"><i class="icon-sun"></i> Parcel</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" data-ng-class="{active: activeTabIndex === 0}">
          <form>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Address">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div data-ui-select="" id="exact" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
                  <div data-ui-select-match="" data-placeholder="Exact">{{$select.selected.title}}</div>
                  <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
                    <div ng-bind-html="type.title"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div data-ui-select="" id="State" data-ng-model="userPersonalInfo.TbEmail[0].type" data-theme="bootstrap" data-search-enabled="false" data-required>
                  <div data-ui-select-match="" data-placeholder="State">{{$select.selected.title}}</div>
                  <div data-ui-select-choices="" data-repeat="type.value as type in types.email">
                    <div ng-bind-html="type.title"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Zip">
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" data-ng-class="{active: activeTabIndex === 1}">
          This is owner tab..
        </div>
        <div class="tab-pane" data-ng-class="{active: activeTabIndex === 2}">
          This is parcel tab..
        </div>
      </div>
      <button type="button" class="btn btn-info">Start search <span class="fa fa-angle-right"></span></button>
    </div>
  </div>
</div>
