<div class="modal-header">
  <button type="button" class="close" aria-label="Close" data-ng-attr-title="{{ farmDetailsObj.status.sending ? 'Please wait! Request is in progress.' : 'Close' }}" data-ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="col-md-6">
      <h3 class="modal-title">Farm Number One</h3>
      <p>Leads: <i data-ng-bind="farms.length">  |</i>  Created: <i>02/02/2013  |</i>  Owner: <b>Ryan Marshall</b></p>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary">Send <span class="icon-email-plane"></span></button>
      <button type="button" class="btn btn-primary">Delete <span class="icon-cancel"></span></button>
    </div>
  </div>

</div>
<div class="modal-body">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><span data-ng-bind="farms.length"></span> Listed Properties</th>
          <th><a href="javascript:">View Farm on Map <span class="icon-pin-location"></span></a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="selectAll" data-ng-click="selectAll()" data-ng-model="selectedAll">
              <label for="selectAll">Select All</label>
            </div>
          </td>
          <td class="text-right">Bulk Actions</td>
        </tr>
        <tr data-ng-repeat="farm in farms">
          <td colspan="2">
            <div class="row">
              <div class="col-sm-8 col-md-6">
                <p><i>FSBO</i> - <i class="active" data-ng-bind="farm.status"></i> <i class="icon-clip"></i></p>
                <div class="checkbox">
                  <input type="checkbox" id="{{farm.id}}" data-ng-model="farm.selected">
                  <label for="{{farm.id}}" data-ng-bind="farm.location"></label>
                </div>
                <p>
                  <span data-ng-bind="farm.capability"></span>
                  <i>|</i>
                  Br: <span data-ng-bind="farm.br"></span>
                  <i>|</i>
                  Ba: <span data-ng-bind="farm.ba"></span>
                  <i>|</i>
                  Sqft: <span data-ng-bind="farm.sqft"></span>
                </p>
              </div>
              <div class="col-sm-4 col-md-2 col-md-push-4">
                <div data-ui-select="" id="TbFarmType" data-ng-model="type" data-theme="bootstrap" data-search-enabled="false" data-required>
                  <div data-ui-select-match="" data-placeholder="Select Action">{{$select.selected.title}}</div>
                  <div data-ui-select-choices="" data-repeat="type.value as type in types">
                    <div ng-bind-html="type.title"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-md-pull-2">
                <a href="javascript:" data-ng-click="viewDetails()">View Details <span class="icon-pin-location"></span></a>
                <a href="javascript:" data-ng-click="viewOnMap()">View on Map <span class="icon-pin-location"></span></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
