<div class="need-to-know-more">
  <div class="container">
    <h3>Need to know more?</h3>
    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
      <br/> lorem quis bibendum auctor, nisi</p>
    <a data-ui-sref="public.contact" title="Contact our support team" class="btn btn-info">Contact our support team</a>
  </div>
</div>
