.panel-group{
  margin-bottom: 0;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  .panel{
    border: none;
    margin-top: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    .panel-heading{
      padding: 0;
      color: #333333;
      background-color: transparent;
      border-top: 1px solid #ddd;
      .panel-title{
        a{
          padding: 15px;
          display: block;
          color: $brand-primary;
          font-size: 18px;
          &:hover{
            text-decoration: none;
          }
        }
        [aria-expanded="true"]{
          color: #2e4250;
        }
      }
    }
    .panel-body{
      border-top: none !important;
    }
  }
  p{
    font-size: 15px;
    color: #748794;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .thumb-right{
    float: right;
    margin: 0 0 15px 15px;
  }
  .panel-hea{
    padding: 20px;
    display: block;
    color: $brand-primary;
    font-size: 18px;
    border-top: 1px solid #ddd;
  }
  .set-padding{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  h4{
    margin-top: 0;
  }
  .mar-none{
    margin-top: 0 !important;
  }
  .hea-panel{
    margin-bottom: 5px !important;
  }
}
