.add-lead{
  .modal-content{
    padding: 0;
    @include border-radius(5px);
    background: #f8fafb;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    .modal-header{
      text-align: center;
    }
    .modal-body{
      padding: 0;
      display: inline-block;
      width: 100%;
      .form-inline{
        padding: 20px 30px 25px 30px;
        border-bottom: 1px solid #e5e5e5;
        .form-control {
          width: 370px;
        }
      }

      table{
        margin-bottom: 0;
        th{
          font-size: 14px;
          font-weight: normal;
          padding: 14px 30px;
          border-bottom: none;
        }

        tbody{
          tr{
            &:hover {
              background-color: $brand-primary;
              color: #fff;
              td{
                .checkbox{
                  label{
                    color: #fff;
                    &:before{
                      color: $brand-primary !important;
                      background: #fff !important;
                    }
                    b{
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }

        td{
          padding: 14px 15px 14px 30px;
          font-size: 12px;
          .checkbox{
            text-align: right;
            padding: 0 45px 0 0;
            label{
              font-size: 12px;
              &:before{
                left: initial;
                right: 0;
                top: -6px;
                margin: 0;
                width: 30px;
                height: 30px;
                background: $brand-primary;
                border: none;
                content: "z";
                color: #fff;
                text-align: center;
                line-height: 30px;
                font-size: 16px;
                @include border-radius(50%);
              }
              b{
                font-weight: normal;
                color: #94acbc;
              }
            }
            input[type=checkbox]:checked + label:before{
              content: "B";
              background: $brand-info;
            }
          }
        }
      }
    }
    h3{
      margin: 0;
      font-size: 25px;
    }
    p{
      margin: 0;
      color: #93a9b9;
    }
  }
  .btn{
    text-transform: none !important;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .add-lead{
    .modal-sm {
      width: 565px;
      margin: 50px auto;
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .add-lead{
    .modal-sm {
      width: 565px;
      margin: 50px auto;
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .add-lead{
    .modal-sm {
      width: 565px;
      margin: 30px auto;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .add-lead{
    .modal-sm {
      width: 565px;
      margin: 50px auto;
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .add-lead{
    .modal-sm {
      width: calc(100% - 20px);
      margin: 9px auto;
      h3{
        font-size: 20px;
      }
    }
  }
}
