.fetching-list{
  .ajax{
    display: inline-block !important;
  }
}
.ajax{
  display: none !important;
  float: right;
  position: absolute;
  right: -4%;
  top: 17%;
}
.olMap .olControlAttribution{
  display: none !important;
}
