.btn {
  border:0;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include border-radius(3px);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    @include border-radius(3px);
  }
  &:hover{
    &:before{
      -webkit-animation-name: hvr-ripple-out;
      animation-name: hvr-ripple-out;
    }
  }


  &:focus{
    outline: none;
  }
  &[disabled] {
    color: $brand-white;
  }
  &.loading{
    i{
      display: inline-block;
    }
  }
  i{
    display: none;
    margin-left: 10px;
  }
  span{
    font-size: 15px;
  }
  i.caret{
    display: block !important;
  }
}
.btn:active:focus{
  outline: none;
}
.btn-default {
 background: $brand-info;
  &:hover{
    background: $brand-info;
  }
  &:focus{
    background: $brand-info;
  }
  &:active{
    background: $brand-info;
  }
  &:before {
    border: $brand-info solid 5px;
  }
  &[disabled] {
    background: $brand-info;
  }
}
.btn-primary {
  background: $brand-primary;
  &:hover{
    background: $brand-primary;
  }
  &:focus{
    background: $brand-primary;
  }
  &:active{
    background: $brand-primary;
  }
  &:before {
    border: $brand-primary solid 5px;
  }
}
.btn-success{
  background: transparent;
  border:1px $brand-primary solid;
  color: $brand-primary;
  padding: 9px 20px;
  @include transition(0.5s);
  &:hover{
    background: $brand-primary;
    color: $brand-white;
    border:1px $brand-primary solid;
  }
  &:focus{
    outline: none;
    background: transparent;
    border:1px $brand-primary solid;
    color: $brand-primary;
  }
}
.btn-danger{
  background: transparent;
  border:1px $brand-danger solid;
  color: $brand-danger;
  padding: 9px 20px;
  @include transition(0.5s);
  &:hover{
    background: $brand-danger;
    color: $brand-white;
    border:1px $brand-danger solid;
  }
  &:focus{
    outline: none;
    background: transparent;
    color: $brand-danger;
    border:1px $brand-danger solid;
  }
}

.btn-info {
  background: $brand-info !important;
  &:hover{
    background: $brand-info !important;
    border-color: $brand-info !important;
    border-bottom-color: $brand-info !important;
  }
  &:focus{
    background: $brand-info !important;
  }
  &:active{
    background: $brand-info !important;
  }
  &:before {
    border: $brand-info solid 5px !important;
  }
  &[disabled] {
    background: $brand-info;
  }
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
