
input[type=radio],
input[type=checkbox] {
  display: none;
}
.checkbox label:before, .radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  position: absolute;
  top: 3px;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  border: 1px #c2c4d0 solid;
}

.radio label:before {
  @include border-radius(50%);
}
.checkbox label, .radio label {
  margin-bottom: 10px;
  padding-left: 25px;
  font-size: 14px;
}
.checkbox label:before {
  @include border-radius(3px);
}

input[type=radio]:checked + label:before {
  @extend .fa;
  content: "\f111";
  color: $brand-primary;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
}

input[type=checkbox]:checked + label:before {
  font-family: "workExample" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "q";
  font-size: 12px;
  color: $brand-primary;
  text-align: center;
  line-height: 17px;
}

table{
  .checkbox label, .radio label {
    margin-bottom: 0;
    padding-left: 0;
    min-height: initial;
  }
  .radio, .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 25px;
  }

}
