.pointer {
  cursor: pointer;
}

.jumbotron {
  min-height: 374px;
}

.slide-up, .slide-down, .slide-right, .slide-left {
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.tel {
  color: $brand-info;
  &:hover, &:focus {
    color: $brand-info;
  }
}

.mrg-top-15 {
  margin-top: 15px;
}
i.caret{
  border-top: 4px dashed !important;
}
.pad-bottom{
  padding-bottom: 40px;
}
