.date-picker{
  margin-bottom: 15px;
  button.btn.btn-default.btn-sm {
    padding: 6px 8.2px !important;
  }
  td{
    padding: 1.7px !important;
  }
  li.ng-scope {
    padding: 6px 5px 41px 2px !important;
  }
  button.btn.btn-sm.btn-danger{
    padding: 7px 20px !important;
  }
  button.btn.btn-sm.btn-success{
    padding: 7px 20px !important;
  }
  i.glyphicon.glyphicon-chevron-right{
    display: block !important;
    margin-left: 0 !important;
  }
  i.glyphicon.glyphicon-chevron-left{
    display: block !important;
    margin-left: 0 !important;
  }
  button.btn.btn-default.btn-sm.pull-left {
    margin: 0 4px 0 1px !important;
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    &:before{
      border: 1px solid #ccc !important;
    }
    &:hover{
      background-color: #ebebeb;
      border-color: #adadad;
    }
  }
  li{
    &:focus{
      outline: none !important;
    }
    table:focus{
      outline: none !important;
    }
  }
  .fa{
    padding: 1px;
  }
  .glyphicon{
    top:-1px;
  }
  .dropdown-menu {
    padding: 4px 0 0 4px;
  }
}
