.dynamic-form-fields{
  .field-group{
    margin-bottom: 15px;
  }
  .sub-label{
    font-size: 14px;
  }
  .fetching-list{
    .ajax{
      right: -2px;
      top: 40px;
    }
  }

  .ui-select-container{

    &.open .ui-select-match.ng-hide {
      display: block !important;
    }
    .ui-select-match-item{
      padding: 5px !important;
      margin-right: 3px;
    }
    .ui-select-choices{
      min-width: initial;
      top: -4%;
    }
    .btn-default {
      color: #333;
      background-color: #fff;
      &:before{
        border: 1px solid #ccc !important;
      }
      &:hover{
        background-color: #ebebeb;
        border-color: #adadad;
      }
    }
    input{
      min-height: 31px;
    }
  }
}
