.farm-details{
  .modal-content{
    padding: 0;
    @include border-radius(5px);
    background: #f8fafb;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    .modal-header{
      padding: 25px 30px;
      width: 100%;
      .close {
        margin-top: -20px;
        margin-right: -20px;
      }

      h3{
        font-size: 24px;
      }
      p{
        margin: 0;
        font-size: 14px;
        i{
          font-style: normal;
          color: #94acbc;
        }
        b{
          font-weight: normal;
          color: $brand-primary;
        }
      }
      .btn{
        margin: 5px;
        width: 120px;
        text-align: left;
        line-height: normal;
        span{
          float: right;
        }
      }

    }
    .modal-body{
      padding: 0;
      width: 100%;

      table{
        margin: 0;
        thead{
          th{
            padding: 15px 30px;
            font-weight: normal;
            color: #94acbc;
            border-bottom: none;
            background: #fff;
            &:last-child{
              text-align: right;
            }
            a{
              text-transform: uppercase;
              font-size: 12px;
            }
          }
        }
        tbody{
          tr{
            background-color: #fff;
            &:first-child{
              background-color: #ecf0f8 !important;
            }
            &:hover{
              background-color: #e9f3f9;
            }
          }
          td{
            padding: 15px 30px;

            .checkbox{
              label{
                padding-left: 25px;
                font-size: 16px;
              }
            }
            a{
              display: inline-block;
              text-transform: uppercase;
              font-size: 12px;
            }
            .icon-clip{
              position: relative;
              margin: 0 10px;
              &:before{
                background: #fff;
                padding: 3px;
                border: 1px #d3dae4 solid;
                font-size: 10px;
                position: relative;
                @include border-radius(3px);
                z-index: 1;
                color: $brand-primary;
              }
              &:hover{
                &:before{
                  color: #2e4250;
                }
              }
              &:after{
                content: '';
                width: 18px;
                height: 18px;
                background: #fff;
                padding: 3px;
                border: 1px #d3dae4 solid;
                @include border-radius(3px);
                position: absolute;
                top: 3px;
                left: 4px;
                display: block;
                z-index: 0;
              }
            }
            .ui-select-bootstrap{
              width: 123px;
              float: right;
              margin: 20px 0 20px 20px;
            }
            p{
              padding-left: 25px;
              font-size: 12px;
              margin: 5px 0;
              i{
                color: #94acbc;
                font-style: normal;
                &.active{
                  color: $brand-info;
                  text-transform: uppercase;
                }
                &.cancelled{
                  color: $brand-danger;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .farm-details{
    .modal-lg {
      margin: 50px auto;
    }
    .modal-content{
      .modal-body{
        table{
          tbody{
            td{
              a{
                margin: 33px 15px;
              }
            }
          }
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .farm-details{
    .modal-lg {
      margin: 50px auto;
    }
    .modal-content{
      .modal-body{
        table{
          tbody{
            td{
              a{
                margin: 33px 15px;
              }
            }
          }
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .farm-details{
    .modal-lg {
      margin: 30px auto;
      width: 95%;
    }
    .modal-content{
      .modal-header{
        .btn{
          margin: 10px 5px 0 0;
        }
      }
      .modal-body{
        table{
          tbody{
            td{
              a{
                margin: 10px 0 10px 27px;
              }
            }
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .farm-details{
    .modal-lg {
      margin: 30px auto;
      width: 95%;
    }
    .modal-content{
      .modal-body{
        table{
          tbody{
            td{
              a{
                margin: 10px 0 10px 27px;
              }
            }
          }
        }
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .farm-details{
    .modal-lg {
      width: calc(100% - 20px);
      margin: 9px auto;
      h3{
        font-size: 20px;
      }
    }
    .modal-content{
      .modal-body{
        table{
          tbody{
            td{
              a{
                margin: 10px 0 10px 27px;
              }
            }
          }
        }
      }
    }
  }
}
