@charset "UTF-8";

@font-face {
  font-family: "workExample";
  src:url("../fonts/workExample.eot");
  src:url("../fonts/workExample.eot?#iefix") format("embedded-opentype"),
    url("../fonts/workExample.woff") format("woff"),
    url("../fonts/workExample.ttf") format("truetype"),
    url("../fonts/workExample.svg#workExample") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "workExample" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "workExample" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-torso-business:before {
  content: "a";
}
.icon-widget:before {
  content: "b";
}
.icon-angle-left:before {
  content: "c";
}
.icon-angle-right:before {
  content: "d";
}
.icon-book:before {
  content: "e";
}
.icon-sun:before {
  content: "f";
}
.icon-lifebuoy:before {
  content: "g";
}
.icon-location:before {
  content: "h";
}
.icon-email-plane:before {
  content: "i";
}
.icon-lock:before {
  content: "j";
}
.icon-phone-2:before {
  content: "k";
}
.icon-settings:before {
  content: "l";
}
.icon-spinner:before {
  content: "m";
}
.icon-call:before {
  content: "n";
}
.icon-pin-location:before {
  content: "o";
}
.icon-gear-setting-2:before {
  content: "p";
}
.icon-check:before {
  content: "q";
}
.icon-clipboard-pencil:before {
  content: "r";
}
.icon-cog-gear:before {
  content: "s";
}
.icon-info-circled:before {
  content: "t";
}
.icon-tag:before {
  content: "u";
}
.icon-chart-bar:before {
  content: "v";
}
.icon-notebook-streamline:before {
  content: "w";
}
.icon-ccw:before {
  content: "y";
}
.icon-group:before {
  content: "x";
}
.icon-plus-alt:before {
  content: "z";
}
.icon-check-circle:before {
  content: "B";
}
.icon-cancel:before {
  content: "A";
}
.icon-notes:before {
  content: "C";
}
.icon-clip:before {
  content: "D";
}
.icon-cancel-circle:before {
  content: "F";
}
.icon-floppy-disk:before {
  content: "E";
}
