footer{
  border-top:1px #dee2e3 solid;
  background: $brand-white;
  width: 100%;
  display: block;
  .container{
    padding:60px 20px;
    h3{
      margin: 0 0 25px 0;
      font-size: 30px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      line-height: 28px;
      color: #2e4250;
    }
    p{
      line-height: 24px;
      color: #748794;
    }
    .media-object{
      width:auto !important;
    }
    .style{
      font-family: 'Lora', serif;
      font-size: 20px;
      line-height: 28px;
      font-weight:400;
      font-style: italic;
      color: #2e4250;
      margin-bottom: 30px;
    }
  }
  .nav-back{
    background: $brand-success;
    height: 313px;
    padding: 40px 50px;
    .nav{
      padding: 0 0 50px 0;
      li{
        list-style: none;
        padding: 5px 0;
        a{
          padding: 0;
          display: inline-block;
          font-size: 13px;
          line-height: 13px;
          color: #fff;
          text-transform: uppercase;
          overflow: hidden;
          &:hover, &:focus{
            background: transparent;
          }
          &:hover{
            background: transparent;
            b{
              top: -14px;
            }
            &:after{
              bottom: 0;
            }
          }
          b{
            font-weight: normal;
            position: relative;
            top: 0;
            @include transition(0.5s);
          }
          &:after{
            content: attr(title);
            position: absolute;
            left: 0;
            bottom: -14px;
            color: $brand-primary;
            padding: 0;
            @include transition(0.5s);
          }
        }
        &.active{
          a{
            background: transparent;
            color: $brand-primary;
          }
        }
      }
    }
    p{
      color: #748794;
      font-size: 12px;
      a{
        color: #fff;
        font-size: 12px;
        line-height: 12px;
        margin-right: 20px;
        padding: 3px 0;
        display: inline-block;
        position: relative;
        overflow: hidden;
        &:hover, &:focus, &.active{
          background: transparent;
          text-decoration: none;
        }
        &:hover{
          background: transparent;
          b{
            top: -18px;
          }
          &:after{
            bottom: 0;
          }
        }
        b{
          font-weight: normal;
          position: relative;
          top: 0;
          @include transition(0.5s);
        }
        &:after{
          content: attr(title);
          position: absolute;
          left: 0;
          bottom: -18px;
          color: $brand-primary;
          padding: 3px 0;
          @include transition(0.5s);
        }
      }
    }
    .footer-position-top{
      width: 230px;
      height: 178px;
      position: absolute;
      right: 20%;
      top: -57%;
      background: #ebeff0 url("../images/footer-call.png") no-repeat 83% 35px;
      @include border-radius(5px 5px 0 0);
      padding: 100px 25px 25px 25px;
      text-align: right;
      z-index: 99;
      span{
        float: left;
        width: 100%;
        font-size: 13px;
        color: #495c6b;
        text-align: right;
      }
      a{
        font-size: 24px;
        color: $brand-info;
        &:hover{
          text-decoration: none;
        }

      }
    }
    .footer-position{
      width: 230px;
      height: 178px;
      position: absolute;
      right: 20%;
      top: 0;
      background: #fff;
      @include border-radius(0 0 5px 5px);
      padding: 25px;
      text-align: right;
      z-index: 99;
      p{
        font-size: 14px;
        margin: 25px 0 0 0;
      }
      a{
        color: $brand-primary;
        font-size: 14px;
        line-height: 18px;
        padding: 0;
        display: block;
        overflow: hidden;
        position: relative;
        margin: 5px 0;

        &:hover, &:focus, &.active{
          background: transparent;
          text-decoration: none;
        }
        &:hover{
          background: transparent;
          b{
            top: -18px;
          }
          &:after{
            bottom: -2px;
          }
        }
        b{
          font-weight: normal;
          position: relative;
          top: 0;
          @include transition(0.5s);
        }
        &:after{
          content: attr(title);
          position: absolute;
          right: 0;
          bottom: -20px;
          color: $brand-success;
          padding: 0;
          margin: 5px 0;
          @include transition(0.5s);
        }
      }
    }
  }
}
.show-mobile {
  display: none;
}
.hide-mobile {
  display: block;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  footer{
    .container {
      padding: 40px 20px 60px;
    }
    .center{
      text-align: center;
      margin: 0 0 25px 0;
      h3{
        margin: 0 0 10px 0;
      }
    }
    .nav-back{
      padding: 25px;
      .nav{
        li{
          a{
            &:after{
              display: none;
            }
          }
        }
      }
      .footer-position-top{
        width: 215px;
        height: 178px;
        position: absolute;
        right: 4%;
        top: -57%;
        background: #ebeff0 url("../images/footer-call.png") no-repeat 83% 35px;
        @include border-radius(5px 5px 0 0);
        padding: 100px 15px 25px 15px;
        text-align: right;
        z-index: 99;
        span{
          float: left;
          width: 100%;
          font-size: 13px;
          color: #495c6b;
          text-align: right;
        }
        a{
          font-size: 24px;
          color: $brand-info;
          &:hover{
            text-decoration: none;
          }

        }
      }
      .footer-position{
        width: 215px;
        height: 178px;
        position: absolute;
        right: 4%;
        top: 0;
        background: #fff;
        @include border-radius(0 0 5px 5px);
        padding:25px 15px;
        text-align: right;
        z-index: 99;
        p{
          font-size: 14px;
          margin: 25px 0 0 0;
        }
        a{
          color: $brand-primary;
          font-size: 14px;
          line-height: 18px;
          padding: 0;
          display: block;
          overflow: hidden;
          position: relative;
          margin: 5px 0;

          &:hover, &:focus, &.active{
            background: transparent;
            text-decoration: none;
          }
          &:hover{
            background: transparent;
            b{
              top: -18px;
            }
            &:after{
              bottom: -2px;
            }
          }
          b{
            font-weight: normal;
            position: relative;
            top: 0;
            @include transition(0.5s);
          }
          &:after{
            content: attr(title);
            position: absolute;
            right: 0;
            bottom: -20px;
            color: $brand-success;
            padding: 0;
            margin: 5px 0;
            @include transition(0.5s);
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  body.user{
    footer a.btn-footer {
      width: 100%;
      text-align: left;
      padding: 6px 20px !important;
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  body.user{
    footer a.btn-footer {
      width: 100%;
      text-align: left;
      padding: 6px 20px !important;
    }
  }
  .nav-back p {
    text-align: right;
    position: absolute;
    top: 50px;
    right: 0;
    width: 120px;
    margin-right: 40px;
    a{
      margin-right: 0 !important;
      margin-bottom: 3px;
    }
    span{
      margin-top: 38px;
      display: block;
    }
  }
  .async.media-white {
    top: 6px !important;
  }
  .footer-position-top {
    width: 100% !important;
    height: inherit !important;
    position: inherit !important;
    right: 0 !important;
    top: 0 !important;
    background: #E3E9EA url("../images/footer-call.png") no-repeat 95% 34px !important;
   -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    text-align: left;
    z-index: 99;
    padding: 35px 20px 86px 20px !important;
    span{
      text-align: left !important;
    }
    a{
      float: left;
    }
  }
  .set-footer-gray {
    background: #ebeff0 !important;
    height: initial !important;
    padding: 0 !important;
  }
  .set-footer-white {
    padding: 30px 20px 8px 20px;
    a{
      clear: both;
      display: block;
      margin-bottom: 8px;
    }
    p{
      text-align: right;
      color: #748794;
    }
  }
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
