.generate-report{
  .modal-sm{
    width: 700px;
  }
  .modal-body {
    display: inline-block;
  }
  .modal-header, .modal-footer{
    [class^="col-"]{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
