body.public{
  background: $brand-success;
  .header{
    .site-title{
      display: block;
      cursor: pointer;
      a{
        display: block;
        background: url("../images/logo.png") no-repeat;
        font-size: 0;
      }
    }
    .navbar-inverse {
      background-color: transparent;
      border-color: transparent;
      .navbar-nav{
        li{
          a {
            position: relative;
            display: block;
            text-transform: uppercase;
            color: #84979a;
            overflow: hidden;

            b{
              font-weight: normal;
              position: relative;
              @include transition(0.5s);
            }
            &:after{
              content: attr(title);
              position: absolute;
              color: #fff;
              @include transition(0.5s);
            }
          }
          &.active{
            a{
              background: transparent;
              color: #fff;
            }
          }
        }
      }
      .login-nav{
        float: right;
        li{
          float: left;
          a{
            color: $brand-white;
            overflow: hidden;
            text-transform: uppercase;
            @include border-radius(3px);
            &:hover{
              background: transparent;
            }
            b{
              font-weight: normal;
              position: relative;
              @include transition(0.5s);
            }
            &:after{
              content: attr(title);
              position: absolute;
              color: $brand-info;
              @include transition(0.5s);
            }
          }
          &.sign-up{
            a{
              overflow: visible;
              &:after{
                display: none;
              }
              &:hover{
                background: $brand-info;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}






////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  body.public{
    .header{
      padding-top: 50px;
      .site-title{
        margin: 5px 0 5px 0;
        padding: 0;
        width: 125px;
        a{
          width: 100%;
          height: 33px;
        }
      }
      .navbar-inverse {
        .navbar-nav{
          margin: 0 0 0 48px;
          padding: 16px 0 0 0;
          li{
            a {
              padding: 0 15px;
              color: #84979a;
              font-size: 14px;
              line-height: 14px;
              &:hover{
                b{
                  top: -14px;
                }
                &:after{
                  bottom: 0;
                }
              }
              b{
                top: 0;
              }
              &:after{
                left: 0;
                bottom: -14px;
                padding: 0 15px;
              }
            }

          }
        }
        .login-nav{
          margin: 6px 0 0 0;
          li{
            margin: 0 5px;
            a{
              font-weight: 400;
              padding:0 20px;
              font-size: 14px;
              line-height: 18px;
              margin-top: 7px;

              &:hover{
                b{
                  top: -18px;
                }
                &:after{
                  bottom: 0;
                }
              }
              b{
                top: 0;
              }
              &:after{
                left: 0;
                bottom: -18px;
                padding: 0 20px;
              }
            }
            &.sign-up{
              a{
                line-height: 23px;
                padding: 5px 20px;
                margin-top: 0;
              }
            }
          }
        }
        .header-call-us{
          display: none;
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  body.public{
    .header{
      padding-top: 50px;
      .site-title{
        margin: 5px 0 5px 0;
        padding: 0;
        width: 125px;
        a{
          width: 100%;
          height: 33px;
        }
      }
      .navbar-inverse {
        .navbar-nav{
          margin: 0 0 0 48px;
          padding: 16px 0 0 0;
          li{
            a {
              padding: 0 15px;
              color: #84979a;
              font-size: 14px;
              line-height: 14px;
              &:hover{
                b{
                  top: -14px;
                }
                &:after{
                  bottom: 0;
                }
              }
              b{
                top: 0;
              }
              &:after{
                left: 0;
                bottom: -14px;
                padding: 0 15px;
              }
            }

          }
        }
        .login-nav{
          margin: 6px 0 0 0;
          li{
            margin: 0 5px;
            a{
              font-weight: 400;
              padding:0 20px;
              font-size: 14px;
              line-height: 18px;
              margin-top: 7px;

              &:hover{
                b{
                  top: -18px;
                }
                &:after{
                  bottom: 0;
                }
              }
              b{
                top: 0;
              }
              &:after{
                left: 0;
                bottom: -18px;
                padding: 0 20px;
              }
            }
            &.sign-up{
              a{
                line-height: 23px;
                padding: 5px 20px;
                margin-top: 0;
              }
            }
          }
        }
        .header-call-us{
          display: none;
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  body.public{
    .header{
      padding-top: 25px;
      .container-fluid{
        padding: 0;
      }
      .site-title{
        margin: 5px 0 5px 0;
        padding: 0;
        width: 125px;
        a{
          width: 100%;
          height: 33px;
        }
      }
      .navbar-inverse {
        .navbar-nav{
          margin: 0 0 0 20px;
          padding: 16px 0 0 0;
          li{
            a {
              padding: 0 12px;
              color: #84979a;
              font-size: 13px;
              line-height: 13px;
              b{
                top: 0;
              }
              &:after{
                display: none;
              }
            }
          }
        }
        .login-nav{
          margin: 7px 0 0 0;
          li{
            margin: 0;
            a{
              font-weight: 400;
              padding:0 15px;
              font-size: 13px;
              line-height: 18px;
              margin-top: 6px;
              text-transform: uppercase;
              b{
                top: 0;
              }
              &:after{
                display: none;
              }
            }
            &.sign-up{
              a{
                line-height: 23px;
                padding: 5px 15px;
                margin-top: 0;
              }
            }
          }
        }
        .header-call-us{
          display: none;
        }
      }
    }
  }

}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  body.public{
    .header{
      padding-top: 25px;
      .site-title{
        margin: 5px 0 5px 0;
        padding: 0;
        width: 125px;
        float: left;
        a{
          width: 100%;
          height: 33px;
        }
      }
      .navbar-collapse{
        display: block;
        position: fixed;
        top: 0;
        right: -260px;
        height: 100%;
        width: 260px;
        background: #0b1116;
        padding: 0;
        border-top: none;
        z-index: 99;
        overflow-x: auto;
        @include transition(0.5s);
      }
      .navbar-inverse {
        .navbar-nav{
          margin: 0;
          padding: 0;
          li{
            width: 100%;
            border-bottom: 1px #161d23 solid;
            a {
              padding: 18px;
              color: #84979a;
              font-size: 13px;
              line-height: 13px;
              &:before {
                content: "\f105";
                float: right;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0);
              }
              b{
                position: initial;
              }
              &:after{
                display: none;
              }
            }

          }
        }
        .login-nav{
          margin: 25px 0;
          padding: 0;
          width: 100%;
          li{
            margin: 0 18px;
            a{
              font-weight: 400;
              padding:0 20px;
              font-size: 13px;
              line-height: 18px;
              margin-top: 6px;

              &:hover{

              }
              b{
                position: initial;
              }
              &:after{
                display: none;
              }
            }
            &.login{
              a{
                text-align: left;
                padding: 0;
              }
            }
            &.sign-up{
              float: right;
              a{
                line-height: 23px;
                padding: 5px 20px;
                margin-top: 0;
              }
            }
          }
        }
        .header-call-us{
          display: inline-block;
          background: $brand-info url("../images/header-call.png") no-repeat 25px center;
          width: 100%;
          padding: 18px;
          color: $brand-white;
          margin-top: 53px;
          a{
            font-size: 24px;
            color: $brand-white;
            display: block;
            text-align: right;
          }
          span{
            font-size: 14px;
            color: #5b6f7e;
            display: block;
            text-align: right;
          }
        }
      }
      .navbar-toggle{
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: transparent;
        padding: 0;
        margin-right: 0;
        &:focus, &:active{
          background: transparent;
        }
        .icon-bar {
          width: 30px;
        }
        .icon-bar + .icon-bar {
          margin-top: 6px;
        }
      }
    }
  }
  body{
    position: relative;
    right: 0;
    @include transition(0.5s);
  }
  .open-menu{
    position: fixed;
    left: 0;
    right: 0;
    body{
      position: relative;
      right: 253px;
      .header{
        .navbar-collapse{
          right: 0;
        }
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  body.public{
    .header{
      padding-top: 25px;
      .site-title{
        margin: 5px 0 5px 0;
        padding: 0;
        width: 125px;
        float: left;
        a{
          width: 100%;
          height: 33px;
        }
      }
      .navbar-collapse{
        display: block;
        position: fixed;
        top: 0;
        right: -260px;
        height: 100%;
        width: 260px;
        background: #0b1116;
        padding: 0;
        border-top: none;
        z-index: 99;
        overflow-x: auto;
        @include transition(0.5s);
      }
      .navbar-inverse {
        .navbar-nav{
          margin: 0;
          padding: 0;
          li{
            width: 100%;
            border-bottom: 1px #161d23 solid;
            a {
              padding: 18px;
              color: #84979a;
              font-size: 13px;
              line-height: 13px;
              &:before {
                content: "\f105";
                float: right;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0);
              }
              b{
                position: initial;
              }
              &:after{
                display: none;
              }
            }

          }
        }
        .login-nav{
          margin: 25px 0;
          padding: 0;
          width: 100%;
          li{
            margin: 0 18px;
            a{
              font-weight: 400;
              padding:0 20px;
              font-size: 13px;
              line-height: 18px;
              margin-top: 6px;

              &:hover{

              }
              b{
                position: initial;
              }
              &:after{
                display: none;
              }
            }
            &.login{
              a{
                text-align: left;
                padding: 0;
              }
            }
            &.sign-up{
              float: right;
              a{
                line-height: 23px;
                padding: 5px 20px;
                margin-top: 0;
              }
            }
          }
        }
        .header-call-us{
          display: inline-block;
          background: $brand-info url("../images/header-call.png") no-repeat 25px center;
          width: 100%;
          padding: 18px;
          color: $brand-white;
          margin-top: 53px;
          a{
            font-size: 24px;
            color: $brand-white;
            display: block;
            text-align: right;
          }
          span{
            font-size: 14px;
            color: #5b6f7e;
            display: block;
            text-align: right;
          }
        }
      }
      .navbar-toggle{
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: transparent;
        padding: 0;
        margin-right: 0;
        &:focus, &:active{
          background: transparent;
        }
        .icon-bar {
          width: 30px;
        }
        .icon-bar + .icon-bar {
          margin-top: 6px;
        }
      }
    }
  }
  body{
    position: relative;
    right: 0;
    @include transition(0.5s);
  }
  .open-menu{
    position: fixed;
    left: 0;
    right: 0;
    body{
      position: relative;
      right: 253px;
      .header{
        .navbar-collapse{
          right: 0;
        }
      }
    }
  }
}
