.help-center{
  .video-thumb{

    img{
      width: 100%;
      @include border-radius(3px);
    }
    @extend .fa;
    @extend .fa-caret-right;
    cursor: pointer;
    &:before{
      width: 75px;
      height: 75px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 1px $brand-white solid;
      text-align: center;
      line-height: 75px;
      color: $brand-white;
      font-size: 24px;
      @include border-radius(50%);
    }
    &:hover{
      &:before{
        border: 1px #C2CAD0 solid;
        color: #C2CAD0;
      }
    }
  }
  .link-box{
    border: 1px #e2e9e9 solid;
    padding: 20px 30px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #748794;
    min-height: 185px;
    position: relative;
    @include border-radius(3px);
    i{
      display: block;
      font-style: normal;
      color: $brand-primary;
      position: relative;
      &:after{
        content: '';
        height: 1px;
        background: #e2e9e9;
        width: 70px;
        margin: 10px auto;
        display: block;
      }
    }
    span{
      position: relative;
    }
    &:hover{
      text-decoration: none;
      &:before{
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
      }
    }
    &:before{
      content: '';
      background: #f6f7f8;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 0;
      transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      @include transition(0.5s);
    }
  }
  h3{
    margin: 0 0 15px 0;
  }
  h4{
    font-size: 14px;
    color: #2e4250;
    @extend .fa-caret-right;
    &:before{
      @extend .fa;
      font-size: 15px;
      margin-right: 4px;
    }
    i{
      color: #748794;
      font-style: normal;
    }
  }
  p{
    color: #748794;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .help-center{
    padding: 40px 0;
    h3{
      margin: 0 0 10px 0;
    }
    .col-md-3{
      text-align: center;
      margin: 0 0 25px 0;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {

}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {

}
