.latest-news{
  background: $brand-gray;
  border-top: 1px #dee2e3 solid;
  padding: 70px 0;

  h3{
    margin: 0 0 25px 0;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #2e4250;
  }
  h4{
    color: $brand-primary;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    min-height: 30px;
  }
  i{
    color: #93a9b9;
    font-size: 12px;
    margin: 5px 0 10px 0;
    display: block;
  }
  img{
    width: 100%;
    margin: 15px 0;
    display: block;
  }
  p{
    line-height: 24px;
    color: #748794;
  }
  a{
    font-size: 14px;
    margin: 30px 0 0 0;
    display: block;
    text-transform: uppercase;
    i{
      font-size: 17px;
      margin-left: 5px;
      display: inline-block;
    }
  }
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .latest-news{
    padding: 40px 0;
    h3{
      margin: 0 0 10px 0;
    }
    .center{
      text-align: center;
      margin: 0 0 25px 0;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {

}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {

}
