.login, .forgot-pass{
  .modal-sm{
    width: 500px;
    margin: 75px auto;
  }
  .modal-content{
    @include border-radius(10px);
  }
  .modal-body{
    text-align: center;
    padding: 40px;
    background: #f8fafb;
    @include border-radius(10px 10px 0 0);

    .login-icon{
      background: url("../images/login-lock.png") no-repeat center #fff;
      width: 90px;
      height: 90px;
      display: inline-block;
      @include border-radius(50%);
      position: absolute;
      left: 0;
      right: 0;
      top: -90px;
      margin: 0 auto;
      -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    }
    .form-control {
      height: 45px;
      padding: 15px;
    }
    p{
      margin: 0 0 30px 0;
    }
    button.close {
      position: absolute;
      right: -7px;
      top: -30px;
    }
  }
  .modal-footer{
    text-align: left;
    padding: 20px 40px;
    @include border-radius(0 0 10px 10px);
    p{
      color: #748794;
      margin: 0;
    }
    a{
      font-weight: 600;
      i{
        font-weight: bold;
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md) {

}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  .content-panel{
    padding-bottom: 80px !important;
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {

}
















