.olMap{
  .info-box{
    //width: 100%;
    //height: 145px;
    //margin: auto;
    background: rgba(255, 255, 255, 0.95);
    @include border-radius(5px);
    padding: 10px;
    display: block;
    h3{
      font-size: 14px;
      color: $brand-primary;
      margin: 0 0 10px 0;
    }
    p{
      font-size: 14px;
      color: #748794;
      margin: 0;
    }
  }
}

.async{
  position: relative;
  width: 100%;
  left: 0 !important;
  top: 0 !important;
  @extend .fa-li;
  @extend .fa;
  &.loading{
    &:before{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 35px;
      @extend .fa-spinner;
      @extend .fa-spin;
      z-index: -1;
    }
    &.media-white:before{
      color: $brand-white;
    }
  }
}
