.need-to-know-more{
  text-align: center;
  padding: 70px 0;
  h3{
    color: $brand-white;
    font-size: 40px;
    margin: 0 0 15px 0;
  }
  p{
    color: #748794;
    margin-bottom: 30px;
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .need-to-know-more{
    padding: 40px 0;
    h3{
      margin: 0 0 10px 0;
    }
    br{
      display: none;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .need-to-know-more{
    br{
      display: none;
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .need-to-know-more{
    br{
      display: none;
    }
  }
}
