.modal-open{
  padding-right: 17px;
}
.modal {
  background: rgba(0, 0, 0, 0.72);
}
.payment-method{
  text-align: center;
  border-bottom: none;
  .close{
    opacity: 1;
    span{
      font-size: 30px;
      color: #dc3291;
    }
  }
  .modal-title{
    margin-top: 20px;
  }
  p{
    margin: 0;
  }
}
.modal-body{
h1{
  color: $brand-primary;
  font-weight: 400;
  letter-spacing: -2px;
  small{
    color: $brand-primary;
  }
  label{
    font-size:11px;
    color: #b2b0be;
    display: block;
    font-weight: 300;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-top:10px;
  }
}
  .one-box{
    border: #dcdee8 1px solid;
    padding: 0 0 30px 0;
    h1{
      margin-bottom: 93px;
    }
    h3{
      padding: 30px 0;
      margin: 0;
      border-bottom: #dcdee8 1px solid;
    }
    p{
      font-size: 13px;
      padding: 25px;
      margin: 0;
    }
    .btn {
      width: 75%;
    }
    span{
      font-size: 13px;
      margin-bottom: 10px;
      display: block;
    }
  }
  .tow-box{
    background: #eff0f5;
    border: #dcdee8 1px solid;
    padding: 0 0 30px 0;
    h3{
      padding: 30px 0;
      margin: 0;
      border-bottom: #dcdee8 1px solid;
    }
    p{
      font-size: 13px;
      padding: 25px;
      margin: 0;
    }
    .btn {
      width: 75%;
    }
    .right-border{
      border-right: 1px #dcdee8 solid;
    }
    h1{
      margin-top: 40px;
    }
    h4{
      margin: 0;
    }
    ul.list{
      padding-top: 10px;
      margin-bottom: 30px;
      text-align: left;
      li{
        list-style: none;
        margin: 5px 0;
        &:before{
          @include fontAwesome();
          content: "\f00c";
          color: $brand-primary;
          font-size: 20px;
          margin-right: 8px;
        }
      }
    }
  }
}
.payment-method-footer{
  border-top: none;
  text-align: left;
  padding: 25px 15px 40px;
  h3{
    margin: 0;
    color: $brand-primary;
    font-weight: 600;
    font-size: 16px;
  }
  p{
    margin: 0;
  }
  .question-icon{
    background: url("../images/question-icons.png") no-repeat;
    height: 50px;
    display: inline-block;
    padding: 8px 0 0 60px;
  }
  .envelope-icon{
    background: url("../images/envelope-icon.png") no-repeat;
    height: 50px;
    display: inline-block;
    padding: 8px 0 0 60px;
  }
}



.notify{
  text-align: center;
  border-bottom: none;
  .close{
    opacity: 1;
    position: absolute;
    top:15px;
    right: 15px;
    span{
      font-size: 30px;
      color: #dc3291;
    }
  }
  td{
    padding: 15px !important;
    text-align: left;
  }
  .table {
    width: 90%;
    max-width: 100%;
    margin: 5% auto;
  }
}
.notify-footer{
  text-align: left;
  padding: 3% 6%;
  .btn-default{
    color: #dc3291;
    border-color: #dc3291;
    float: right;
  }
}
.notify-body{
  padding: 3% 6%;
  background: #f7f7fa;
  border-top: 1px solid #e5e5e5;
  h3{
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }
}

.billing-info-popup{
  .close{
    opacity: 1;
    position: absolute;
    top:15px;
    right: 15px;
    z-index: 99;
    span{
      font-size: 30px;
      color: #dc3291;
    }
  }
  @extend .clearfix;
  .row{
    margin-left: -10px;
    margin-right: -10px;
  }
  .col-sm-6, .col-sm-12, .col-md-6, .col-sm-8, .col-sm-4{
    padding-left: 10px;
    padding-right: 10px;
  }
  .top-mar-none{
    margin-top: 7px;
  }
  label{
    font-size: 15px;
    font-weight: 300;
    color: #636078;
  }
  .radio, .checkbox {
    margin-top: 18px;
    margin-bottom: 0;
  }
  .side-bar{
    background: #eff0f5;
    border: 1px #dcdee8 solid;
    padding: 15px;
    h3{
      margin: 0;
      a{
        font-size: 15px;
      }
    }
    p{
      font-size: 14px;
    }
    hr{
      border-color: #dcdee8;
      margin: 15px -15px;
    }
  }
}

.associate-content{
  width : 100% !important;
  .table-striped > tbody > tr td{
    padding: 10px 13px !important;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .modal-body .tow-box .right-border {
    border-right: none;
    border-bottom: 1px #dcdee8 solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .modal-body .tow-box .right-border {
    border-right: none;
    border-bottom: 1px #dcdee8 solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .modal-body .tow-box .right-border {
    border-right: none;
    border-bottom: 1px #dcdee8 solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
