.product-details{
  h3{
    font-size: 30px;
    color: #2e4250;
    font-weight: 400;
    margin: 25px 0 15px 0;
  }
  p{
    color: #748794;
    font-size: 14px;
    width: 73%;
    line-height: 24px;
  }

}
