.products-list{
  h3{
    font-size: 30px;
    color: $brand-primary;
    font-weight: 400;
    margin: 15px 0 5px 0;
  }
  span{
    font-size: 14px;
    color: #748794;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
  }
  p{
    color: #748794;
    font-size: 14px;
    margin: 0 0 30px 0;
  }
  .sign-up{
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 23px;
    display: inline-block;
    @include border-radius(3px);
    background: $brand-info;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 15px;
    &:hover{
      background: darken($brand-info, 10%);
      color: #fff;
    }
  }
  .read-more{
      text-transform: uppercase;
    i{
      font-size: 17px;
      margin-left: 5px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {

}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .products-list{
    .col-sm-7{
      img{
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .products-list{
    .col-sm-7{
      img{
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

