.sub-header{
  text-align: center;
  p{
    color: #748794;
    margin-top: -20px;
    margin-bottom: 60px;
  }
  .main-img{
    margin-top: 60px;
  }
  .sign-header{
    background: $brand-info;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    margin: 0 10px;
    text-transform: uppercase;
    @include border-radius(3px);
    &:hover{
      text-decoration: none;
      background: darken($brand-info, 10%);
      color: #fff;
    }
  }
  .watch-video{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin: 0 10px;
    padding: 0 0 0 40px;
    position: relative;
    i{
      position: absolute;
      left: 0;
      top: -6px;
      &:before{
        background: #2e3439;
        @include border-radius(50%);
        width: 31px;
        height: 31px;
        line-height: 31px;
        text-align: center;
        margin-right: 6px;
        font-size: 8px;
        display: block;
      }
    }
    &:hover{
      text-decoration: none;
      color: $brand-info;
    }
  }
}
.show-mobile {
  padding-top: 30px;
  .owl-controls{
    .owl-dots{
      position: absolute;
      top: -49px;
    }
  }
}
.show-desktop {
  display: block;
}
.show-mobile {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {

}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .sub-header{
    padding: 0 15px 40px 15px;
    h1{
      font-size: 30px;
      br{
        display: none;
      }
    }
    .main-img{
      display: none;
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .sub-header{
    padding: 0 15px 40px 15px;
    h1{
      font-size: 30px;
      br{
        display: none;
      }
    }
    .btn {
      width: 165px;
      display: block;
      margin: 25px auto;
    }
    .main-img{
      display: none;
    }
  }
  .show-desktop {
    display: none;
  }
  .show-mobile {
    display: block;
  }
}
