.reportsUploadRecord{
  .panel-area{
    position: relative;
    .half_section{
      text-align: left;
      h4{
        color: $brand-primary;
        text-transform: uppercase;
      }
      p{
        color: #1c3f94;
      }
      i{
        color: $brand-primary;
      }
      .drag_drop {
        background: #fff;
        float: left;
        color: #587183;
        text-align: center;
        cursor: pointer;
      }

    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .reportsUploadRecord{
    .panel-area{
      .half_section{
        width: 500px;
        margin: 0 auto;
        .btn-small{
          padding: 5px 10px !important;
          font-size: 11px !important;
        }
        h4{
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 7px !important;
        }
        p{
          font-size: 13px;
        }
        .drag_drop {
          border: 1px #bcc3c7 dotted;
          padding: 25px 15px;
          width: 100%;
          font-size: 12px;
          margin-bottom: 8px;
        }
        .dragover {
          border: 2px dotted $brand-primary;
        }
      }
    }
    .alert-set{
      margin: 8px 0;
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .reportsUploadRecord{
    .panel-area{
      .half_section{
        width: 500px;
        margin: 0 auto;
        .btn-small{
          padding: 5px 10px !important;
          font-size: 11px !important;
        }
        h4{
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 7px !important;
        }
        p{
          font-size: 13px;
        }
        .drag_drop {
          border: 1px #bcc3c7 dotted;
          padding: 25px 15px;
          width: 100%;
          font-size: 12px;
          margin-bottom: 8px;
        }
        .dragover {
          border: 2px dotted $brand-primary;
        }
      }
    }
    .alert-set{
      margin: 8px 0;
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .reportsUploadRecord{
    .panel-area{
      .half_section{
        width: 500px;
        margin: 0 auto;
        .btn-small{
          padding: 5px 10px !important;
          font-size: 11px !important;
        }
        h4{
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 7px !important;
        }
        p{
          font-size: 13px;
        }
        .drag_drop {
          border: 1px #bcc3c7 dotted;
          padding: 25px 15px;
          width: 100%;
          font-size: 12px;
          margin-bottom: 8px;
        }
        .dragover {
          border: 2px dotted $brand-primary;
        }
      }
    }
    .alert-set{
      margin: 8px 0;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .reportsUploadRecord{
    .panel-area{
      .half_section{
        width: 500px;
        margin: 0 auto;
        .btn-small{
          padding: 5px 10px !important;
          font-size: 11px !important;
        }
        h4{
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 7px !important;
        }
        p{
          font-size: 13px;
        }
        .drag_drop {
          border: 1px #bcc3c7 dotted;
          padding: 25px 15px;
          width: 100%;
          font-size: 12px;
          margin-bottom: 8px;
        }
        .dragover {
          border: 2px dotted $brand-primary;
        }
      }
    }
    .alert-set{
      margin: 8px 0;
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .reportsUploadRecord{
    .panel-area{
      .half_section{
        width: 100%;
        margin: 0 auto;
        .btn-small{
          padding: 5px 10px !important;
          font-size: 11px !important;
        }
        h4{
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 7px !important;
        }
        p{
          font-size: 13px;
        }
        .drag_drop {
          border: 1px #bcc3c7 dotted;
          padding: 25px 15px;
          width: 100%;
          font-size: 12px;
          margin-bottom: 8px;
        }
        .dragover {
          border: 2px dotted $brand-primary;
        }
      }
    }
    .alert-set{
      margin: 8px 0;
    }
  }
}
