.search-order-advance{
  .modal-sm{
    width: 490px;
    text-align: center;
  }
  h3{
    font-size: 24px;
    margin: 5px 0 10px 0;
  }
  p{
    color: #93a9b9;
    margin: 0 0 25px 0;
  }
  .modal-body {
    padding: 15px 30px 25px;
  }
  table{
    text-align: left;
    tr{
      td{
        padding: 10px;
        border: 1px solid #ddd;
      }
    }
  }
}
