.search-order{

  .modal-content{
    @include border-radius(5px);
    background: #f8fafb;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    .modal-header{
      border-bottom: none;


      p{
        color: #93a9b9;
      }
    }
    .modal-body{

      .nav-tabs{
        border-bottom: none;
        li{
          float: left;
        }
      }
      .tab-content{
        .save{
          position: relative;
          span{
            &:before{
              position: absolute;
            }
          }
        }
        .delete{
          position: relative;
          span{
            &:before{
              position: absolute;
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .search-order{
    .modal-lg {
      width: 980px;
      margin: 50px auto;
    }
    .modal-content{
      padding: 0;
      .modal-header{
        padding: 25px 30px;
        width: 100%;
        h3{
          font-size: 24px;
        }
        p{
          margin: 0;
        }
      }
      .modal-body{
        .nav-tabs{
          margin: 0 30px;
          li{
            a {
              padding: 10px 24px;
            }
          }
        }
        .tab-content{
          padding: 30px;
          .row {
            margin-left: -20px;
            margin-right: -20px;
          }
          [class^="col-"] {
            padding-left: 20px;
            padding-right: 20px;
          }
          .save{
            padding: 0 17px 0 0;
            margin-right: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
          .delete{
            padding: 0 17px 0 0;
            margin-left: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .search-order{
    .modal-lg {
      width: 980px;
      margin: 50px auto;
    }
    .modal-content{
      padding: 0;
      .modal-header{
        padding: 25px 30px;
        width: 100%;
        h3{
          font-size: 24px;
        }
        p{
          margin: 0;
        }
      }
      .modal-body{
        padding: 0;
        width: 100%;
        .nav-tabs{
          margin: 0 30px;
          li{
            a {
              padding: 10px 24px;
            }
          }
        }
        .tab-content{
          padding: 30px;
          .row {
            margin-left: -20px;
            margin-right: -20px;
          }
          [class^="col-"] {
            padding-left: 20px;
            padding-right: 20px;
          }
          .save{
            padding: 0 17px 0 0;
            margin-right: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
          .delete{
            padding: 0 17px 0 0;
            margin-left: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .search-order{
    .modal-lg {
      width: 95%;
      margin: 30px auto;
    }
    .modal-content{
      padding: 0;
      .modal-header{
        padding: 20px;
        width: 100%;
        h3{
          font-size: 24px;
        }
        p{
          margin: 0;
        }
      }
      .modal-body{
        padding: 0;
        width: 100%;
        .nav-tabs{
          margin: 0 20px;
          li{
            border-bottom: 1px #F8FAFB solid;
            a {
              padding: 10px;
              border: none;
            }
          }
        }
        .tab-content{
          padding: 30px 20px;
          .row {
            margin-left: -20px;
            margin-right: -20px;
          }
          [class^="col-"] {
            padding-left: 20px;
            padding-right: 20px;
          }
          .save{
            padding: 0 17px 0 0;
            margin-right: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
          .delete{
            padding: 0 17px 0 0;
            margin-left: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .search-order{
    .modal-lg {
      width: 980px;
      margin: 50px auto;
    }
    .modal-content{
      padding: 0;
      .modal-header{
        padding: 25px 30px;
        width: 100%;
        h3{
          font-size: 24px;
        }
        p{
          margin: 0;
        }
      }
      .modal-body{
        padding: 0;
        width: 100%;
        .nav-tabs{
          margin: 0 30px;
          li{
            a {
              padding: 10px 22px;
            }
          }
        }
        .tab-content{
          padding: 30px;
          .row {
            margin-left: -20px;
            margin-right: -20px;
          }
          [class^="col-"] {
            padding-left: 20px;
            padding-right: 20px;
          }
          .save{
            padding: 0 17px 0 0;
            margin-right: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
          .delete{
            padding: 0 17px 0 0;
            margin-left: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .search-order{
    .modal-lg {
      width: calc(100% - 20px);
      margin: 9px auto;
    }
    .modal-content{
      padding: 0;
      .modal-header{
        padding: 15px;
        width: 100%;
        h3{
          font-size: 20px;
        }
        p{
          margin: 0;
        }
      }
      .modal-body{
        padding: 0;
        width: 100%;
        .nav-tabs{
          margin: 0 30px;
          li{
            a {
              padding: 10px 22px;
            }
          }
        }
        .tab-content{
          padding: 15px;
          .row {
            margin-left: -20px;
            margin-right: -20px;
          }
          [class^="col-"] {
            padding-left: 20px;
            padding-right: 20px;
          }
          .save{
            padding: 0 17px 0 0;
            margin-right: 10px;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
          .delete{
            padding: 0 17px 0 0;
            margin-left: 10px;
            display: inline-block;
            span{
              &:before{
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 14px;
              }
            }
          }
          .btn-success {
            padding: 9px 10px;
            font-size: 12px;
            margin: 0 0 15px 0;
          }
          td{
            width: 100%;
            display: inline-block;
            text-align: left;
          }
        }
      }
    }
  }
}
