.user{
  .modal-backdrop {
    background: transparent;
  }
}
.search-form{
  background: transparent;
  .modal-content{
    padding: 30px 0;
    @include border-radius(5px);
    background: #f8fafb;
    text-align: center;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    .modal-body{
      padding: 0;
      .close{
        position: absolute;
        right: 10px;
        top: -25px;
        &:focus{
          outline: none;
        }
      }
    }
    h3{
      margin: 0 0 5px 0;
    }
    p{
      margin: 0;
      color: #93a9b9;
    }
  }
  .btn{
    text-transform: none !important;
  }
}

.modal-body{
  .nav-tabs{
    display: block;
    text-align: center;
    border-bottom: none;
    li{
      display: inline-block;
      list-style: none;
      float: none;
      position: relative;

      &:before{
        content:'';
        background: url("../images/tab-border.png") no-repeat right top;
        position: absolute;
        height: 100%;
        width: 1px;
        right: 0;
        bottom: 0;
      }
      &:first-child{
        &:after{
          content:'';
          background: url("../images/tab-border.png") no-repeat right top;
          position: absolute;
          height: 100%;
          width: 1px;
          left: 0;
          bottom: 0;
        }
      }
      a{
        background-color: transparent;
        color: #2e4250;
        text-transform: uppercase;

        &:hover, &:focus{
          background-color: transparent;
          border-color: transparent;
        }
        i{
          position: absolute;
          color: #bbc2c7;
        }
      }
      &.active{
        a{
          color: $brand-primary;
          border: none;
          border-bottom: 1px #F8FAFB solid;
          i{
            color: $brand-primary;
          }
        }

      }
    }
  }
  .tab-content{
    display: inline-block;

    .nav-tabs{
      background: #f1f4f6;
      text-align: left;
      li{
        float: left;

        &.active{
          background: #f8fafb;
        }
        &:before,&:after{
          display: none;
        }
      }
    }
    .tab-content{
      border-top: none;
      .table{
        th{
          background: #f1f4f6;
        }
        td{
          text-align: left;
          i{
            color: $brand-primary;
            display: block;
          }
        }
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .search-form{
    .modal-sm {
      width: 540px;
      margin: 180px auto 0 auto;
    }
  }
  .modal-body{
    .nav-tabs{
      border-bottom: 1px #d3dae4 solid;
      margin: 30px 0 0 0;
      li{
        margin-bottom: -1px;
        a{
          font-size: 12px;
          padding: 10px 30px;
          margin: 0;
          border-bottom: 1px #d3dae4 solid;

          i{
            top: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 16px;
          }
        }
        &.active{
          a{
            border-bottom: 1px #F8FAFB solid;
          }

        }
      }
    }
    .tab-content{
      padding: 30px 30px 0 30px;
      width: 100%;
      [class^="col-"]{
        padding-left: 5px;
        padding-right: 5px;
      }
      .form-group {
        margin-bottom: 10px;
      }
      .nav-tabs{
        border: 1px #d3dae4 solid;
        margin: 0;
        li{
          border-right: 1px solid #d3dae4;
          &.active{
            margin-bottom: -2px;
            border-bottom: 1px solid #F8FAFB;
          }
        }
      }
      .tab-content{
        border: 1px #d3dae4 solid;
        padding: 30px 30px 0 30px;
        .table{
          th{
            font-size: 12px;
            font-weight: 600;
            padding: 10px 15px;
          }
          td{
            font-size: 12px;
            padding: 10px 15px;
            i{
              margin: 10px auto;
              width: 12px;
            }
          }
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .search-form{
    .modal-sm {
      width: 540px;
      margin: 180px auto 0 auto;
    }
  }
  .modal-body{
    .nav-tabs{
      border-bottom: 1px #d3dae4 solid;
      margin: 30px 0 0 0;
      li{
        margin-bottom: -1px;
        a{
          font-size: 12px;
          padding: 10px 30px;
          margin: 0;
          border-bottom: 1px #d3dae4 solid;

          i{
            top: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 16px;
          }
        }
        &.active{
          a{
            border-bottom: 1px #F8FAFB solid;
          }

        }
      }
    }
    .tab-content{
      padding: 30px 30px 0 30px;
      width: 100%;
      [class^="col-"]{
        padding-left: 5px;
        padding-right: 5px;
      }
      .form-group {
        margin-bottom: 10px;
      }
      .nav-tabs{
        border: 1px #d3dae4 solid;
        margin: 0;
        li{
          border-right: 1px solid #d3dae4;
          &.active{
            margin-bottom: -2px;
            border-bottom: 1px solid #F8FAFB;
          }
        }
      }
      .tab-content{
        border: 1px #d3dae4 solid;
        padding: 30px 30px 0 30px;
        .table{
          th{
            font-size: 12px;
            font-weight: 600;
            padding: 10px 15px;
          }
          td{
            font-size: 12px;
            padding: 10px 15px;
            i{
              margin: 10px auto;
              width: 12px;
            }
          }
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .search-form{
    .modal-sm {
      width: 540px;
      margin: 30px auto 30px auto;
    }
  }
  .modal-body{
    .nav-tabs{
      border-bottom: 1px #d3dae4 solid;
      margin: 30px 0 0 0;
      li{
        margin-bottom: -1px;
        a{
          font-size: 12px;
          padding: 10px 15px;
          margin: 0;
          border-bottom: 1px #d3dae4 solid;

          i{
            top: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 16px;
          }
        }
        &.active{
          a{
            border-bottom: 1px #F8FAFB solid;
          }

        }
      }
    }
    .tab-content{
      padding: 23px 23px 0 23px;
      width: 100%;
      [class^="col-"]{
        padding-left: 5px;
        padding-right: 5px;
      }
      .form-group {
        margin-bottom: 10px;
      }
      .nav-tabs{
        border: 1px #d3dae4 solid;
        margin: 0;
        li{
          border-right: 1px solid #d3dae4;
          &.active{
            margin-bottom: -2px;
            border-bottom: 1px solid #F8FAFB;
          }
        }
      }
      .tab-content{
        border: 1px #d3dae4 solid;
        padding: 30px 30px 0 30px;
        .table{
          th{
            font-size: 12px;
            font-weight: 600;
            padding: 10px 15px;
          }
          td{
            font-size: 12px;
            padding: 10px 15px;
            i{
              margin: 10px auto;
              width: 12px;
            }
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .search-form{
    .modal-sm {
      width: 540px;
      margin: 180px auto 0 auto;
    }
  }
  .modal-body{
    .nav-tabs{
      border-bottom: 1px #d3dae4 solid;
      margin: 30px 0 0 0;
      li{
        margin-bottom: -1px;
        a{
          font-size: 12px;
          padding: 10px 30px;
          margin: 0;
          border-bottom: 1px #d3dae4 solid;

          i{
            top: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 16px;
          }
        }
        &.active{
          a{
            border-bottom: 1px #F8FAFB solid;
          }

        }
      }
    }
    .tab-content{
      padding: 30px 30px 0 30px;
      width: 100%;
      [class^="col-"]{
        padding-left: 5px;
        padding-right: 5px;
      }
      .form-group {
        margin-bottom: 10px;
      }
      .nav-tabs{
        border: 1px #d3dae4 solid;
        margin: 0;
        li{
          border-right: 1px solid #d3dae4;
          &.active{
            margin-bottom: -2px;
            border-bottom: 1px solid #F8FAFB;
          }
        }
      }
      .tab-content{
        border: 1px #d3dae4 solid;
        padding: 30px 30px 0 30px;
        .table{
          th{
            font-size: 12px;
            font-weight: 600;
            padding: 10px 15px;
          }
          td{
            font-size: 12px;
            padding: 10px 15px;
            i{
              margin: 10px auto;
              width: 12px;
            }
          }
        }
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .search-form{
    .modal-sm {
      width: calc(100% - 20px);
      margin: 9px auto;
    }
  }
  .modal-body{
    h3{
      font-size: 20px;
    }
    .nav-tabs{
      border-bottom: 1px #d3dae4 solid;
      margin: 30px 0 0 0;
      li{
        margin-bottom: -1px;
        a{
          font-size: 12px;
          padding: 10px 20px;
          margin: 0;
          border-bottom: 1px #d3dae4 solid;

          i{
            top: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 16px;
          }
        }
        &.active{
          a{
            border-bottom: 1px #F8FAFB solid;
          }

        }
      }
    }
    .tab-content{
      padding: 20px 15px 0 15px;
      width: 100%;
      [class^="col-"]{
        padding-left: 5px;
        padding-right: 5px;
      }
      .form-group {
        margin-bottom: 10px;
      }
      .nav-tabs{
        border: 1px #d3dae4 solid;
        margin: 0;
        li{
          border-right: 1px solid #d3dae4;
          &.active{
            margin-bottom: -2px;
            border-bottom: 1px solid #F8FAFB;
          }
        }
      }
      .tab-content{
        border: 1px #d3dae4 solid;
        padding: 30px 30px 0 30px;
        .table{
          th{
            font-size: 12px;
            font-weight: 600;
            padding: 10px 15px;
          }
          td{
            font-size: 12px;
            padding: 10px 15px;
            i{
              margin: 10px auto;
              width: 12px;
            }
          }
        }
      }
    }
  }
}
