.select-from-map{
  .modal-header {
    border-bottom: none;
    min-height: initial;
    .close {
      margin-top: 0;
      position: absolute;
      top: 10px;
      right: 15px;
    }
    h3{
      float: left;
    }
    a{
      float: right;
      text-transform: uppercase;
      display: block;
    }
  }
  div.olMap {
    display: inline-block;
    > div{
      border-radius: 5px;
    }
  }
  .modal-content{
    @include border-radius(5px);
    background: #f8fafb;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    p{
      color: #93a9b9;
    }
  }
  .btn{
    text-transform: none !important;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .select-from-map{
    .modal-dialog {
      margin: 80px auto 0 auto;
    }
    .modal-header {
      padding: 0 40px;
      .close {
        margin-top: 0;
        top: 10px;
        right: 15px;
      }
      a{
        border-left: 1px #ccc solid;
        padding: 5px 0 5px 20px;
      }
    }
    div.olMap {
      padding: 20px 40px !important;
    }
    .modal-content{
      padding: 30px 0;
      .modal-body{
        padding: 0;
      }
      h3{
        margin: 0 0 5px 0;
      }
      p{
        margin: 0;
      }

    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .select-from-map{
    .modal-dialog {
      margin: 80px auto 0 auto;
    }
    .modal-header {
      padding: 0 40px;
      .close {
        margin-top: 0;
        top: 10px;
        right: 15px;
      }
      a{
        border-left: 1px #ccc solid;
        padding: 5px 0 5px 20px;
      }
    }
    div.olMap {
      padding: 20px 40px !important;
    }
    .modal-content{
      padding: 30px 0;
      .modal-body{
        padding: 0;
      }
      h3{
        margin: 0 0 5px 0;
      }
      p{
        margin: 0;
      }

    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .select-from-map{
    .modal-dialog {
      margin: 30px auto 30px auto;
      width: 95%;
    }
    .modal-header {
      padding: 0 20px;
      .close {
        margin-top: 0;
        top: 10px;
        right: 15px;
      }
      a{
        border-left: 1px #ccc solid;
        padding: 5px 0 5px 20px;
      }
    }
    div.olMap {
      padding: 20px 20px !important;
    }
    .modal-content{
      padding: 30px 0;
      .modal-body{
        padding: 0;
      }
      h3{
        margin: 0 0 5px 0;
      }
      p{
        margin: 0;
      }

    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .select-from-map{
    .modal-dialog {
      margin: 80px auto 0 auto;
    }
    .modal-header {
      padding: 0 40px;
      .close {
        margin-top: 0;
        top: 10px;
        right: 15px;
      }
      a{
        border-left: 1px #ccc solid;
        padding: 5px 0 5px 20px;
      }
    }
    div.olMap {
      padding: 20px 40px !important;
    }
    .modal-content{
      padding: 30px 0;
      .modal-body{
        padding: 0;
      }
      h3{
        margin: 0 0 5px 0;
      }
      p{
        margin: 0;
      }

    }
  }
}


/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .select-from-map{
    .modal-dialog {
      width: calc(100% - 20px);
      margin: 9px auto;
    }
    .modal-header {
      padding: 0 20px;
      .close {
        margin-top: 0;
        top: 10px;
        right: 15px;
      }
      a{
        border-left: 1px #ccc solid;
        padding: 5px 0 5px 20px;
      }
      h3{
        font-size: 20px;
      }
    }
    div.olMap {
      padding: 20px 40px !important;
    }
    .modal-content{
      padding: 30px 0;
      .modal-body{
        padding: 0;
      }
      h3{
        margin: 0 0 5px 0;
      }
      p{
        margin: 0;
      }

    }
  }
}
