$tableHead: #f1f4f6;

.filter-by{
  background: $tableHead;
  display: inline-block;
  .advance-search{
    .btn-success[disabled]{
      background: #3d9ce2 !important;
    }
  }
}
table.table-striped{
  thead{
    background: $tableHead;
    tr{
      td{
        border: none;
        white-space: nowrap;
        font-size: 14px;
        padding: 10px;
      }
      th{
        font-weight: normal;
      }
    }
  }
  tr{
    td{
      color: $text-color;
      white-space: nowrap;
      font-size: 14px;
      padding: 10px;

      &.open{
        position: relative;
        .dropdown-menu {
          top:40%;
        }
        .bottom{
          top: inherit;
          bottom: 100%;
        }
      }
      .setting{
        font-size: 0;
        position: relative;
        display: block;
        margin-top: 5px;
        &:before{
          background: url("../images/icons-user.png") no-repeat -102px -17px;
          margin-right: 14px;
          content: '';
          width: 16px;
          height: 16px;
          display: inline-block;
        }
        &:after{
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 5px solid $brand-primary;
          border-bottom: 0;
          position: absolute;
          top: 5px;
          left: 20px;
          content: '';
        }
        &:hover{
          &:before{
            background-position-y: 0px !important;
          }
          &:after{
            border-top: 5px solid $text-color;
          }
        }
        &[disabled="disabled"], .disabled{
          cursor: not-allowed;
        }
      }
    }
  }
}
table.white-table{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  thead{
    tr{
      td{
        font-weight: 600;
      }
    }
  }
  tr{
    td{
      text-transform: uppercase;
    }
  }
}
.margin-table{
  margin: 0 -8px;
}
table.without-border{
  margin-bottom: 20px;
  thead{
    tr{
      td{
        font-weight: 600;
        padding-bottom: 15px;
      }
    }
  }
  tr{
    td{
      border: none;
      padding: 3px 8px;
      font-size: 12px;
    }
  }
  tbody{
    tr{
      &:last-child{
        td{
          padding-bottom: 15px;
        }
      }
    }
  }
  tfoot{
    tr{
      &:first-child{
        td{
          border-top: 1px #b1b4c3 dotted;
          padding-top: 15px;
        }
      }
    }
  }
}
.table-striped{
  >thead{
    >tr{
      >td{
        padding: 10px 15px;
      }
    }
  }
  > tbody > tr{
    &:nth-of-type(odd) {
      background-color: #ffffff;
    }
    &:nth-of-type(even) {
      background-color: #f6f7f8;
    }
    td{
      padding: 10px 15px;
    }
  }
}
.table-hover > tbody > tr:hover {
  background-color: #e5f9f8;
  cursor: pointer;
}
.table tr.active td{
  background-color: #e5f9f8 !important;
}
.table-half{
  tr{
    &:last-child{
      td{
        border-bottom: 1px solid #ddd;
      }
    }
    td{
      padding: 10px 5px !important;
      font-size: 13px;
    }
  }
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .filter-by{
    width: 100%;
    padding: 15px 0;
    border: 1px solid #ddd;
    [class^="col-"]{
      padding-left: 10px;
      padding-right: 10px;
    }
    .form-group {
      margin-bottom: 0;
    }
    .btn {
      margin-right: 16px;
    }
    label {
      margin-top: 7px;
    }
    .advance-search{
      margin-top: 10px;
      padding-left: 0;

      label{
        margin-top: 0;
      }
      .btn-danger{
        margin-left: 4px;
      }
      .btn-success{
        margin-right: -5px;
        float: right;
      }
      .btn-success[disabled]{
        border: 1px #3d9ce2 solid !important;
      }
    }
  }
  table.white-table{
    tr{
      td{
        padding: 15px 10px;
        font-size: 12px;
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .filter-by{
    width: 100%;
    padding: 15px 0;
    border: 1px solid #ddd;
    [class^="col-"]{
      padding-left: 10px;
      padding-right: 10px;
    }
    .form-group {
      margin-bottom: 0;
    }
    .btn {
      margin-right: 16px;
    }
    label {
      margin-top: 7px;
    }
    .advance-search{
      margin-top: 10px;
      padding-left: 0;

      label{
        margin-top: 0;
      }
      .btn-danger{
        margin-left: 4px;
      }
      .btn-success{
        margin-right: -5px;
        float: right;
      }
      .btn-success[disabled]{
        border: 1px #3d9ce2 solid !important;
      }
    }
  }
  table.white-table{
    tr{
      td{
        padding: 15px 10px;
        font-size: 12px;
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .filter-by{
    width: 100%;
    padding: 15px 0;
    border: 1px solid #ddd;
    [class^="col-"]{
      padding-left: 10px;
      padding-right: 10px;
    }
    .form-group {
      margin-bottom: 0;
    }
    .btn {
      margin-right: 16px;
    }
    label {
      margin-top: 7px;
    }
    .advance-search{
      margin-top: 10px;
      padding-left: 0;

      label{
        margin-top: 0;
      }
      .btn-danger{
        margin-left: 4px;
      }
      .btn-success{
        margin-right: -5px;
        float: right;
      }
      .btn-success[disabled]{
        border: 1px #3d9ce2 solid !important;
      }
    }
  }
  table.white-table{
    tr{
      td{
        padding: 15px 0;
        font-size: 12px;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .filter-by{
    width: 100%;
    padding: 15px 0;
    border: 1px solid #ddd;
    [class^="col-"]{
      padding-left: 10px;
      padding-right: 10px;
    }
    .form-group {
      margin-bottom: 0;
    }
    .btn {
      margin-right: 16px;
    }
    label {
      margin-top: 7px;
    }
    .advance-search{
      margin-top: 10px;
      padding-left: 0;

      label{
        margin-top: 0;
      }
      .btn-danger{
        margin-left: 4px;
      }
      .btn-success{
        margin-right: -5px;
        float: right;
      }
      .btn-success[disabled]{
        border: 1px #3d9ce2 solid !important;
      }
    }
  }
  table.white-table{
    tr{
      td{
        padding: 15px 10px;
        font-size: 12px;
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .filter-by{
    width: 100%;
    padding: 0 0 15px 0;
    border: 1px solid #ddd;
    [class^="col-"]{
      padding-left: 10px;
      padding-right: 10px;
    }
    .form-group {
      margin-bottom: 15px;
    }
    .btn {
      margin-bottom: 0;
    }
    label {
      margin: 10px 0;
    }
    .advance-search{
      margin-top: 10px;
      padding-left: 0;

      label{
        margin-top: 0;
      }
      .btn-danger{
        margin-left: 4px;
      }
      .btn-success{
        margin-right: -5px;
        float: right;
      }
      .btn-success[disabled]{
        border: 1px #3d9ce2 solid !important;
      }
    }
  }
  table.white-table{
    tr{
      td{
        padding: 15px 10px;
        font-size: 12px;
      }
    }
  }
}
