

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  h1{
    font-size: 40px;
    margin: 20px 0 40px 0;
    font-weight: 400;
    color: #fff;
  }
  h2{
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
  h3{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 12px;
  }
  p{
    font-size: 15px;
  }

  a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .white{
    background: $brand-white;
    padding: 70px 0;
  }
  .gray{
    background: $brand-gray;
    padding: 70px 0;
  }
  .border-top{
    border-top:1px #dee2e3 solid;
  }

  .text-muted {
    color: #999;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  h1{
    font-size: 40px;
    margin: 20px 0 40px 0;
    font-weight: 400;
    color: #fff;
  }
  h2{
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
  h3{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 12px;
  }
  p{
    font-size: 15px;
  }

  a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .white{
    background: $brand-white;
    padding: 70px 0;
  }
  .gray{
    background: $brand-gray;
    padding: 70px 0;
  }
  .border-top{
    border-top:1px #dee2e3 solid;
  }

  .text-muted {
    color: #999;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  h1{
    font-size: 40px;
    margin: 20px 0 40px 0;
    font-weight: 400;
    color: #fff;
  }
  h2{
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
  h3{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 12px;
  }
  p{
    font-size: 15px;
  }

  a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .white{
    background: $brand-white;
    padding: 40px 0;
  }
  .gray{
    background: $brand-gray;
    padding: 40px 0;
  }
  .border-top{
    border-top:1px #dee2e3 solid;
  }

  .text-muted {
    color: #999;
  }

}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  h1{
    font-size: 40px;
    margin: 20px 0 40px 0;
    font-weight: 400;
    color: #fff;
  }
  h2{
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
  h3{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 12px;
  }
  p{
    font-size: 15px;
  }

  a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .white{
    background: $brand-white;
    padding: 40px 0;
  }
  .gray{
    background: $brand-gray;
    padding: 40px 0;
  }
  .border-top{
    border-top:1px #dee2e3 solid;
  }

  .text-muted {
    color: #999;
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  h1{
    font-size: 32px;
    margin: 20px 0 40px 0;
    font-weight: 400;
    color: #fff;
  }
  h2{
    font-size: 28px;
    font-weight: 400;
    color: #fff;
  }
  h3{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }

  h6{
    font-size: 12px;
  }
  p{
    font-size: 14px;
  }

  a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .white{
    background: $brand-white;
    padding: 40px 0;
  }
  .gray{
    background: $brand-gray;
    padding: 40px 0;
  }
  .border-top{
    border-top:1px #dee2e3 solid;
  }

  .text-muted {
    color: #999;
  }
}
