.main-tabs-section{
  background-color: #293d4b;
  h3{
    color: $brand-white;
  }
  p{
    color: #93a9b9;
  }
  .nav-pills{
    text-align: center;
    display: block;
    li{
      display: inline-block;
      &.active, &:hover{
        a{
          background: transparent;
          color: $brand-primary;
          i{
            background-position-y: bottom !important;
          }
        }
      }
      &.active{
        &:before{
          content: '';
          display: block;
          background: #f8fafb;
          position: absolute;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      a{
        background: transparent;
        color: #6f8b9f;
        text-transform: uppercase;
        &:hover{
          background: transparent;
        }
        i{
          display: block;
          background: url("../images/tab-icons.png") no-repeat;
          &.manage-reports{
            background-position: left top;
          }
          &.manage-users{
            background-position: center top;
          }
          &.edit-your-profile{
            background-position: right top;
          }
        }
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .main-tabs-section{
    padding: 170px 0 25px 0;
    h3{
      margin: 25px 0 0 0;
      font-size: 24px;
    }
    p{
      margin: 0;
      font-size: 14px;
    }
    .nav-pills{

      li{
        width: 33%;
        margin: 0;
        &.active{
          &:before{
            width: 25px;
            height: 25px;
            margin: 0 auto;
            bottom: -45px;
            left: 0;
            right: 0;
          }
        }
        a{
          font-size: 14px;
          font-weight: 600;
          i{
            width: 50px;
            height: 50px;
            margin: 0 auto 10px auto;
          }
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .main-tabs-section{
    padding: 170px 0 25px 0;
    h3{
      margin: 25px 0 0 0;
      font-size: 24px;
    }
    p{
      margin: 0;
      font-size: 14px;
    }
    .nav-pills{

      li{
        width: 33%;
        margin: 0;
        &.active{
          &:before{
            width: 25px;
            height: 25px;
            margin: 0 auto;
            bottom: -45px;
            left: 0;
            right: 0;
          }
        }
        a{
          font-size: 14px;
          font-weight: 600;
          i{
            width: 50px;
            height: 50px;
            margin: 0 auto 10px auto;
          }
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .main-tabs-section{
    padding: 170px 0 25px 0;
    h3{
      margin: 25px 0 0 0;
      font-size: 24px;
    }
    p{
      margin: 0;
      font-size: 14px;
    }
    .nav-pills{
      margin-top: 20px;

      li{
        width: 33%;
        margin: 0;
        &.active{
          &:before{
            width: 25px;
            height: 25px;
            margin: 0 auto;
            bottom: -45px;
            left: 0;
            right: 0;
          }
        }
        a{
          font-size: 14px;
          font-weight: 600;
          i{
            width: 50px;
            height: 50px;
            margin: 0 auto 10px auto;
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .main-tabs-section{
    padding: 170px 0 25px 0;
    h3{
      margin: 25px 0 0 0;
      font-size: 24px;
    }
    p{
      margin: 0;
      font-size: 14px;
    }
    .nav-pills{

      li{
        width: 33%;
        margin: 0;
        &.active{
          &:before{
            width: 25px;
            height: 25px;
            margin: 0 auto;
            bottom: -45px;
            left: 0;
            right: 0;
          }
        }
        a{
          font-size: 14px;
          font-weight: 600;
          i{
            width: 50px;
            height: 50px;
            margin: 0 auto 10px auto;
          }
        }
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .main-tabs-section{
    padding: 60px 0 25px 0;
    h3{
      margin: 25px 0 0 0;
      font-size: 24px;
      text-align: center;
    }
    p{
      margin: 10px 0 20px 0;
      font-size: 14px;
      text-align: center;
    }
    .nav-pills{
      margin-left: -20px;
      margin-right: -20px;
      li{
        width: 33%;
        height: 100px;
        margin: 0;
        &.active{
          &:before{
            width: 25px;
            height: 25px;
            margin: 0 auto;
            bottom: -45px;
            left: 0;
            right: 0;
          }
        }
        a{
          font-size: 12px;
          font-weight: 600;
          i{
            width: 50px;
            height: 50px;
            margin: 0 auto 10px auto;
          }
        }
      }
    }
  }
}
