body.user{
  footer{
    border-top: none;
    position: fixed;
    -moz-box-shadow:0 0 4px #919191;
    -webkit-box-shadow:0 0 4px #919191;
    box-shadow:0 0 4px #919191;
    p{
      a{
        color: $brand-primary;
      }
    }
    a.btn-footer{
      background: $brand-primary;
      color: $brand-white;
      display: inline-block;
      text-transform: uppercase;
      &:hover{
        background: $brand-info;
        text-decoration: none;
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  body.user{
    footer{
      bottom: 0;
      left: 0;
      p{
        margin: 0;
        line-height: 36px;
        font-size: 10px;
      }
      a.btn-footer{
        padding: 6px 15px;
        line-height: 24px;
        font-size: 10px;
        i{
          font-size: 14px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  body.user{
    footer{
      bottom: 0;
      left: 0;
      p{
        margin: 0;
        line-height: 36px;
        font-size: 10px;
      }
      a.btn-footer{
        padding: 6px 15px;
        line-height: 24px;
        font-size: 10px;
        i{
          font-size: 14px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  body.user{
    footer{
      bottom: 0;
      left: 0;
      p{
        margin: 0;
        line-height: 36px;
        font-size: 10px;
      }
      a.btn-footer{
        padding: 6px 15px;
        line-height: 24px;
        font-size: 10px;
        i{
          font-size: 14px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  body.user{
    footer{
      position: relative !important;
      bottom: 0;
      left: 0;
      p{
        margin: 0;
        line-height: 36px;
        font-size: 10px;
      }
      a.btn-footer{
        padding: 6px 15px;
        line-height: 24px;
        font-size: 10px;
        i{
          font-size: 14px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  body.user{
    footer{
      position: relative !important;
      bottom: 0;
      left: 0;
      p{
        margin: 0;
        line-height: 36px;
        font-size: 10px;
      }
      a.btn-footer{
        padding: 6px 15px;
        line-height: 24px;
        font-size: 10px;
        i{
          font-size: 14px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}
