.sub-tabs-section{
  background-color: #f8fafb;
  text-align: center;
  display: inline-block;

  h3{
    color: $text-color;
  }
  p{
    color: #93a9b9;
  }
  .nav-pills{
    text-align: center;
    display: block;
    border-bottom: 1px #d0d8d9 solid;

    li{
      float: none;
      display: inline-block;
      border: 1px #d0d8d9 solid;
      background-color: $brand-white;
      position: relative;
      &.active, &:hover{
        a{
          background: transparent;
          color: $brand-primary;
        }
      }
      &.active{
        border-bottom: 1px $brand-white solid;
      }
      a{
        background: transparent;
        color: $text-color;
        text-transform: uppercase;
        &:hover{
          background: transparent;
        }
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .sub-tabs-section{
    width: 100%;

    h3{
      margin: 50px 0 0 0;
      font-size: 24px;
      line-height: 34px;
    }
    p{
      margin: 0;
      font-size: 14px;
    }
    .nav-pills{
      margin: 50px 0 0 0;
      li{
        min-width: 220px;
        z-index: 1;
        bottom: -1px;
        a{
          font-size: 14px;
          font-weight: 600;
          padding: 15px;
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  .sub-tabs-section{
    width: 100%;

    h3{
      margin: 50px 0 0 0;
      font-size: 24px;
      line-height: 34px;
    }
    p{
      margin: 0;
      font-size: 14px;
    }
    .nav-pills{
      margin: 50px 0 0 0;
      li{
        min-width: 220px;
        z-index: 1;
        bottom: -1px;
        a{
          font-size: 14px;
          font-weight: 600;
          padding: 15px;
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .sub-tabs-section{
    width: 100%;

    h3{
      margin: 50px 0 0 0;
      font-size: 24px;
      line-height: 34px;
    }
    p{
      margin: 0;
      font-size: 14px;
    }
    .nav-pills{
      margin: 50px 0 0 0;
      li{
        min-width: 220px;
        z-index: 1;
        bottom: -1px;
        a{
          font-size: 14px;
          font-weight: 600;
          padding: 15px;
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .sub-tabs-section{
    width: 100%;

    h3{
      margin: 50px 0 0 0;
      font-size: 24px;
      line-height: 34px;
    }
    p{
      margin: 0;
      font-size: 14px;
    }
    .nav-pills{
      margin: 50px 0 0 0;
      li{
        min-width: 220px;
        z-index: 1;
        bottom: -1px;
        a{
          font-size: 14px;
          font-weight: 600;
          padding: 15px;
        }
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .sub-tabs-section{
    width: 100%;
    h3{
      margin: 20px 0 0 0;
      font-size: 24px;
      line-height: 34px;
      padding: 0 15px;
    }
    p{
      margin: 0;
      font-size: 14px;
      padding: 0 15px;
      br{
        display: none;
      }
    }
    .nav-pills{
      margin: 30px 0 0 0;
      li{
        z-index: 1;
        bottom: -1px;
        width: 30%;
        a{
          font-size: 12px;
          font-weight: 600;
          padding: 9px;
          line-height: 15px;
          text-transform: capitalize;
        }
      }
    }
  }
}
