.user_header{
  float: none;
  margin: 80px auto 100px;
  text-align: center;
  color: #fff;
  p{
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.dropdown-menu{
  left: initial;
  right: 0;
  padding: 0;
  li{
    padding: 0 !important;
    &.divider{
      margin: 0;
    }
    a{
      padding: 8px 15px;
      text-align: left;
      text-transform: capitalize !important;
      font-weight: 400 !important;
      &:before, &:after{
        display: none !important;
      }
      &:hover{
        background: transparent;
        color: $brand-primary;
      }
    }
  }
}

hr{
  border-color: #c9d2d6;
}
.side-panel{
  background: #fff;
  ul.nav{
    >li{
      border-bottom: 1px #dcdee8 solid;
      margin: 0;

      >a{
        padding: 20px;
        color: $text-color;
        font-weight: 400;
        position: relative;
        &:focus{
          background: transparent;
          outline: none;
        }
      }
      ul{
        margin: 0;
        padding: 0 20px;
        li{
          border-top: 1px #dcdee8 dotted;
          margin: 0;
          list-style: none;

          a{
            padding: 20px;
            color: $text-color;
            font-weight: 400;
            display: block;
            &:focus{
              background: transparent;
              outline: none;
            }
          }
          &:hover, &.active{
            a{
              text-decoration: none;
              color: $brand-primary;
            }
          }
        }
      }
      &:hover, &.active{
        >a{
          color: $brand-primary;
          background: transparent;
          &:before{
            border-left: 3px $brand-primary solid;
            content: '';
            height: 35px;
            display: block;
            position: absolute;
            left: -3px;
            top: 0;
            bottom: 0;
            margin: auto 0;
          }
        }
      }
    }
  }
}
.content-panel{
  background: #fff;
  clear: both;


  h3{
    margin: 25px 0;
  }
}

.top-mar-none{
  margin-top: 0;
}
.bottom-mar-none{
  margin-bottom: 0;
}
.lead {
  font-size: 20px;
}
.center-short{
  text-align: center;
  padding-bottom: 10px;
  p{
    b{
      font-weight: 600;
    }
  }
  hr{
    width: 40%;
  }
}


.space-ten{
  margin-left: -12px;
  margin-right: -12px;
  .col-md-6{
    padding-left: 12px;
    padding-right: 12px;
  }
}

.btn-group{
  .btn-info{
    border: 1px #bec1cf solid;
    background: transparent;
    padding: 7px 14px;
    margin: 0 2px !important;
    min-width: 45px;
    @include border-radius(3px !important);
    span{
      color: $brand-primary;
    }
    &:hover{
      background: $brand-primary;
      border-color: $brand-primary;
      border-bottom-color: darken($brand-primary, 5%);
      border-top-width: 0;
      border-bottom-width: 2px;
      span{
        color: #fff;
      }
    }
  }
}

.alert-info{
  position: relative;
  padding-left: 85px;
  margin-bottom: 40px;
  &:before{
    content:'';
    width: 65px;
    height: 55px;
    background: $brand-primary url("../images/info.png") center no-repeat;
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 0;
  }
  &:after{
    content:'';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 8px solid $brand-primary;
    border-bottom: 6px solid transparent;
    display: block;
    position: absolute;
    left: 65px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  a{
    text-transform: uppercase;
  }
}
ol{
  padding: 0 20px;
  color: $brand-primary;
  h5{
    font-size: 15px;
  }
  p, table{
    color: $text-color;
    font-size: 13px;
  }
}
.alert-success{
  //background: #f4f5f9;
  text-transform: none;
  table{
    margin-bottom: 0;
  }
  td{
    color: $brand-primary;
    font-size: 14px !important;
    padding: 2px 8px !important;
  }
}
p{
  i{
    font-size: 13px;
  }
}
.form-control{
  height: 40px;
  padding: 8px 12px;
  resize: none;
  font-size: 12px;
  color: #2e4250;
  @include border-radius(2px);
}
label{
  font-size: 15px;
  font-weight: 400;
  color: #636078;
}
form{
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}

td.alert {
  color: #d7007e !important;
}
.modal-dialog{
  @extend .modal-lg;
}
.or-line{
  position: relative;
  text-align: center;
  margin: 30px 0;
  &:before{
    content: '';
    border-top: 1px solid #eeeeee;
    width: 100%;
    display: block;
    position: absolute;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  span{
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    font-size: 20px;
    color: #d5d6df;
  }
}

.pink{
  color: #dc3291 !important;
  border-color: #dc3291 !important;
  float: right;
}
.none{
  display: none;
}
.select-loader{
  i{
    display: inline-block !important;
    position: absolute;
    right: -3%;
    top: 30%;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  .content-panel{
    padding: 50px 0 80px 0;
    h1 {
      line-height: 36px;
      margin-bottom: 35px;
      text-transform: uppercase;
    }
    form {
      .row {

      }
      .form-group{
        label.control-label {
          line-height: 55px;
          margin:0;
        }
      }
    }
  }
  .side-panel{
    margin-right: -20px;
  }
  .or-line{
    margin: 30px 0;
  }
  .full-page-line{
    margin: 50px -50px;
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .content-panel{
    padding: 50px 0 100px 0;
    h1 {
      line-height: 36px;
      margin-bottom: 35px;
      text-transform: uppercase;
    }
    form {
      .row {

      }
      .form-group{
        label.control-label {
          line-height: 55px;
          margin:0;
        }
      }
    }
  }
  .side-panel{
    margin-right: -20px;
  }
  .or-line{
    margin: 30px 0;
  }
  .full-page-line{
    margin: 50px -50px;
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .content-panel{
    padding: 25px 0 100px 0;
    h1 {
      line-height: 36px;
      margin-bottom: 35px;
      text-transform: uppercase;
    }
    form {
      .row {

      }
      .form-group{
        label.control-label {
          line-height: 55px;
          margin:0;
        }
      }
    }
  }
  .side-panel{
    margin-bottom: 15px;
  }
  .or-line{
    margin: 30px 0;
  }
  .full-page-line{
    margin: 50px -50px;
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  .container {

    >.col-md-9{
      padding: 0 !important;
    }
    .content-panel{
      padding: 15px;
      overflow: hidden;
      h1 {
        line-height: 36px;
        margin-bottom: 35px;
        text-transform: uppercase;
      }
      h3 {
        margin: 10px 0;
      }
      form {
        .row {
          margin-left: -10px;
          margin-right: -10px;
          h3 {
            margin: 10px;
          }
          .form-group{
            label.control-label {
              line-height: 35px;
              margin: 0;
            }
            .form-group {
              margin-bottom: 0;
            }
          }
        }
      }
      .btn-group{
        margin-bottom: 15px;
      }
      .full-320{
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .side-panel{
      margin-right: 0;
      margin-bottom: 15px;
    }
    .or-line{
      margin: 10px 0;
    }
    .full-page-line {
      margin: 30px 0;
    }
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  .container {
    >.col-md-9{
      padding: 0 !important;
    }
    .content-panel{
      padding: 15px 0 30px 0;
      overflow: hidden;
      margin: 0 !important;
      h1 {
        line-height: 36px;
        margin-bottom: 15px;
        font-size: 30px;
        text-transform: uppercase;
      }
      h3 {
        margin: 20px 0;
      }
      form {
        .row {
          margin-left: -10px;
          margin-right: -10px;
          h3 {
            margin: 10px;
          }
          .form-group{
            label.control-label {
              line-height: 35px;
              margin:0;
            }
            .form-group {
              margin-bottom: 0;
            }
          }

        }
      }
      .btn-group{
        margin-bottom: 15px;
      }
      .full-320{
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .side-panel{
      margin-right: 0;
      margin-bottom: 15px;
    }
    .or-line{
      margin: 10px 0;
    }
    .full-page-line {
      margin: 30px 0;
    }
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

}
