body.user{
  .header{
    position: absolute;
    .navbar{
      background: $brand-primary url("../images/nav-back.jpg") repeat-x 0 50px;
      border: none;
      @include border-radius(5px);
      -moz-box-shadow: 0 0 5px #293D4B;
      -webkit-box-shadow: 0 0 5px #293D4B;
      box-shadow: 0 0 5px #293D4B;

      .site-title{
        a{
          font-size: 0;
          background: url("../images/logo.png") no-repeat;
          display: block;
        }
      }
      .mobile-account{
        display: none;
      }
    }
    .welcome-menu{
      text-align: right;
      p{
        display: inline-block;
        color: #fff;
        float: right;
      }
      ul{
        float: right;
        li{
          list-style: none;
          float: left;
          &.alerts{
            a{
              background: #ff0060;
              color: #fff;
              &:hover{
                text-decoration: none;
              }
            }
          }
          a{
            color: $brand-primary;
            text-align: center;
            background: #abd9f3;
            display: inline-block;
            @include border-radius(2px);
          }
        }
      }
    }

    .navbar-collapse{
      .nav{
        li{
          position: relative;
          &:last-child{
            &:before{
              display: none;
            }
          }
          &.active, &:hover{
            a{
              background: transparent;
              color: $brand-primary;
            }
          }
          > a{
            color: #2e4250;
            &:hover, &:focus{
              background: transparent;
            }
            i{
              display: inline-block;
              color: $brand-primary;
              float: left;
            }
            i.order-profile{
              background: url("../images/order-a-profile-icon.png") no-repeat;
            }
            i.select-far{
              background: url("../images/select-a-farm-icon.png") no-repeat;
            }
            i.query-tool{
              background: url("../images/query-tool-icon.png") no-repeat;
            }
          }
          &.open{
            a{
              background-color: transparent;
            }
          }
          &:before{
            content: '';
            position: absolute;
            margin: auto;
          }
          .dropdown-menu{
            background: #f8fafb;
            border: none;
            @include border-radius(3px);
            &:before{
              content: '';
              background: #f8fafb;
              position: absolute;
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            li{
              border-bottom: 1px #d3dae4 solid;
              &:last-child{
                border-bottom: none;
              }
              a{
                color: #2e4250;
                span{
                  float: right;
                }
                &:hover{
                  color: $brand-primary;
                }
              }
            }
          }
        }
      }
      p{
        color: $brand-info;
        float: right;
        b{
          text-transform: uppercase;
        }
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {
  body.user{
    .header{
      left: 0;
      right: 0;
      top: 20px;
      .navbar{
        min-height: 116px;
        margin-bottom: 0;
        .site-title{
          margin: 9px 0;
          a{
            width: 125px;
            height: 33px;
          }
        }
      }
      .welcome-menu{
        p{
          margin: 0;
          padding: 14px 0 0 0;
        }
        ul{
          float: right;
          margin: 10px 0;
          padding: 0 0 0 25px;
          li{
            margin: 0 2px;
            a{
              width: 30px;
              height: 30px;
              line-height: 30px;
            }
          }
        }
      }

      .navbar-collapse{
        .nav{
          margin: 7px 0 0 0;
          li{

            > a{
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              padding: 15px;
              i{
                width: 20px;
                height: 20px;
                font-size: 20px;
                margin: 0 7px 0 0;
              }
            }
            &:before{
              border-left: 1px #EDEDED solid;
              height: 32px;
              right: 0;
              top: 0;
              bottom: 0;
            }
            .dropdown-menu{
              left: 0;
              right: initial;
              min-width: 230px;
              top: 125%;
              &:before{
                width: 15px;
                height: 15px;
                top: -8px;
                left: 10%;
              }
              li{
                border-bottom: 1px #d3dae4 solid;
                a{
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 20px;
                  padding: 15px;
                  span{
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        p{
          font-size: 12px;
          padding: 15px 0 0 0;
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
  body.user{
    .header{
      left: 0;
      right: 0;
      top: 20px;
      .navbar{
        min-height: 116px;
        margin-bottom: 0;
        .site-title{
          margin: 9px 0;
          a{
            width: 125px;
            height: 33px;
          }
        }
      }
      .welcome-menu{
        p{
          margin: 0;
          padding: 14px 0 0 0;
        }
        ul{
          float: right;
          margin: 10px 0;
          padding: 0 0 0 25px;
          li{
            margin: 0 2px;
            a{
              width: 30px;
              height: 30px;
              line-height: 30px;
            }
          }
        }
      }

      .navbar-collapse{
        .nav{
          margin: 7px 0 0 0;
          li{

            > a{
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              padding: 15px;
              i{
                width: 20px;
                height: 20px;
                font-size: 20px;
                margin: 0 7px 0 0;
              }
            }
            &:before{
              border-left: 1px #EDEDED solid;
              height: 32px;
              right: 0;
              top: 0;
              bottom: 0;
            }
            .dropdown-menu{
              left: 0;
              right: initial;
              min-width: 230px;
              top: 125%;
              &:before{
                width: 15px;
                height: 15px;
                top: -8px;
                left: 10%;
              }
              li{
                border-bottom: 1px #d3dae4 solid;
                a{
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 20px;
                  padding: 15px;
                  span{
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        p{
          font-size: 12px;
          padding: 15px 0 0 0;
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  body.user{
    .header{
      left: 0;
      right: 0;
      top: 20px;
      .navbar{
        min-height: 116px;
        margin-bottom: 0;
        .container-fluid{
          padding-left: 15px;
          padding-right: 15px;
        }
        .site-title{
          margin: 9px 0;
          a{
            width: 125px;
            height: 33px;
          }
        }
      }
      .welcome-menu{
        p{
          margin: 0;
          padding: 14px 0 0 0;
        }
        ul{
          float: right;
          margin: 10px 0;
          padding: 0 0 0 25px;
          li{
            margin: 0 2px;
            a{
              width: 30px;
              height: 30px;
              line-height: 30px;
            }
          }
        }
      }

      .navbar-collapse{
        .nav{
          margin: 7px 0 0 0;
          li{
              &:first-child{
                a{
                  padding: 15px 10px 15px 0;
                }
              }
            > a{
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              padding: 15px 10px;
              i{
                width: 20px;
                height: 20px;
                font-size: 20px;
                margin: 0 7px 0 0;
              }
            }
            &:before{
              border-left: 1px #EDEDED solid;
              height: 32px;
              right: 0;
              top: 0;
              bottom: 0;
            }
            .dropdown-menu{
              left: 0;
              right: initial;
              min-width: 230px;
              top: 125%;
              &:before{
                width: 15px;
                height: 15px;
                top: -8px;
                left: 10%;
              }
              li{
                border-bottom: 1px #d3dae4 solid;
                a{
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 20px;
                  padding: 15px;
                  span{
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        p{
          font-size: 12px;
          padding: 15px 0 0 0;
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
  body.user{
    .header{
      left: 0;
      right: 0;
      top: 0;
      .container{
        padding: 0;
      }
      .navbar{
        min-height: 50px;
        margin-bottom: 0;
        border-radius: 0;
        background-image: none;
        .site-title{
          display: inline-block;
          margin: 9px auto;
          position: absolute;
          left: 0;
          right: 0;
          width: 125px;
          height: 33px;
          a{
            width: 125px;
            height: 33px;
          }
        }
        .mobile-account{
          color: #2382bf;
          text-align: center;
          background: #abd9f3;
          display: inline-block;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          float: right;
          margin: 10px;
          font-size: 18px;
        }
        .navbar-toggle{
          float: left;
          margin: 10px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          background: #abd9f3;
          border: none;
          padding: 6px;
          .icon-bar{
            background: #2382bf;
            height: 3px;
            width: 18px;
            + .icon-bar{
              margin-top: 3px;
            }
          }
        }
      }
      .welcome-menu{
        display: none;
        p{
          margin: 0;
          padding: 14px 0 0 0;
        }
        ul{
          float: right;
          margin: 10px 0;
          padding: 0 0 0 25px;
          li{
            margin: 0 2px;
            a{
              width: 30px;
              height: 30px;
              line-height: 30px;
            }
          }
        }
      }

      .navbar-collapse{
        .nav{
          margin: 7px 0 0 0;
          li{

            > a{
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              padding: 15px;
              i{
                width: 20px;
                height: 20px;
                font-size: 20px;
                margin: 0 7px 0 0;
              }
            }
            &:before{
              border-left: 1px #EDEDED solid;
              height: 32px;
              right: 0;
              top: 0;
              bottom: 0;
            }
            .dropdown-menu{
              left: 0;
              right: initial;
              min-width: 230px;
              top: 125%;
              &:before{
                width: 15px;
                height: 15px;
                top: -8px;
                left: 10%;
              }
              li{
                border-bottom: 1px #d3dae4 solid;
                a{
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 20px;
                  padding: 15px;
                  span{
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        p{
          font-size: 12px;
          padding: 15px 0 0 0;
        }
      }
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {
  body.user{
    .header{
      left: 0;
      right: 0;
      top: 0;
      .container{
        padding: 0;
      }
      .navbar{
        min-height: 50px;
        margin-bottom: 0;
        border-radius: 0;
        background-image: none;
        .site-title{
          display: inline-block;
          margin: 9px auto;
          position: absolute;
          left: 0;
          right: 0;
          width: 125px;
          height: 33px;
          a{
            width: 125px;
            height: 33px;
          }
        }
        .mobile-account{
          color: #2382bf;
          text-align: center;
          background: #abd9f3;
          display: inline-block;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          float: right;
          margin: 10px;
          font-size: 18px;
        }
        .navbar-toggle{
          float: left;
          margin: 10px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          background: #abd9f3;
          border: none;
          padding: 6px;
          .icon-bar{
            background: #2382bf;
            height: 3px;
            width: 18px;
            + .icon-bar{
              margin-top: 3px;
            }
          }
        }
      }
      .welcome-menu{
        display: none;
        p{
          margin: 0;
          padding: 14px 0 0 0;
        }
        ul{
          float: right;
          margin: 10px 0;
          padding: 0 0 0 25px;
          li{
            margin: 0 2px;
            a{
              width: 30px;
              height: 30px;
              line-height: 30px;
            }
          }
        }
      }

      .navbar-collapse{
        display: inline-block;
        position: absolute;
        background: #fff;
        width: calc(100% - 20px);
        margin: -12px 0 0 -10px !important;
        padding: 0 !important;
        border: none !important;
        border-radius: 0 0 5px 5px;
        .nav{
          margin:0;
          li{
            padding: 0 15px;
            &.open{
              a{
                &:after{
                  @include rotate(90deg);
                }
              }
            }
            > a{
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              padding: 15px 0;
              border-bottom: 1px #EFEFEF solid;
              &:after{
                content: "\f105";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0);
                position: absolute;
                right: 0;
                font-size: 20px;
              }
              i{
                width: 20px;
                height: 20px;
                font-size: 20px;
                margin: 0 7px 0 0;
              }
            }
            &:before{
              border-left: 1px #EDEDED solid;
              height: 32px;
              right: 0;
              top: 0;
              bottom: 0;
            }
            .dropdown-menu{
              left: 0;
              right: initial;
              min-width: 230px;
              top: 125%;
              background: transparent;
              &:before{
                display: none !important;
              }
              li{
                border-bottom: none;
                &:before{
                  display: none;
                }
                a{
                  font-size: 14px;
                  font-weight: 600 !important;
                  line-height: 20px;
                  padding: 10px;
                  border: none;
                  span{
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        p{
          font-size: 12px;
          padding: 15px 15px 0 15px;
          width: 100%;
        }
      }
    }
  }
}


