@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Lora:400italic);

*{font-family: 'Open Sans', sans-serif;}

$brand-primary:                  #3d9ce2 !default; // #2da3e3
$brand-success:                  #161d23 !default;
$brand-info:                     #a2d625 !default;
$brand-warning:                  #f0ad4e !default;
$brand-danger:                   #d9534f !default;
$brand-white:                    #fff !default;
$brand-gray:                     #f5f7f7 !default;

$btn-default-color:              #fff !default;
$btn-default-bg:                 transparent !default;
$btn-default-border:             #fff !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($brand-primary, 5%) !default;

$btn-border-color:               #fff !default;
$btn-border-bg:                  transparent !default;
$btn-border-border:              #fff !default;

$padding-base-vertical:          16px !default;
$padding-base-horizontal:        30px !default;

$line-height-base:               1.55 !default; // 20/14

$border-radius-base:             3px !default;

$font-size-base:                 15px !default;

$grid-gutter-width:              40px !default;

$text-color:                     #140f36;



//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (728px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (960px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1130px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

////////////////////////////////////////////////////////////////////

$screen-lg:                  1280px !default;

$screen-md:                  1024px !default;

$screen-sm:                  768px !default;

$screen-xs:                  480px !default;


$state-info-text:                #4f4c67 !default;
$state-info-bg:                  #eff0f5 !default;
$state-info-border:              #eff0f5 !default;
$alert-border-radius:            0px !default;


$modal-lg:                       1000px;



.pagination {
  text-align: center;
  display: block !important;
  li{
    display: inline-block !important;
    a {
      padding: 6px 15px !important;
      margin: 0 !important;
      &:focus{
        outline: none;
      }
    }
  }
}
