.what-we-can-do{
  h5{
    font-size: 14px;
    color: #2e4250;
    font-weight: 600;
    margin: 30px 0 15px 0;
  }
  h3{
    margin: 0 0 25px 0;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #2e4250;
  }
  p{
    color: #748794;
    font-size: 14px;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg - 1) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .what-we-can-do{
    padding: 40px 0;
    h3{
      margin: 0 0 10px 0;
    }
    .col-md-3{
      text-align: center;
      margin: 0 0 25px 0;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {

}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {

}


