.why-hire-us{
  text-align: center;
  h3{
    color: #2e4250;
    font-size: 30px;
    margin-top: 0;
  }
  h5{
    font-size: 14px;
    color: #2e4250;
    font-weight: 600;
    margin: 30px 0 15px 0;
  }
  p{
    color: #748794;
    font-size: 14px;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* Large desktops and laptops */
@media (min-width: $screen-lg ) {

}

/* Portrait tablets and medium desktops */
@media (min-width: $screen-md) and (max-width: $screen-lg -1) {

}

/* Portrait tablets and small desktops */
@media (min-width: $screen-sm) and (max-width: $screen-md -1) {
  .why-hire-us{
    .container{
      .row{
        .col-md-3{
          height: 250px;
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {

}

/* Landscape phones and smaller */
@media (max-width: $screen-xs) {

}
