<form name="form" data-ng-submit="submitForm()" class="validate-form"
      data-ng-class="{'form-loading': status.sending}" novalidate="">
  <fieldset>
    <div class="row" data-ng-if="::config.associationObj">
      <div class="col-sm-6">
        <div class="form-group">
          <!--<small class="text-help">Selected Rep</small>-->
          <input type="text" name="assoc_rep" class="form-control" placeholder="Un Assigned" data-ng-model="userObj.TbAssociation.parent_user_name"
                 data-ng-disabled="status.sending" readonly="">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <a href="javascript:" class="assoc_link"
             data-ng-disabled="status.sending"
             data-ng-click="config.associationObj.associateToRep(config.associationObj.pipelineUserObj, user, !user.TbUser.users_id)">
            <!--Associate to Rep-->
            <span data-ng-bind="userObj.TbUser.parent_user_id == '0' ? 'Select Rep' : 'Change Rep'"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="row" data-ng-if="::config.associationObj">
      <div class="col-sm-6">
        <div class="form-group">
          <!--<small class="text-help">Selected Office</small>-->
          <input type="text" name="assoc_office" class="form-control" placeholder="Un Assigned" data-ng-model="userObj.TbUser.office_name"
                 data-ng-disabled="status.sending" readonly="">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <a href="javascript:" class="assoc_link"
             data-ng-disabled="status.sending"
             data-ng-click="config.associationObj.associateToOffice(config.associationObj.pipelineUserObj, user, !user.TbUser.users_id)">
            <!--Associate to Office-->
            <span data-ng-bind="userObj.TbUser.office_id == '0' ? 'Select Office' : 'Change Office'"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="row" data-ng-if="::config.page !== 'profile'">
      <div class="col-md-6">
        <div class="form-group">
          <input type="email" name="username" class="form-control" placeholder="Email Address (username)" data-ng-model="userObj.TbUser.username"
                 data-ng-disabled="status.sending" data-ng-readonly="config.hideControls.indexOf('username') >= 0"
                 data-ng-required="::!config.noRequired">
          <div class="text-danger" data-ng-if="form.username.$error && (form.username.$touched || form.username.$dirty || form.$submitted)">
            <span data-ng-show="form.username.$error.required">Username field is required.</span>
            <span data-ng-show="form.username.$error.email">Username field is not a valid email.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" data-ng-if="config.hideControls.indexOf('userType') === -1">
          <div data-ui-select="" data-ng-model="userObj.TbUser.type" data-theme="bootstrap" data-search-enabled="false"
               data-ng-disabled="status.sending"
               data-ng-required="::!config.noRequired">
            <div data-ui-select-match="" data-placeholder="Select user type">{{$select.selected.title}}</div>
            <div data-ui-select-choices="" data-repeat="type.value as type in ::userTypes">
              <div data-ng-bind-html="type.title"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="first_name" class="form-control" placeholder="First Name" data-ng-model="userObj.TbUser.first_name"
                 data-ng-disabled="status.sending" data-ng-required="::!config.noRequired">
          <div class="text-danger" data-ng-if="form.first_name.$error && (form.first_name.$touched || form.first_name.$dirty || form.$submitted)">
            <span data-ng-show="form.first_name.$error.required">First name is required.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="last_name" class="form-control" placeholder="Last Name" data-ng-model="userObj.TbUser.last_name"
                 data-ng-disabled="status.sending" data-ng-required="::!config.noRequired">
          <div class="text-danger" data-ng-if="form.last_name.$error && (form.last_name.$touched || form.last_name.$dirty || form.$submitted)">
            <span data-ng-show="form.last_name.$error.required">Last name is required.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-ng-if="::config.hideControls.indexOf('reps') === -1">
      <div class="col-md-12">
        <div class="form-group" data-ng-class="{'fetching-list': repsDropDown.fetching}">
          <div data-ui-select="" name="parent_user" data-ng-model="userObj.TbAssociation.parent_user_id" data-theme="bootstrap" data-search-enabled="true"
               data-ng-disabled="status.sending || repsDropDown.fetching"
               data-ng-required="::!config.noRequired">
            <div data-ui-select-match="" data-placeholder="Select Title Rep">{{$select.selected.customFullName}}</div>
            <div data-ui-select-choices="" data-group-by="" data-repeat="rep.TbUser.users_id as rep in repsDropDown.reps | filter: $select.search">
              <div data-ng-bind-html="rep.customFullName | highlight: $select.search"></div>
            </div>
          </div>
          <div class="text-danger" data-ng-if="form.parent_user.$error && (form.parent_user.$touched || form.parent_user.$dirty || form.$submitted)">
            <span data-ng-show="form.parent_user.$error.required">Please select a Rep.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-ng-if="::config.hideControls.indexOf('offices') === -1">
      <div class="col-md-12">
        <div class="form-group" data-ng-class="{'fetching-list': officesDropDown.fetching}">
          <div data-ui-select="" name="parent_office" data-ng-model="userObj.TbOffice.office_id" data-theme="bootstrap" data-search-enabled="true"
               data-ng-disabled="status.sending || officesDropDown.fetching"
               data-ng-required="::!config.noRequired">
            <div data-ui-select-match="" data-placeholder="Select office">{{$select.selected.customFullName}}</div>
            <div data-ui-select-choices="" data-group-by="listOfficesInGroups" data-repeat="office.TbOffice.office_id as office in officesDropDown.offices | filter: $select.search">
              <div data-ng-bind-html="office.customFullName | highlight: $select.search"></div>
            </div>
          </div>
          <div class="text-danger" data-ng-if="form.parent_office.$error && (form.parent_office.$touched || form.parent_office.$dirty || form.$submitted)">
            <span data-ng-show="form.parent_office.$error.required">Please select an office.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="company_name" class="form-control" placeholder="Company Name" data-ng-model="userObj.TbUser.company_name"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-if="form.company_name.$error && (form.company_name.$touched || form.company_name.$dirty || form.$submitted)">
            <span data-ng-show="form.company_name.$error.required">Company name is required.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="phone" class="form-control" placeholder="Phone" data-ng-model="userObj.TbPhone[0].phone"
                 data-ng-disabled="status.sending" data-minlength="10" data-maxlength="10"/>
          <div class="text-danger" data-ng-if="form.phone.$error && (form.phone.$dirty || form.phone.$touched || form.$submitted)">
            <span data-ng-show="form.phone.$error.number">Invalid format - Only numbers are allowed.</span>
            <span data-ng-show="form.phone.$error.minlength">Phone should be exactly 10 digits.</span>
            <span data-ng-show="form.phone.$error.maxlength">Phone should be exactly 10 digits.</span>
          </div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="text" name="address" class="form-control" placeholder="Address" data-ng-model="userObj.TbAddress[0].address"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-if="form.address.$error && (form.address.$touched || form.address.$dirty || form.$submitted)">
            <span data-ng-show="form.address.$error.required">Address field is required.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Address 2" data-ng-model="userObj.TbAddress[0].address_2"
                 data-ng-disabled="status.sending">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="city" class="form-control" placeholder="City" data-ng-model="userObj.TbAddress[0].city"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-if="form.city.$error && (form.city.$touched || form.city.$dirty || form.$submitted)">
            <span data-ng-show="form.city.$error.required">City field is required.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <input type="text" name="state" class="form-control" placeholder="State" data-ng-model="userObj.TbAddress[0].state"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-if="form.state.$error && (form.state.$touched || form.state.$dirty || form.$submitted)">
            <span data-ng-show="form.state.$error.required">state field is required.</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <input type="text" name="zip_code" class="form-control" placeholder="Zip Code" data-ng-model="userObj.TbAddress[0].zip"
                 data-ng-disabled="status.sending">
          <div class="text-danger" data-ng-if="form.zip_code.$error && (form.zip_code.$touched || form.zip_code.$dirty || form.$submitted)">
            <span data-ng-show="form.zip_code.$error.required">Zip Code field is required.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-ng-if="config.hideControls.indexOf('password') === -1">
      <div class="col-md-6">
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password"
                 data-ng-model="userObj.TbUser.password" minlength="7" data-ng-disabled="status.sending" data-ng-required="::!config.noRequired">
          <div class="text-danger" data-ng-if="form.password.$error && (form.password.$touched || form.password.$dirty || form.$submitted)">
            <span data-ng-show="form.password.$error.required">Password field is required.</span>
            <span data-ng-show="form.password.$error.minlength">Password should be at least 7 characters.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password"
                 data-ng-model="userObj.TbUser.confirm_password" minlength="7" data-ng-disabled="status.sending"
                 data-ng-required="::!config.noRequired" confirm-password="userObj.TbUser.password">
          <div class="text-danger" data-ng-if="form.confirm_password.$error && (form.confirm_password.$touched || form.confirm_password.$dirty || form.$submitted)">
            <span data-ng-show="form.confirm_password.$error.required">Confirm Password field is required.</span>
            <span data-ng-show="form.confirm_password.$error.minlength">Password should be at least 7 characters.</span>
             <span data-ng-if="form.confirm_password.$error.confirmPassword">
                        Confirm password is not equal to password.</span>
          </div>
        </div>
      </div>
    </div>

    <!--transclude for datepiker and count field-->
    <div data-ng-transclude=""></div>

    <div class="row" data-ng-if="::config.hideControls.indexOf('agreeCheck') === -1">
      <div class="col-xs-12">
        <div class="checkbox" data-ng-class="{'has-error': form.agree_terms_check.$error.required && (form.agree_terms_check.$touched || form.agree_terms_check.$dirty || form.$submitted)}">
          <input type="checkbox" name="agree_terms_check" data-ng-model="agreeChecks.terms" id="agree_terms" data-ng-disabled="status.sending" required="">
          <label for="agree_terms">I agree to the terms</label>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="checkbox" data-ng-class="{'has-error': form.agree_contact_check.$error.required && (form.agree_contact_check.$touched || form.agree_contact_check.$dirty || form.$submitted)}">
          <input type="checkbox" name="agree_contact_check" data-ng-model="agreeChecks.contact" id="agree_contact" data-ng-disabled="status.sending" required="">
          <label for="agree_contact">I agree that a representative can contact me about my account</label>
        </div>
      </div>
      <div class="col-xs-12">
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div data-ng-class="{'alert alert-success' : status.type === 'success', 'alert alert-danger' : status.type === 'error'}">
          <span data-ng-bind="status.message"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" data-ng-class="::{'text-right': config.controlsOnRight}">
        <!--<br data-ng-hide="config.controlsOnRight"/>-->
        <button type="button" class="btn btn-danger" data-ng-disabled="status.sending" data-ng-click="resetForm()">Reset</button>
        <button type="submit" class="btn btn-info" data-ng-class="{'loading' : status.sending}"
                data-ng-disabled=" phone.sending || status.sending">
          <!--Submit-->
          <span data-ng-bind="config.submitText"></span>

          <i class="fa fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>
  </fieldset>
</form>
