<div class="container sub-header">
  <h1>About Us</h1>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean <br/> sollicitudin, lorem quis bibendum auctor, nisi</p>
</div>


<div class="about-us gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>A few words about us </h3>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentumquis neque. Suspendisse in orci enim.</p>
      </div>
      <div class="col-sm-6">
        <div class="async" data-iframe-loader="">
          <iframe src="//view.vzaar.com/1629182/player" width="100%" height="282" frameborder="0" allowTransparency="true" allowFullScreen="" webkitAllowFullScreen="" mozallowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="what-we-can-do white border-top">
  <div class="container animate" data-animation="fadeInLeft" data-duration="100">
    <div class="row">
      <div class="col-md-3">
        <h3>What we can
          do for you</h3>
        <p>
          This is Photoshop's
          version  of Lorem Ipsum.
          Proin gravida nibh vel
        </p>
      </div>
      <div class="col-md-9 text-center">
        <div class="row">
          <div class="col-sm-4">
            <img src="assets/images/awesome-service-1.png" alt="Awesome service"/>
            <h5>Awesome service 1</h5>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
          </div>
          <div class="col-sm-4">
            <img src="assets/images/awesome-service-2.png" alt="Awesome service"/>
            <h5>Awesome service 2</h5>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
          </div>
          <div class="col-sm-4">
            <img src="assets/images/awesome-service-3.png" alt="Awesome service"/>
            <h5>Awesome service 3</h5>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
          </div>
          <div class="clearfix"><br/><br/></div>
          <div class="col-sm-4">
            <img src="assets/images/awesome-service-4.png" alt="Awesome service"/>
            <h5>Awesome service 4</h5>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
          </div>
          <div class="col-sm-4">
            <img src="assets/images/awesome-service-5.png" alt="Awesome service"/>
            <h5>Awesome service 5</h5>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
          </div>
          <div class="col-sm-4">
            <img src="assets/images/awesome-service-6.png" alt="Awesome service"/>
            <h5>Awesome service 6</h5>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--need to know more component-->
<div data-need-to-know-more=""></div>

<div class="meet-our-awesome-team gray">
  <div class="container">
    <div class="row animate" data-animation="fadeInLeft" data-duration="100">
      <div class="col-md-3">
        <h3>Meet our
          awesome team</h3>
        <p>
          This is Photoshop's
          version  of Lorem Ipsum.
          Proin gravida nibh vel
        </p>
      </div>
      <div class="col-md-9 show-mobile">
        <div data-owl-carousel="" >
          <div owl-carousel-item="" ng-repeat="ourTeam in ::ourTeams" class="item">
              <div class="">
                <img data-ng-src="{{ ourTeam.image }}" alt="Sphere Tool" title="{{ourTeam.title}}" alt="Sphere Tool"/>
                <h4 data-ng-bind="ourTeam.name"></h4>
                <p  data-ng-bind="ourTeam.summary"></p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 show-desktop">
          <div class="col-sm-4 col-md-4" data-ng-repeat="ourTeam in ::ourTeams">
            <img data-ng-src="{{ ourTeam.image }}" alt="Sphere Tool" title="{{ourTeam.title}}" alt="Sphere Tool"/>
            <h4 data-ng-bind="ourTeam.name"></h4>
            <p  data-ng-bind="ourTeam.summary"></p>
          </div>
      </div>
    </div>
  </div>
</div>
