<div class="container sub-header">
  <h1>Product details page</h1>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean <br/> sollicitudin, lorem quis bibendum auctor, nisi</p>
</div>

<div class="why-hire-us gray">
  <div class="container">
    <!--product-overview component-->
    <div class="row" data-product-overview=""></div>
  </div>
</div>

<!--product details-->
<div ng-include="currentProduct.templateUrl || 'partials/productDetails/productDetails.comingSoon.view.html'"></div>

<!--need to know more component-->
<div data-need-to-know-more=""></div>
