<div class="product-details white border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Here's what it can do for you</h3>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
      </div>
      <div class="col-sm-6">
        <div class="async" data-iframe-loader="">
          <iframe src="//view.vzaar.com/1629182/player" width="500" height="282" frameborder="0" allowTransparency="true" allowFullScreen="" webkitAllowFullScreen="" mozallowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-slider gray border-top">
  <div class="container animate" data-animation="fadeInLeft" data-duration="100">
    <div class="row">
      <div class="col-sm-3">
        <h3>Here are some <br/>screenshots</h3>
        <p>This is Photoshop's <br>
          version  of Lorem Ipsum. <br>
          Proin gravida nibh vel </p>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div data-owl-carousel="" data-owl-carousel-options="{ items: 3 }">
            <div class="col-sm-12" data-owl-carousel-item="" data-ng-repeat="screenShot in ::currentProduct.screenShots track by $index">
              <img data-ng-src="{{screenShot.imagePath}}" alt="">
              <h4 data-ng-bind="screenShot.title"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
