<div class="product-details white border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 data-ng-bind="currentProduct.completeTitle"></h3>
        <p>Coming soon... please stay tuned.</p>
        <a data-ui-sref="public.products" class="btn btn-primary"><span class="fa fa-angle-left"></span> Back to products page</a>
      </div>
    </div>
  </div>
</div>
