<div class="col-sm-6">
  <p>Copyright © 2015
    <a href="http://www.benutech.com/" target="_blank" title="Benutech official website">Benutech Inc., LLC</a>.
    All rights reserved.</p>
</div>
<div class="col-sm-6 text-right">
  <div class="row">
    <a href="https://join.me/" target="_blank" class="btn-footer" title="Get remote login via join.me">
      <i class="fa fa-user"></i>
      Benutech remote login
    </a>
  </div>
</div>
