<div class="container">
  <div class="col-md-3 center">
    <h3>Our users are saying</h3>
    <p>This is Photoshop's
      version  of Lorem Ipsum.
      Proin gravida nibh vel </p>
  </div>
  <div class="col-sm-7 col-md-5">
    <div data-owl-carousel="" data-owl-carousel-ready="true">
      <div class="item">
        <p class="style">
          “This Work Example is a Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis nec sagittis sem nibh id elit.”
        </p>
        <div class="media">
          <div class="media-left media-middle">
            <img class="media-object" src="assets/images/footer-user.png" alt="">
          </div>
          <div class="media-body">
            <p>
              George Patterson <br/>
              Patterson Real Estate, LLC, <br/>
              Los Angeles, CA
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <p class="style">
          “This Work Example is a Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis nec sagittis sem nibh id elit.”
        </p>
        <div class="media">
          <div class="media-left media-middle">
            <img class="media-object" src="assets/images/footer-user.png" alt="">
          </div>
          <div class="media-body">
            <p>
              Ryan Marshall <br/>
              Benutech Real Estate, <br/>
              Irvine, CA
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <p class="style">
          “This Work Example is a third Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis nec sagittis sem nibh id elit.”
        </p>
        <div class="media">
          <div class="media-left media-middle">
            <img class="media-object" src="assets/images/footer-user.png" alt="">
          </div>
          <div class="media-body">
            <p>
              Farhan Khanzada <br/>
              Patterson Real Estate, LLC, <br/>
              Karachi, PK
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="show-mobile">
  <div class="col-sm-6 nav-back set-footer-gray">
    <div class="footer-position-top">
      <span>Call us toll free</span>
      <a href="tel:8668870206" title="Call 866.887.0206">866.887.0206</a>
    </div>
  </div>
  <div class="footer-position set-footer-white">
    <a class="pull-left" data-ui-sref="public.contact" title="Contact us"><b>Contact us</b></a>
    <a class="pull-left" data-ui-sref="public.support" title="Support Page"><b>Support Page</b></a>
    <p>
      Our team is here <br/> to help
      don't hesitate <br/> to contact us
    </p>
  </div>
</div>
<div class="col-sm-6 map">
  <div class="row">
    <div style="height: 313px;" class="async media-white" data-ol-map="" data-options="mapOptions"></div>
  </div>
</div>
<div class="col-sm-6 nav-back">
  <div class="footer-position-top hide-mobile">
    <span>Call us toll free</span>
    <a href="tel:8668870206" title="Call 866.887.0206">866.887.0206</a>

  </div>
  <div class="footer-position hide-mobile">
    <a data-ui-sref="public.contact" title="Contact us"><b>Contact us</b></a>
    <a data-ui-sref="public.support" title="Support Page"><b>Support Page</b></a>
    <p>
      Our team is here to help <br/>
      don't hesitate to contact us
    </p>

  </div>
  <ul class="nav" data-toggle-mobile-nav="">
    <li data-ui-sref-active="active"><a data-ui-sref="public.home" title="Home"><b>Home</b></a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="public.aboutUs" title="About Us"><b>About Us</b></a></li>
    <li data-ng-class="{'active': $state.current.name === 'public.products' || $state.current.name === 'public.productDetails'}">
      <a data-ui-sref="public.products" title="Products"><b>Products</b></a>
    </li>
    <li data-ng-class="{'active': $state.current.name === 'public.support' || $state.current.name === 'public.supportCategory'}">
      <a data-ui-sref="public.support" title="Support"><b>Support</b></a>
    </li>
    <li data-ui-sref-active="active"><a data-ui-sref="public.contact" title="Contact"><b>Contact</b></a></li>
  </ul>
  <p>
    <a href="javascript:" title="Terms of Use"><b>Terms of Use</b></a> <a href="javascript:" title="Privacy Policy"><b>Privacy Policy</b></a>
    <br/> <span>Copyright © 2015 Benutech Inc., LLC. All rights reserved</span>
  </p>
</div>
